<div class="card-content white ">
  <div class="card-body">
    <ngb-tabset #fLE="ngbTabset">
      <ngb-tab id="tab-formulario">
        <ng-template ngbTabTitle>
          <b>Formulario</b>
        </ng-template>
        <ng-template ngbTabContent>
          <form [formGroup]="leForm">
            <mat-tab-group dynamicHeight [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
              <mat-tab label="1">
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Identificadores</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">CODIGOLE:</label>
                    </div>
                    <div class="md-form col-md-4 mt-0">
                      <input mdbInputDirective type="text" id="formCodigoe" class="form-control" formControlName="codigole" data-error="Incorrecto "
                        data-success=" " required>
                    </div>
                    <div class="col-md-2 mt-0">
                      <mat-form-field>
                        <mat-select placeholder="IDENT" panelClass="color-panel-green" formControlName="ident">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sIdent of criterio_si_no" [value]="sIdent.value">
                            {{sIdent.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NOMBRES:</label>
                    </div>
                    <div class="md-form col-sm-9 mt-20 ">
                      <input mdbInputDirective type="text" id="formNomcomung" class="form-control" data-error=" " data-success=" " required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NOMCOMUNS:</label>
                    </div>
                    <div class="md-form col-sm-9 mt-20 ">
                      <input mdbInputDirective type="text" id="formNomcomung" class="form-control" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">RANGOS LE:</label>
                    </div>
                    <div class="md-form col-md-2 mt-20">
                      <input mdbInputDirective type="text" id="formRangoG" class="form-control" data-error=" " data-success=" ">
                      <label for="formRangoG">&nbsp;&nbsp;&nbsp;&nbsp;RANGOG</label>
                    </div>
                    <div class="md-form col-md-2 mt-20">
                      <input mdbInputDirective type="text" id="formRangoN" class="form-control" data-error=" " data-success=" ">
                      <label for="formRangoN">&nbsp;&nbsp;&nbsp;&nbsp;RANGON</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formRangos" class="form-control" data-error=" " data-success=" ">
                      <label for="formRangos">&nbsp;&nbsp;&nbsp;&nbsp;RANGOS</label>
                    </div>
                  </div>
                </div>
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Localizadores</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">SUBNACION:</label>
                    </div>
                    <div class="md-form col-md-4 mt10 ">
                      <input mdbInputDirective type="text" id="formSubnacion" class="form-control" formControlName="subnacion" data-error=" " data-success=" ">
                      <label for="formSubnacion"></label>
                    </div>
                    <div class="md-form col-md-4 mt10 ">
                      <input mdbInputDirective type="text" id="formSubdivision" class="form-control" formControlName="subdivision" data-error=" "
                        data-success=" ">
                      <label for="formSubdivision">&nbsp;&nbsp;&nbsp;&nbsp;SUBDIVISION</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">CODSITIO:</label>
                    </div>
                    <div class="md-form col-md-4 mt-20">
                      <input mdbInputDirective type="text" id="formCodsitio" class="form-control" formControlName="codsitio" data-error=" " data-success=" ">
                      <label for="formCodsitio"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NOMSITIO:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formNomsitio" class="form-control" formControlName="nomsitio" data-error=" " data-success=" ">
                      <label for="formNomsitio"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">SITIOEVA:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-20">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formSitioeva" class="md-textarea form-control" formControlName="sitioeva" rows="1"
                        data-error=" " data-success=" "></textarea>
                      <label for="formSitioeva">Anote</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">PRECISION:</label>
                    </div>
                    <div class="md-form col-md-4 mt-20">
                      <input mdbInputDirective type="text" id="formPrecision" class="form-control" formControlName="precisionl" data-error=" "
                        data-success=" ">
                      <label for="formPrecision"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NOMMAPA:</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formnNommapa" class="form-control" formControlName="nommapa" data-error=" " data-success=" ">
                      <label for="formnNommapa"></label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formnCommapa" class="form-control" formControlName="codmapa" data-error=" " data-success=" ">
                      <label for="formnCommapa">&nbsp;&nbsp;&nbsp;&nbsp;CODMAPA</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formNummarg" class="form-control" formControlName="nummarg" data-error=" " data-success=" ">
                      <label for="formNummarg">&nbsp;&nbsp;&nbsp;&nbsp;NUMMARG</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formNumpunto" class="form-control" formControlName="numpunto" data-error=" " data-success=" ">
                      <label for="formNumpunto">&nbsp;&nbsp;&nbsp;&nbsp;NUMPUNTO</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formDiezdiez" class="form-control" formControlName="diezdiez" data-error=" " data-success=" ">
                      <label for="formDiezdiez">&nbsp;&nbsp;&nbsp;&nbsp;DIEZDIEZ</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">COORDENADAS:</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formLatitud" class="form-control" formControlName="latitud" data-error=" " data-success=" ">
                      <label for="formLatitud">&nbsp;&nbsp;&nbsp;&nbsp;LATITUD</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formLongitud" class="form-control" formControlName="longitud" data-error=" " data-success=" ">
                      <label for="formLongitud">&nbsp;&nbsp;&nbsp;&nbsp;LONGITUD</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formCoords" class="form-control" formControlName="coords" data-error=" " data-success=" ">
                      <label for="formCoords">&nbsp;&nbsp;&nbsp;&nbsp;S</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formCoordn" class="form-control" formControlName="coordn" data-error=" " data-success=" ">
                      <label for="formCoordn">&nbsp;&nbsp;&nbsp;&nbsp;N</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formCoorde" class="form-control" formControlName="coorde" data-error=" " data-success=" ">
                      <label for="formCoorde">&nbsp;&nbsp;&nbsp;&nbsp;E</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formCoordo" class="form-control" formControlName="coordo" data-error=" " data-success=" ">
                      <label for="formCoordo">&nbsp;&nbsp;&nbsp;&nbsp;O</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">DIRECCION:</label>
                    </div>
                    <div class="md-form  col-md-9">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formDireccion" class="md-textarea form-control" formControlName="direccion" rows="1"
                        data-error=" " data-success=" "></textarea>
                      <label for="formDireccion">Debe indicar de manera precisa como llegar a la localización desde un punto de referencia.</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">ECOREGION:</label>
                    </div>
                    <div class="md-form col-md-4 mt-20 ">
                      <input mdbInputDirective type="text" id="formEcoregion" class="form-control" formControlName="ecoregion" data-error=" " data-success=" ">
                      <label for="formEcoregion"></label>
                    </div>
                    <div class="md-form col-md-4 mt-20 ">
                      <input mdbInputDirective type="text" id="formCuenca" class="form-control" formControlName="cuenca" data-error=" " data-success=" ">
                      <label for="formCuenca">&nbsp;&nbsp;&nbsp;&nbsp;CUENCA</label>
                    </div>
                  </div>

                </div>
                <div class="modal-content mat-elevation-z4 ">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Status</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">PRIOBS:</label>
                    </div>
                    <div class="md-form col-md-4 mt10">
                      <input mdbInputDirective type="text" id="formPriobs" class="form-control" formControlName="priobs" data-error=" " data-success=" ">
                      <label for="formPriobs"></label>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="md-form col-md-2 input-group-append mt10">
                      <input mdbInputDirective type="text" id="formFechaeva" class="form-control" formControlName="fechaeva" data-error=" " data-success=" "
                        ngbDatepicker #dFechaeva="ngbDatepicker">
                      <label for="formFechaeva">&nbsp;&nbsp;&nbsp;&nbsp;FECHAEVA</label>
                      <div (click)="dFechaeva.toggle()">
                        <i class="fa fa-calendar prefix"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">RANGOLE:</label>
                    </div>
                    <div class="col-md-2 mt-20">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="rangole">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sRangole of criterio_rango_le" [value]="sRangole.value">
                            {{sRangole.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="md-form col-md-2 input-group-append mt-20">
                      <input mdbInputDirective type="text" id="formUltobs" class="form-control" formControlName="ultobs" data-error=" " data-success=" "
                        ngbDatepicker #dUltobs="ngbDatepicker">
                      <label for="formUltobs">&nbsp;&nbsp;&nbsp;&nbsp;ULTOBS</label>
                      <div (click)="dUltobs.toggle()">
                        <i class="fa fa-calendar prefix"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7"></div>
                    <div class="md-form col-md-2 input-group-append mt-20">
                      <input mdbInputDirective type="text" id="formFecharangole" class="form-control" formControlName="fecharangole" data-error=" "
                        data-success=" " ngbDatepicker #dFecharangole="ngbDatepicker">
                      <label for="formFecharangole">&nbsp;&nbsp;&nbsp;&nbsp;FECHARANGOLE</label>
                      <div (click)="dFecharangole.toggle()">
                        <i class="fa fa-calendar prefix"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">COMRANGOLE:</label>
                    </div>
                    <div class="md-form col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formComrangole" class="md-textarea form-control" formControlName="comrangole"
                        rows="1" data-error=" " data-success=" "></textarea>
                      <label for="formComrangole">Una breve justificación del RANGOLE</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">DATOSLE:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formDatosle" class="md-textarea form-control" formControlName="datosle" rows="3"
                        data-error=" " data-success=" "></textarea>
                      <label for="formDatosle">Incluir datos del elemento en este sitio, como número tamaño, condición, características peculiares
                        y viabilidad.</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">CONTACTO:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formContacto" class="form-control" formControlName="contacto" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NUMCONTACTO:</label>
                    </div>
                    <div class="md-form col-md-4 mt-20 ">
                      <input mdbInputDirective type="text" id="formNumContacto" class="form-control" formControlName="numcontacto" data-error=" "
                        data-success=" ">
                      <label for="formNumContacto"></label>
                    </div>
                  </div>
                </div>
                <div class="text-center ">
                  <button class="btn color-green waves-light" (click)="tabPagina2()" mdbWavesEffect>Siguiente</button>
                  <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                </div>
              </mat-tab>
              <mat-tab label="2">
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Descripción</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">DESGEN:</label>
                    </div>
                    <div class="md-form col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formDesgen" class="md-textarea form-control" formControlName="desgen" rows="1"
                        data-error=" " data-success=" "></textarea>
                      <label for="formDesgen">Da una imagen descriptiva del lugar.</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">ELEV:</label>
                    </div>
                    <div class="md-form col-md-2 mt-20">
                      <input mdbInputDirective type="number" id="formElev" class="form-control" formControlName="elev" data-error=" " data-success=" ">
                      <label for="formElev">&nbsp;&nbsp;&nbsp;&nbsp;m.</label>
                    </div>
                    <div class="col-md-1">
                      <label for="">AREA:</label>
                    </div>
                    <div class="md-form col-md-2 mt-20">
                      <input mdbInputDirective type="number" id="formArea" class="form-control" formControlName="area" data-error=" " data-success=" ">
                      <label for="formArea">&nbsp;&nbsp;&nbsp;&nbsp; ha.</label>
                    </div>
                  </div>
                </div>
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Protección</h5>
                  </div>
                  <div class="row  mx-auto color-green">
                    <ng2-smart-table [settings]="settings_proteccion" [source]="source_proteccion">
                    </ng2-smart-table>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">MASTERRRENO:</label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="masterreno">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sMasterreno of criterio_si_no" [value]="sMasterreno.value">
                            {{sMasterreno.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select placeholder="MASPROTEC" panelClass="color-panel-green" formControlName="masprotec">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sMasprotec of criterio_si_no" [value]="sMasprotec.value">
                            {{sMasprotec.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select placeholder="MASMANEJO" panelClass="color-panel-green" formControlName="masmanejo">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sMasmanejo of criterio_si_no" [value]="sMasmanejo.value">
                            {{sMasmanejo.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select placeholder="INVOL.TNC" panelClass="color-panel-green" formControlName="involtnc">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sInvoltnc of criterio_si_no" [value]="sInvoltnc.value">
                            {{sInvoltnc.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">COMMANEJO:</label>
                    </div>
                    <div class="md-form col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formCommanejo" class="md-textarea form-control" formControlName="commanejo" rows="1"
                        data-error=" " data-success=" "></textarea>
                      <label for="formCommanejo">Comentarios sobre la necesidad de manejo y las posibilidades de realizarlas.</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">COMPROT:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formComprot" class="md-textarea form-control" formControlName="comprot" rows="1"
                        data-error=" " data-success=" "></textarea>
                      <label for="formCita">Comentarios sobre la necesidad de protección legal y las posibilidades de realizarlas.</label>
                    </div>
                  </div>
                </div>
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Propietario</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">PROP:</label>
                    </div>
                    <div class="md-form col-md-5 mt-3">
                      <input mdbInputDirective type="text" id="formProp" class="form-control" formControlName="prop" data-error=" " data-success=" ">
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select placeholder="INFPROP" panelClass="color-panel-green" formControlName="infprop">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sInfprop of criterio_si_no" [value]="sInfprop.value">
                            {{sInfprop.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">COMPROP</label>
                    </div>
                    <div class="md-form  col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formComprop" class="md-textarea form-control" formControlName="comprop" rows="1"
                        data-error=" " data-success=" "></textarea>
                      <label for="formComprop">Escriba información sobre el dueño, como su dirrección o situación legal con respecto a la tierra (ejemplo,
                        propiedad privada adentro de un Parque Nacional).</label>
                    </div>
                  </div>
                </div>
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Campos Opcionales</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC1:</label>
                    </div>
                    <div class="md-form col-md-9 mt10">
                      <input mdbInputDirective type="text" id="formLeopc1" class="form-control" formControlName="leopc1" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC2:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formLeopc2" class="form-control" formControlName="leopc2" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC3:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formLeopc3" class="form-control" formControlName="leopc3" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC4:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formLeopc4" class="form-control" formControlName="leopc4" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC5:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-20">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formLeopc5" class="md-textarea form-control" formControlName="leopc5" rows="1"
                        data-error=" " data-success=" "></textarea>
                      <label for="formLeopc5">Anote</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">Le.OPC6:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formLeopc6" class="form-control" formControlName="leopc6" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC7:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formLeopc7" class="form-control" formControlName="leopc7" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC8:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formLeopc8" class="form-control" formControlName="leopc8" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC9:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective type="text" id="formLeopc9" class="form-control" formControlName="leopc9" data-error=" " data-success=" ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">LE.OPC10:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-20">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formLeopc10" class="md-textarea form-control" formControlName="leopc10" rows="1"
                        data-error=" " data-success=" "></textarea>
                      <label for="formRcpnopc5">Anote</label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn color-green waves-light" (click)="tabPagina1()" mdbWavesEffect>Atras</button>
                  <button class="btn color-green waves-light" (click)="tabPagina3()" mdbWavesEffect>Siguiente</button>
                  <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                </div>
              </mat-tab>
              <mat-tab label="3">
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Comentarios generales</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">COMENTARIO:</label>
                    </div>
                    <div class="md-form  col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formComentario" class="md-textarea form-control" formControlName="comentario"
                        rows="2" data-error=" " data-success=" "></textarea>
                      <label for="formComentario">Cualquier información no incluída en otros campos como.</label>
                    </div>
                  </div>
                </div>
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">Documentación y Mantenimiento</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">SENSDATOS:</label>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="sensdatos">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sSensdatos of criterio_si_no" [value]="sSensdatos.value">
                            {{sSensdatos.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select placeholder="LIMITES" panelClass="color-panel-green" formControlName="limites">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sLimites of criterio_si_no" [value]="sLimites.value">
                            {{sLimites.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select placeholder="FOTOS" panelClass="color-panel-green" formControlName="fotos">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sFotos of criterio_si_no" [value]="sFotos.value">
                            {{sFotos.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">MEJORFUENTE</label>
                    </div>
                    <div class="md-form  col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective type="text" id="formMejorfuente" class="md-textarea form-control" formControlName="mejorfuente"
                        rows="2" data-error=" " data-success=" "></textarea>
                      <label for="formMejorfuente">El mejor fuente de información sobre esta LE; no necesariamente la más reciente.</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">CODFUENTE</label>
                    </div>
                    <div class="md-form col-md-4 mt-20">
                      <input mdbInputDirective type="text" id="formCodfuente" class="form-control" formControlName="codfuente" data-error=" " data-success=" ">
                      <label for="formCodfuente"></label>
                    </div>
                    <div class="col-md-2 mt-20">
                      <mat-form-field>
                        <mat-select placeholder="MDREV" panelClass="color-panel-green" formControlName="mdrev">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sMdrev of criterio_si_no" [value]="sMdrev.value">
                            {{sMdrev.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="md-form col-md-2 input-group-append mt-20">
                      <input mdbInputDirective type="text" id="formTranscrito" class="form-control" formControlName="transcrito" data-error=" "
                        data-success=" " ngbDatepicker #dTranscrito="ngbDatepicker">
                      <label for="formTranscrito">&nbsp;&nbsp;&nbsp;&nbsp;TRANSCRITO</label>
                      <div (click)="dTranscrito.toggle()">
                        <i class="fa fa-calendar prefix"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">CC:</label>
                    </div>
                    <div class="col-md-2 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="cc">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sCc of criterio_si_no" [value]="sCc.value">
                            {{sCc.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="md-form col-md-2 input-group-append mt-15">
                      <input mdbInputDirective type="text" id="formCartografo" class="form-control" formControlName="cartografo" data-error=" "
                        data-success=" " ngbDatepicker #dCartografo="ngbDatepicker">
                      <label for="formCartografo">&nbsp;&nbsp;&nbsp;&nbsp;CARTOGRAFO</label>
                      <div (click)="dCartografo.toggle()">
                        <i class="fa fa-calendar prefix"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">RESPDATOS:</label>
                    </div>
                    <div class="md-form col-md-2 mt-20 ">
                      <input mdbInputDirective type="text" id="formRespdatos" class="form-control" formControlName="respdatos" data-error=" " data-success=" ">
                    </div>
                    <div class="md-form col-md-2 input-group-append mt-15">
                      <input mdbInputDirective type="text" id="formActualizar" class="form-control" formControlName="actualizar" data-error=" "
                        data-success=" " ngbDatepicker #dActualizar="ngbDatepicker">
                      <label for="formActualizar">&nbsp;&nbsp;&nbsp;&nbsp;ACTUALIZAR</label>
                      <div (click)="dActualizar.toggle()">
                        <i class="fa fa-calendar prefix"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center ">
                  <div *ngIf="loading">
                    <img src="assets/imagenes/load.gif">
                  </div>
                  <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
                  <button class="btn color-green waves-light" (click)="tabPagina2()" mdbWavesEffect>Atras</button>
                  <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                  <button class="btn color-green waves-light" (click)="openDialogo()" mdbWavesEffect>Guardar</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </form>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-buscar">
        <ng-template ngbTabTitle>
          <b>Buscar</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="modal-content mat-elevation-z4">
            <div class="modal-header color-green "></div>
            <form class="base-form">
              <mat-form-field class="base-full-width">
                <input matInput placeholder="Codigo Localización Elemento">
              </mat-form-field>
              <mat-form-field class="base-full-width">
                <input matInput placeholder="Nombre Subnacional">
              </mat-form-field>
              <mat-form-field class="base-full-width">
                <input matInput placeholder="Nombre Común Subnacional">
              </mat-form-field>
              <div class="mat-elevation-z8" class="base-form">
                <button mat-raised-button class="color-green">Buscar</button>
                <button mat-raised-button class="color-green">Buscar Todos</button>
              </div>
            </form>
          </div>
          <app-tabla-busqueda></app-tabla-busqueda>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>