<app-navbar></app-navbar>
<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card tab-black mt-alinear ml-alinear">
          <div class="card-tabs">
            <ngb-tabset #t="ngbTabset">
              <ngb-tab id="tab-selectbyid1" title="Localización del Elemento">
                <ng-template ngbTabContent>
                  <app-formulario-le></app-formulario-le>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-selectbyid3" title="Protocolo Localización Elemento">
                <ng-template ngbTabContent>
                  <app-protocolo-le></app-protocolo-le>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>