<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card tab-black mt-alinear ml-alinear">
          <div class="card-tabs">
            <ngb-tabset #t="ngbTabset">
              <ngb-tab id="tab-selectbyid1" title="Registro basico del sitio">
                <ng-template ngbTabContent>
                  <app-registro-sitio></app-registro-sitio>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-selectbyid2" title="Buscar Sitio">
                <ng-template ngbTabContent>
                  <app-buscar-sitio></app-buscar-sitio>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin fondo -->