<div class="card-content white">
  <div class="card-body">
    <ngb-tabset #Telemento="ngbTabset">
      <ngb-tab id="tab-formulario">
        <ng-template ngbTabTitle>
          <b>Formulario</b>
        </ng-template>
        <ng-template ngbTabContent>
          <form [formGroup]="elementoForm" (ngSubmit)="onSubmit()">
            <div class="modal-content">
              <div class="modal-header color-green">
                <h5 class="modal-tittle">Elemento</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">CODIGO ELEMENTO:</label>
                </div>
                <div class="md-form col-md-9 mt10">
                  <input mdbInputDirective type="text" id="formCodigoe" class="form-control" formControlName="codigo" data-error=" " data-success=" " dis>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">NOMBRE COMÚN:</label>
                </div>
                <div class="md-form col-md-9 mt-20">
                  <input mdbInputDirective type="text" id="formNombrecomun" class="form-control" formControlName="nombrecomun" data-error=" "
                    data-success=" ">
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">NOMBRE CIENTÍFICO:</label>
                </div>
                <div class="md-form col-md-9 mt-20">
                  <input mdbInputDirective type="text" id="formNombrecientifico" class="form-control" formControlName="nombrecientifico" data-error=" "
                    data-success=" ">
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">COMENTARIO:</label>
                </div>
                <div class="md-form  col-md-9 mt-20">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbInputDirective type="text" id="formComentario" class="md-textarea form-control" formControlName="comentario"
                    rows="1" data-error=" " data-success=" "></textarea>
                  <label for="formComentario">Anote</label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-8"></div>
                <div class="md-form col-md-2 input-group-append mt-20">
                  <input mdbInputDirective type="text" id="formFecha" class="form-control" formControlName="fecha" data-error=" " data-success=" "
                    ngbDatepicker #dFecha="ngbDatepicker">
                  <label for="formFecha">&nbsp;&nbsp;&nbsp;&nbsp;FECHA</label>
                  <div (click)="dFecha.toggle()">
                    <i class="fa fa-calendar prefix"></i>
                  </div>
                </div>
              </div>
              <!-- fin row -->
            </div>
            <!-- fin modal-content  -->
            <div class="modal-content">
              <div class="modal-header color-green">
                <h5 class="modal-tittle">Fotos</h5>
              </div>
            </div>
            <!-- fin modal-content  -->
            <div class="text-center">
              <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
              <!-- <input type="submit" class="btn color-green waves-light" [disabled]="!elementoForm.valid" mdbWavesEffect value="Guardar"> -->
              <button class="btn color-green waves-light" type="submit" [disabled]="!elementoForm.valid" mdbWavesEffect>Guardar</button>
              <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar </button>
            </div>
          </form>
          <!-- fin form -->
        </ng-template>
      </ngb-tab>
      <!-- fin ngb-tab -->
      <ngb-tab id="tab-editar">
        <ng-template ngbTabTitle>
          <b>Buscar Elemento</b>
        </ng-template>
        <ng-template ngbTabContent>
          <mat-card>
            <!-- <button mat-button><i class="fa fa-pencil"></i></button> -->
            <form [formGroup]="buscarForm" class="base-form">
              <mat-form-field class="base-full-width">
                <input matInput placeholder="Codigo del Elemento" formControlName="codigo" [errorStateMatcher]="matcher">
              </mat-form-field>
              <mat-form-field class="base-full-width">
                <input matInput placeholder="Nombre Común" formControlName="nombrecomun" [errorStateMatcher]="matcher">
              </mat-form-field>
              <mat-form-field class="base-full-width">
                <input matInput placeholder="Nombre Científico" formControlName="nombrecientifico" [errorStateMatcher]="matcher">
              </mat-form-field>
              <div class="mat-elevation-z8" class="base-form">
                <button mat-raised-button class="color-green" (click)="buscarElemento()">Buscar</button>
                <button mat-raised-button class="color-green">Buscar Todos</button>
              </div>
            </form>
            <app-tabla-busqueda></app-tabla-busqueda>
          </mat-card>
        </ng-template>

      </ngb-tab>
      <!-- fin ngb-tab -->
    </ngb-tabset>
    <!-- fin ngb-tabset -->
  </div>
  <!-- fin-card-body -->
</div>
<!-- fin card-content -->