<div class="card-content white">
  <mat-card>
    <form class="base-form">
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Codigo del Elemento">
      </mat-form-field>
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Nombre  Global">
      </mat-form-field>
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Nombre  Nacional">
      </mat-form-field>
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Nombre Común Nacional">
      </mat-form-field>
      <div class="mat-elevation-z8" class="base-form">
        <button mat-raised-button class="color-green">Buscar</button>
        <button mat-raised-button class="color-green">Buscar Todos</button>
      </div>
    </form>
    <app-tabla-busqueda></app-tabla-busqueda>
  </mat-card>
</div>