<div class="card-content white">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Formulario">
            <div class="card-body">
                <form [formGroup]="protocoloLeForm">
                    <div class="modal-content mat-elevation-z8">
                        <div class="modal-header  color-green">
                            <h5 class="modal-title">Protocolo LE</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="">CODIGOE:</label>
                            </div>
                            <div class="md-form col-md-3 mt10">
                                <input mdbInputDirective type="text" id="formCodigoe" class="form-control" formControlName="codigoe" data-error="" data-success="correcto"
                                    required>
                                <label for="formCodigoe"></label>
                            </div>
                            <div class="md-form col-md-2 mt10">
                                <input mdbInputDirective type="text" id="formRangoG" class="form-control" formControlName="rangog" data-error=" " data-success=" ">
                                <label for="formRangoG">&nbsp;&nbsp;&nbsp;&nbsp;RANGOG</label>
                            </div>
                            <div class="md-form col-md-2 mt10">
                                <input mdbInputDirective type="text" id="formRangoN" class="form-control" formControlName="rangon" data-error=" " data-success=" ">
                                <label for="formRangoN">&nbsp;&nbsp;&nbsp;&nbsp;RANGON</label>
                            </div>
                            <div class="md-form col-md-2 mt10">
                                <input mdbInputDirective type="text" id="formRangos" class="form-control" formControlName="rangos" data-error=" " data-success=" ">
                                <label for="formRangos">&nbsp;&nbsp;&nbsp;&nbsp;RANGOS</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="">NOMBRE:</label>
                            </div>
                            <div class="md-form col-md-9 mt-20 ">
                                <input mdbInputDirective type="text" id="formNombre" class="form-control" formControlName="nombre" data-error="incorrecto"
                                    data-success="correcto">
                                <label for="formNombre"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="">NOMCOMUN:</label>
                            </div>
                            <div class="md-form col-md-9 mt-20">
                                <input mdbInputDirective type="text" id="formNomcomun" class="form-control" formControlName="nomcomun" data-error="incorrecto"
                                    data-success="correcto">
                                <label for="formNomcomun"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="md-form col-md-2 input-group-append mt-20">
                                <input mdbInputDirective type="text" id="formFecha" class="form-control" formControlName="fecha" data-error=" " data-success=" "
                                    ngbDatepicker #dFecha="ngbDatepicker">
                                <label for="formFecha">&nbsp;&nbsp;&nbsp;&nbsp;FECHA</label>
                                <div (click)="dFecha.toggle()">
                                    <i class="fa fa-calendar prefix"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-auto color-green">
                            <ng2-smart-table [settings]="settings_Protocolo" [source]="source_Protocolo">
                            </ng2-smart-table>
                        </div>
                    </div>
                    <div class="text-center ">
                        <div *ngIf="loading">
                            <img src="assets/imagenes/load.gif">
                        </div>
                        <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
                        <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        <button class="btn color-green waves-light" (click)="openDialogo()" mdbWavesEffect>Guardar</button>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Buscar">
            <div class="card-body">
                <div class="modal-content mat-elevation-z8">
                    <div class="modal-header color-green"></div>
                    <form class="base-form">
                        <mat-form-field class="base-full-width">
                            <input matInput placeholder="Codigo del Elemento">
                        </mat-form-field>
                        <mat-form-field class="base-full-width">
                            <input matInput placeholder="Nombre">
                        </mat-form-field>
                        <mat-form-field class="base-full-width">
                            <input matInput placeholder="Nombre Común">
                        </mat-form-field>
                        <div class="mat-elevation-z8" class="base-form">
                            <button mat-raised-button class="color-green">Buscar</button>
                            <button mat-raised-button class="color-green">Buscar Todos</button>
                        </div>
                    </form>
                </div>
                <app-tabla-busqueda></app-tabla-busqueda>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>