<div class="card-content white">
  <div class="card-body">
      <ngb-tabset #fProtocolo="ngbTabset">
          <!-- página 1 -->
          <ngb-tab id="tab-selectbyid1">
              <ng-template ngbTabTitle>
                  <b>Protocolos</b>
              </ng-template>
              <ng-template ngbTabContent>
                  <form action="">
                    <div class="modal-content">
                        <div class="modal-header  color-green">
                            <h5 class="modal-title">Protocolo LE</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="">CODIGOE:</label>
                            </div>
                            <div class="md-form col-md-3 mt10">
                                <input mdbInputDirective type="text" id="formCodigoe" class="form-control"  data-error=""
                                  data-success="correcto" required>
                                  <label for="formCodigoe"></label>
                              </div> 
                              <div class="col-md-1">
                                <label for="">RANGOG:</label>
                            </div>
                            <div class="col-md-2 mt10">
                                <select class="form-control color-green color-hover-black"  >
                                 <option *ngFor="let sRangog of criterio_rangog" [value]="sRangog">{{sRangog}}</option>                                
                                </select>
                              </div>     
                              <div class="col-md-1">
                                <label for="">RANGON:</label>
                            </div>
                            <div class="col-md-2 mt10">
                                <select class="form-control  color-green color-hover-black"  >
                                 <option *ngFor="let sRangon of criterio_rangon" [value]="sRangon">{{sRangon}}</option>                                
                                </select>
                              </div>            
                        </div>
                        <!-- fin row -->
                        <div class="row">
                        <div class="col-md-2">
                            <label for="">NOMBRE:</label>
                        </div>
                        <div class="md-form col-md-9 mt-20 ">
                            <input mdbInputDirective type="text" id="formNombre" class="form-control"  data-error="incorrecto"
                              data-success="correcto" >
                              <label for="formNombre"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                            <div class="col-md-2">
                                <label for="">NOMCOMUN:</label>
                            </div>
                            <div class="md-form col-md-9 mt-20">
                                <input mdbInputDirective type="text" id="formNomcomun" class="form-control"  data-error="incorrecto"
                                  data-success="correcto" >
                                  <label for="formNomcomun"></label>
                              </div>
                        </div>
                        <!-- fin row-->
                        <div class="row mx-auto color-green">
                            <ng2-smart-table [settings]="settings_Protocolo"
                             [source]="source_Protocolo">
                            </ng2-smart-table>
                        </div>
                        <!-- fin row -->

                    </div> 
                    <!-- fin modal- content -->
                    <div class="text-center ">
                            <button class="btn color-green waves-light"  type="submit" mdbWavesEffect>Guardar</button>                     
                            <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>                    
                    </div>
                  </form>
                  <!-- fin form -->                
              </ng-template>
              <!-- fin ng-template -->
          </ngb-tab>
          <!-- fin ngb-tab -->
          <!-- página 2 -->
          <ngb-tab id="tab-selectbyid2">
                  <ng-template ngbTabTitle>
                      <b>Editar</b>
                  </ng-template>
                  <ng-template ngbTabContent>
                      <form action="">
  
                      </form>
                      <!-- fin form -->
                      <div class="text-center ">
                          <p>
                              <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Guardar</button>                 
                              <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                          </p>
                      </div>
                  </ng-template>
                  <!-- fin ng-template -->
              </ngb-tab>
          <!-- fin ngb-tab -->         
      </ngb-tabset>
      <!-- fin ngb-tabset -->
  </div>
  <!-- fin card-body -->
</div>
<!-- fin card-content -->