<div class="card-content white">
  <div class="card-body">
    <ngb-tabset #JerarquizacionGlobal="ngbTabset">
      <ngb-tab id="tab-formulario">
        <ng-template ngbTabTitle>
          <b>Formulario</b>
        </ng-template>
        <ng-template ngbTabContent>
          <form [formGroup]="jerarquizacion_Global_Form">
            <mat-tab-group dynamicHeight [selectedIndex]="selected.value"
              (selectedIndexChange)="selected.setValue($event)">
              <mat-tab label="1">
                <div class="text-center">
                  <div *ngIf="loading">
                    <img src="assets/imagenes/load.gif">
                  </div>
                </div>
                <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">
                  {{ successMessage }}</ngb-alert>
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">
                      <font size=4 color="white">JERARQUIZACION DEL ELEMENTO (GLOBAL)</font>
                    </h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">CODIGOE:</label>
                    </div>
                    <div class="md-form col-md-4 mt-1" *ngIf="editar">
                      <input mdbInputDirective mdbValidate type="text" id="formCodigoe" class="form-control"
                        formControlName="codigoe">
                      <mdb-error *ngIf="input_codigoe.invalid && (input_codigoe.dirty || input_codigoe.touched)">
                        <font size=2 color="red">Error, máximo 10 caracteres.</font>
                      </mdb-error>
                    </div>
                    <div class="md-form col-md-4 mt-1" *ngIf="guardar">
                      <input mdbInputDirective type="text" id="formCodigoe" class="form-control"
                        formControlName="codigoe" disabled>
                    </div>
                    <div class="col-md-2">
                      <div class="mat-elevation-z8" class="base-form">
                        <button mat-raised-button class="color-green" (click)="validarCodigoe()">
                          <font size=2 color="white">Validar</font>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NOMBREG:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective mdbValidate type="text" id="formNombreg" class="form-control"
                        formControlName="nombreg">
                      <mdb-error *ngIf="input_nombreg.invalid && (input_nombreg.dirty || input_nombreg.touched)">
                        <font size=2 color="red">Error, máximo 60 caracteres.</font>
                      </mdb-error>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">DESCRIELEM:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective mdbValidate type="text" id="formDescrielem" class="form-control"
                        formControlName="descrielem">
                      <mdb-error
                        *ngIf="input_descrielem.invalid && (input_descrielem.dirty || input_descrielem.touched)">
                        <font size=2 color="red">Error, máximo 60 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">ESPECLE:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formEspecle"
                        class="md-textarea form-control" formControlName="especle" rows="4"></textarea>
                      <label for="formEspecle">Especificaciones LE. Describa como aparece el elemento en su
                        región.</label>
                      <mdb-error *ngIf="input_especle.invalid && (input_especle.dirty || input_especle.touched)">
                        <font size=2 color="red">Error, máximo 240 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">ESPECRANGA:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formEspecranga"
                        class="md-textarea form-control" formControlName="especranga" rows="2"></textarea>
                      <label for="formEspecranga">Escríba una descripción de qué es un LE para este rango.</label>
                      <mdb-error
                        *ngIf="input_especranga.invalid && (input_especranga.dirty || input_especranga.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">ESPECRANGB:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formEspecrangb"
                        class="md-textarea form-control" formControlName="especrangb" rows="2"></textarea>
                      <label for="formEspecrangb">Escríba una descripción de qué es un LE para este rango.</label>
                      <mdb-error
                        *ngIf="input_especrangb.invalid && (input_especrangb.dirty || input_especrangb.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">ESPECRANGC:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formEspecrangc"
                        class="md-textarea form-control" formControlName="especrangc" rows="2"></textarea>
                      <label for="formEspecrangc">Escríba una descripción de qué es un LE para este rango.</label>
                      <mdb-error
                        *ngIf="input_especrangc.invalid && (input_especrangc.dirty || input_especrangc.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">ESPECRANGD:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formEspecrangd"
                        class="md-textarea form-control" formControlName="especrangd" rows="2"></textarea>
                      <label for="formEspecrangd">Escríba una descripción de qué es un LE para este rango.</label>
                      <mdb-error
                        *ngIf="input_especrangd.invalid && (input_especrangd.dirty || input_especrangd.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">HABITAT:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formHabitat"
                        class="md-textarea form-control" formControlName="habitat" rows="2"></textarea>
                      <label for="formHabitat">Para especies , describa el habitat. Para comunidades , definir la
                        comunidad</label>
                      <mdb-error *ngIf="input_habitat.invalid && (input_habitat.dirty || input_habitat.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">PERMANENCIA:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formPermanencia"
                        class="md-textarea form-control" formControlName="permanencia" rows="2"></textarea>
                      <label for="formPermanencia">Anote información que indique el grado de permanencia o estabilidad
                        de la LE.</label>
                      <mdb-error
                        *ngIf="input_permanencia.invalid && (input_permanencia.dirty || input_permanencia.touched)">
                        <font size=2 color="red">Error, máximo 60 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GLOCTIP:</label>
                    </div>
                    <div class="md-form col-md-9 mt-20">
                      <input mdbInputDirective mdbValidate type="text" id="formLoctipg" class="form-control"
                        formControlName="gloctip">
                      <label for="formLoctipg">&nbsp;&nbsp;&nbsp;&nbsp;Indentificar el mejor sitio conocido en el
                        país.</label>
                      <mdb-error *ngIf="input_gloctip.invalid && (input_gloctip.dirty || input_gloctip.touched)">
                        <font size=2 color="red">Error, máximo 50 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">COMTAX:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formComtaxg"
                        class="md-textarea form-control" formControlName="comtax" rows="4"></textarea>
                      <label for="formComtaxg">Indique la distinción taxonómica del elemento.</label>
                      <mdb-error *ngIf="input_comtax.invalid && (input_comtax.dirty || input_comtax.touched)">
                        <font size=2 color="red">Error, máximo 240 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GLESTIM:</label>
                    </div>
                    <div class="col-md-3 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="glestim">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sGlestim of criterio_glestim" [value]="sGlestim.value">
                            {{sGlestim.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GLESTIMCOM:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-0">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formComlestimg"
                        class="md-textarea form-control" formControlName="glestimcom" rows="2"></textarea>
                      <label for="formComlestimg">De ser posible anote el número exacto de localizaciones existentes
                        conocidas.</label>
                      <mdb-error
                        *ngIf="input_glestimcom.invalid && (input_glestimcom.dirty || input_glestimcom.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GABUND:</label>
                    </div>
                    <div class="col-md-7 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="gabund">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sAbundg of criterio_gabund" [value]="sAbundg.value">
                            {{sAbundg.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GABUNDCOM:</label>
                    </div>
                    <div class="md-form  col-md-9  mt-0">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGabundcom"
                        class="md-textarea form-control" formControlName="gabundcom" rows="2" data-error=" "
                        data-success=" "></textarea>
                      <label for="formGabundcom">A menudo resulta complicado estimar la abundancia de un elemento.
                        Comente sobre esto. </label>
                      <mdb-error *ngIf="input_gabundcom.invalid && (input_gabundcom.dirty || input_gabundcom.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GDIST:</label>
                    </div>
                    <div class="col-md-6 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="gdist">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sDistg of criterio_gdist" [value]="sDistg.value">
                            {{sDistg.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GDISTCOM:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-0">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGdistcom"
                        class="md-textarea form-control" formControlName="gdistcom" rows="4"></textarea>
                      <label for="formGdistcom">Se especifica los países o regiones ecológicas donde se encuentra el
                        elemento actualmente.</label>
                      <mdb-error *ngIf="input_gdistcom.invalid && (input_gdistcom.dirty || input_gdistcom.touched)">
                        <font size=2 color="red">Error, máximo 240 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                </div>
                <div class="text-center ">
                  <button class="btn color-green waves-light" (click)="tabPagina2()" mdbWavesEffect>Siguiente</button>
                  <button class="btn color-green waves-light" (click)="nuevo()" mdbWavesEffect>Nuevo</button>
                </div>
              </mat-tab>
              <mat-tab label="2">
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">
                      <font size=4 color="white">JERARQUIZACIÓN DEL ELEMENTO (GLOBAL)</font>
                    </h5>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GLEPROT:</label>
                    </div>
                    <div class="col-md-4 mt10">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="gleprot">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sGleprot of criterio_gleprot" [value]="sGleprot.value">
                            {{sGleprot.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- fin row -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GLEPROTCOM:</label>
                    </div>
                    <div class="md-form  col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGleprotcom"
                        class="md-textarea form-control" formControlName="gleprotcom" rows="2"></textarea>
                      <label for="formGleprotcom">En qué país o países están protegidas y qué tipo de protección
                        tienen.</label>
                      <mdb-error
                        *ngIf="input_gleprotcom.invalid && (input_gleprotcom.dirty || input_gleprotcom.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!-- fin row -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GAMENAZ:</label>
                    </div>
                    <div class="col-md-9 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="gamenaz">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sGamenaz of criterio_gamenaz" [value]="sGamenaz.value">
                            {{sGamenaz.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GAMENAZCOM:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-0">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGamenazcom"
                        class="md-textarea form-control" formControlName="gamenazcom" rows="2"></textarea>
                      <label for="formGamenazcom">Indique la amenaza, por ejemplo: "tierras primarias para
                        cultivos"</label>
                      <mdb-error
                        *ngIf="input_gamenazcom.invalid && (input_gamenazcom.dirty || input_gamenazcom.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GFRAGIL:</label>
                    </div>
                    <div class="col-md-4 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="gfragil">
                          <mat-option>-- Ningún valor --</mat-option>
                          <mat-option *ngFor="let sGfragil of criterio_gfragil" [value]="sGfragil.value">
                            {{sGfragil.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GFRAGILCOM:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-0">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGfragilcom"
                        class="md-textarea form-control" formControlName="gfragilcom" rows="2"></textarea>
                      <label for="formGfragilcom">Comente al respecto. Por ejemplo, por qué es frágil.</label>
                      <mdb-error
                        *ngIf="input_gfragilcom.invalid && (input_gfragilcom.dirty || input_gfragilcom.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GOTROCONSI:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGotroconsi"
                        class="md-textarea form-control" formControlName="gotroconsi" rows="2"></textarea>
                      <label for="formGotroconsi">Otro criterios. Anote cualiesquiera otros factores que considere
                        importantes.</label>
                      <mdb-error
                        *ngIf="input_gotroconsi.invalid && (input_gotroconsi.dirty || input_gotroconsi.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-2">
                      <label for="">RANGOG:</label>
                    </div>
                    <div class="col mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="rangog">
                          <mat-option>-- Ningún valor --</mat-option>
                          <mat-option *ngFor="let sRangog of criterio_rangog" [value]="sRangog.value">
                            {{sRangog.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col mt-12">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker_Fecharg" placeholder="FECHARG"
                          formControlName="fecharg">
                        <mat-datepicker-toggle matSuffix [for]="picker_Fecharg"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_Fecharg></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GRANRAZON:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-5">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGranranzon"
                        class="md-textarea form-control" formControlName="granrazon" rows="3"></textarea>
                      <label for="formGranranzon">Dar las razones para este rango, mencionando los mejores factores de
                        jerarquización y otras consideraciones.</label>
                      <mdb-error *ngIf="input_granrazon.invalid && (input_granrazon.dirty || input_granrazon.touched)">
                        <font size=2 color="red">Error, máximo 240 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GNECPROTEC:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-20">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGnecprotec"
                        class="md-textarea form-control" formControlName="gnecprotec" rows="2"></textarea>
                      <label for="formGnecprotec">Dar el número estimado de LE adecuados para sostener el elemento a
                        través de su distribución.</label>
                      <mdb-error
                        *ngIf="input_gnecprotec.invalid && (input_gnecprotec.dirty || input_gnecprotec.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GNECINVENT:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-20">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGnecinvent"
                        class="md-textarea form-control" formControlName="gnecinvent" rows="2"></textarea>
                      <label for="formGnecinvent">Necesidades de inventario.</label>
                      <mdb-error
                        *ngIf="input_gnecinvent.invalid && (input_gnecinvent.dirty || input_gnecinvent.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GNECESTUDI:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-20">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGnecestudi"
                        class="md-textarea form-control" formControlName="gnecestudi" rows="2"></textarea>
                      <label for="formGnecestudi">Escriba las necesidades de investigacion de la biología del
                        elemento.</label>
                      <mdb-error
                        *ngIf="input_gnecestudi.invalid && (input_gnecestudi.dirty || input_gnecestudi.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">GNECMANEJO:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-20">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formGnecmanejo"
                        class="md-textarea form-control" formControlName="gnecmanejo" rows="2"></textarea>
                      <label for="formGnecmanejo">Discutir las estrategias que deberían utilizarse para proteger el
                        elemento.</label>
                      <mdb-error
                        *ngIf="input_gnecmanejo.invalid && (input_gnecmanejo.dirty || input_gnecmanejo.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">RESRG:</label>
                    </div>
                    <div class="md-form col-md-9 mt-5 ">
                      <input mdbInputDirective mdbValidate type="text" id="formResrg" class="form-control"
                        formControlName="resrg">
                      <label for="formResrg">&nbsp;&nbsp;&nbsp;&nbsp;Responsable de preparar y mantener el
                        formulario.</label>
                      <mdb-error *ngIf="input_resrg.invalid && (input_resrg.dirty || input_resrg.touched)">
                        <font size=2 color="red">Error, máximo 10 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">EDAUTOR:</label>
                    </div>
                    <div class="md-form col-md-7 mt-5">
                      <input mdbInputDirective mdbValidate type="text" id="formEdautor" class="form-control"
                        formControlName="edautor">
                      <label for="formEdautor">&nbsp;&nbsp;&nbsp;&nbsp;Escriba su nombre.</label>
                      <mdb-error *ngIf="input_edautor.invalid && (input_edautor.dirty || input_edautor.touched)">
                        <font size=2 color="red">Error, máximo 30 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="md-form col-md-3 mt-5">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker_Edicion" placeholder="EDICION FECHA"
                          formControlName="edicion">
                        <mat-datepicker-toggle matSuffix [for]="picker_Edicion"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_Edicion></mat-datepicker>
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="md-form col-md-3 mt-5">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker_Actualizar" placeholder="ACTUALIZAR FECHA"
                          formControlName="actualizar">
                        <mat-datepicker-toggle matSuffix [for]="picker_Actualizar"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_Actualizar></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="text-center ">
                  <div *ngIf="loading">
                    <img src="assets/imagenes/load.gif">
                  </div>
                  <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">
                    {{ successMessage }}</ngb-alert>
                  <button class="btn color-green waves-light" (click)="tabPagina1()" mdbWavesEffect>Atras</button>
                  <button class="btn color-green waves-light" (click)="nuevo()" mdbWavesEffect>Nuevo</button>
                  <button class="btn color-green waves-light" [disabled]="guardar" (click)="openDialogo()"
                    mdbWavesEffect>Guardar</button>
                  <button class="btn color-green waves-light" [disabled]="editar" (click)="openDialogoEditar()"
                    mdbWavesEffect>Editar</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </form>
        </ng-template>
      </ngb-tab>
      <!-- fin ngb-tab -->
      <!-- Editar -->
      <ngb-tab id="tab-buscar">
        <ng-template ngbTabTitle>
          <b>Buscar Jerarquización Global</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="modal-content mat-elevation-z4">
            <div class="modal-header color-green">
            </div>
            <!-- Inicio form -->
            <form [formGroup]="buscar_Form ">
              <!-- Inicio row -->
              <div class="row">
                <div class="md-form col-md-5 mt10">
                  <input mdbInputDirective type="text" id="formCodigoe" class="form-control" formControlName="codigoe"
                    data-error=" " data-success=" ">
                  <label for="formCodigoe">&nbsp;&nbsp;&nbsp;&nbsp;CÓDIGO DEL ELEMENTO</label>
                </div>
                <div class="md-form col-md-5 mt10">
                  <input mdbInputDirective type="text" id="formNombreg" class="form-control" formControlName="nombreg"
                    data-error=" " data-success=" ">
                  <label for="formNombreg">&nbsp;&nbsp;&nbsp;&nbsp;NOMBRE GLOBAL</label>
                </div>
              </div>
              <!-- Fin row -->
              <!-- Inicio row -->
              <div class="row">
                <div class="md-form col-md-5 mt-10">
                  <input mdbInputDirective type="text" id="formDescrielem" class="form-control"
                    formControlName="descrielem" data-error=" " data-success=" ">
                  <label for="formDescrielem">&nbsp;&nbsp;&nbsp;&nbsp;DESCRIPCIÓN ELEMENTO</label>
                </div>
              </div>
              <!-- Fin row -->
              <div>
                <button class="btn color-green waves-light" mdbWavesEffect
                  (click)="buscarJerarquizacionGlobal()">Buscar</button>
                <button class="btn color-green waves-light" mdbWavesEffect (click)="buscarTodos()">Buscar
                  Todos</button>
              </div>
            </form>
            <!-- Fin form -->

            <div class="text-center">
              <div *ngIf="loading">
                <img src="assets/imagenes/load.gif">
              </div>
            </div>
            <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">{{ successMessage }}
            </ngb-alert>

          </div>
          <!-- Fin modal-content -->
          <!-- Tabla busqueda-->
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
          </mat-form-field>
          <div class="mat-elevation-z8" *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- No. Column -->
              <div class="col-md-1">
                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                  <td mat-cell *matCellDef="let row"> {{row.numero}} </td>
                </ng-container>
              </div>
              <ng-container matColumnDef="codigoe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO ELEMENTO</th>
                <td mat-cell *matCellDef="let row"> {{row.codigoe}} </td>
              </ng-container>
              <ng-container matColumnDef="nombreg">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE GLOBAL</th>
                <td mat-cell *matCellDef="let row"> {{row.nombreg}} </td>
              </ng-container>
              <ng-container matColumnDef="descrielem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCIÓN</th>
                <td mat-cell *matCellDef="let row"> {{row.descrielem}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-green"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="base-element-row"
                (click)="mostrar_JerarquizacionGlobal_Busqueda(row); JerarquizacionGlobal.select('tab-formulario') ;">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <!-- Fin tabla busquedas -->
        </ng-template>
        <!-- Fin template -->
      </ngb-tab>
      <!-- fin ngb-tab -->
    </ngb-tabset>
    <!-- fin ngb-tabset -->
  </div>
  <!-- fin card-body -->
</div>
<!-- fin card-content -->