<div class="card-content white">
  <div class="card-body">
    <ngb-tabset #fJerarquizacionElemento="ngbTabset">
      <!-- Formulario  -->
      <ngb-tab id="tab-formulario">
        <ng-template ngbTabTitle>
          <b>Formulario</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="card-content white">
            <div class="card-body">
              <ngb-tabset #fJerarquizacionElementoGlobal="ngbTabset">
                <!-- página 1 -->
                <ngb-tab id="tab-selectbyid1">
                  <ng-template ngbTabTitle>
                    <b>1</b>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <form action="">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">JERARQUIZACION DEL ELEMENTO (GLOBAL)</h5>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">CODIGOE:</label>
                          </div>
                          <div class="md-form col-md-2 mt-5">
                            <input mdbInputDirective type="text" id="formCodigoe" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                              data-success="correcto" required>
                              <label for="formCodigoe"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">NOMBREG:</label>
                          </div>
                          <div class="md-form col-md-9 mt-20">
                            <input mdbInputDirective type="text" id="formNombreg" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                              data-success="correcto" required>
                              <label for="formNombreg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">DESCRIELEM:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formDescrielem" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formDescrielem"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">ESPECIE:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formEspecie" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formEspecie"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">ESPECRANGA:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formEspecranga" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formEspecranga"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">ESPECRANGB:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formEspecrangb" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formEspecrangb"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">ESPECRANGC:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formEspecrangc" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formEspecrangc"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">ESPECRANGD:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formEspecrangd" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formEspecrangd"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">HABITAT:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formHabitat" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formHabitat"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">PERMANENCIA:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formPermanencia" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formPermanencia"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">LOCTIPG:</label>
                          </div>
                          <div class="md-form col-md-9 mt-20">
                            <input mdbInputDirective type="text" id="formLoctipg" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                              data-success="correcto" required>
                              <label for="formLoctipg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">COMTAXG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formComtaxg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formComtaxg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">COMLESTIMG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-5">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formComlestimg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formComlestimg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">ABUNDG:</label>
                          </div>
                          <div class="col-md-2">
                            <select class="form-control">
                              <option *ngFor="let sAbundg of labundg" [value]="sAbundg">{{sAbundg}}</option>
                            </select>
                          </div>                   
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">COMABUNDG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formComabundg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formComabundg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                      </div>
                      <!-- fin modal-content -->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                      <p>
                        <button class="btn btn-cyan waves-light" (click)="fJerarquizacionElementoGlobal.select('tab-selectbyid2')" mdbWavesEffect>Siguiente</button>
                        <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                      </p>
                    </div>
                  </ng-template>
                  <!-- fin ng-template -->
                </ngb-tab>
                <!-- fin ngb-tab -->
                <!-- pagína 2 -->
                <ngb-tab id="tab-selectbyid2">
                  <ng-template ngbTabTitle>
                    <b>2</b>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <form action="">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">JERARQUIZACION DEL ELEMENTO (GLOBAL)</h5>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">DISTG:</label>
                          </div>
                          <div class="col-md-2">
                            <select class="form-control">
                              <option *ngFor="let sDistg of ldistg" [value]="sDistg">{{sDistg}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">COMDISTG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formComdistg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta" required></textarea>
                            <label for="formComdistg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">TENDENCIAG:</label>
                          </div>
                          <div class="col-md-2">
                            <select class="form-control">
                              <option *ngFor="let sTendenciag of ltendenciag" [value]="sTendenciag">{{sTendenciag}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">COMTENDG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formComtendg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta" required></textarea>
                            <label for="formComtendg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">LEPROTG:</label>
                          </div>
                          <div class="col-md-2">
                            <select class="form-control">
                              <option *ngFor="let sLeprotg of lleprotg" [value]="sLeprotg">{{sLeprotg}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">COMLEPROTG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formComleprotg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta" required></textarea>
                            <label for="formComleprotg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">AMENAZG:</label>
                          </div>
                          <div class="col-md-2">
                            <select class="form-control">
                              <option *ngFor="let sAmenazg of lamenazg" [value]="sAmenazg">{{sAmenazg}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">COMAMENAZG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formComamenazg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta" required></textarea>
                            <label for="formComamenazg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">FRAGILG:</label>
                          </div>
                          <div class="col-md-2">
                            <select class="form-control">
                              <option *ngFor="let sFragilg of lfragilg" [value]="sFragilg">{{sFragilg}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">COMFRAGILG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formComfragilg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta" required></textarea>
                            <label for="formComfragilg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">OTRACONSIDG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formOtraconsidg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta" required></textarea>
                            <label for="formOtraconsidg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">RANGOG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formRangog" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta" required></textarea>
                            <label for="formRangog"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">RAZON.RG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formRazonRg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formRazonRg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">NEC.PROTECG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formNecProtecg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formNecProtecg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">NEC.INVENTG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formNecInventg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formNecInventg"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">NEC.ESTUDIG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formNecEstudig" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formNecEstudig"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">NEC.MANEJOG:</label>
                          </div>
                          <div class="md-form  col-md-7 mt-3">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea mdbInputDirective type="text" id="formNecManejog" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                              data-success="correcta"></textarea>
                            <label for="formNecManejog"></label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">RESRG:</label>
                          </div>
                          <div class="md-form col-md-2 mt-5 ">
                            <input mdbInputDirective type="text" id="formResrg" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                              data-success="correcto">
                              <label for="formResrg"></label>
                          </div>
                          <div class="md-form col-md-4 mt-5 ">
                            <input mdbInputDirective type="text" id="formAutorEd" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                              data-success="correcto">
                              <label for="formAutorEd">&nbsp;&nbsp;&nbsp;&nbsp;AUTOR.ED</label>
                          </div>
                        </div>
                        <!-- fin row -->
                        <div class="row">
                          <div class="col-md-2">
                            <label for="">EDICION:</label>
                          </div>
                          <div class="md-form form-sm  input-group-append mt-0">
                            <i class="fa fa-calendar prefix "></i>
                            <input mdbInputDirective type="text" id="formEdicion" class="form-control"  ngbDatepicker
                              #dEdicion="ngbDatepicker">
                            <label for="formEdicion"></label>
                            <div class="input-group-append ">
                              <button class="btn btn-info mb-2 waves-light" (click)="dEdicion.toggle()" mdbWavesEffect>Date
                              </button>
                            </div>
                           </div>
                           <div class="md-form form-sm  input-group-append mt-0">
                            <i class="fa fa-calendar prefix "></i>
                            <input mdbInputDirective type="text" id="formActualizar" class="form-control"  ngbDatepicker
                              #dActualizar="ngbDatepicker">
                            <label for="formActualizar"></label>
                            <div class="input-group-append ">
                              <button class="btn btn-info mb-2 waves-light" (click)="dActualizar.toggle()" mdbWavesEffect>Date
                              </button>
                            </div>
                           </div>
                        </div>
                        <!-- fin row -->
                      </div>
                      <!-- fin modal-content -->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                      <p>
                        <button class="btn btn-cyan waves-light" (click)="fJerarquizacionElementoGlobal.select('tab-selectbyid1')" mdbWavesEffect>Atras</button>
                        <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Guardar</button>
                        <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                      </p>
                    </div>
                  </ng-template>
                  <!-- fin ng-template -->
                </ngb-tab>
                <!-- fin ngb-tab -->
              </ngb-tabset>
              <!-- fin ngb-tabset -->
            </div>
            <!-- fin card-body -->
          </div>
          <!-- fin card-content -->


        </ng-template>
        <!-- fin ng-template -->
      </ngb-tab>
      <!-- fin ngb-tab -->
      <!-- Editar -->
      <ngb-tab id="tab-editar">
        <ng-template ngbTabTitle>
          <b>Editar</b>
        </ng-template>
        <ng-template ngbTabContent>
          <form action="">

          </form>
          <!-- fin form -->
          <div class="text-center ">
            <p>

              <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Guardar</button>
              <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
            </p>
          </div>
        </ng-template>
        <!-- fin ng-template -->
      </ngb-tab>
      <!-- fin ngb-tab -->
    </ngb-tabset>
    <!-- fin ngb-tabset -->
  </div>
  <!-- fin card-body -->
</div>
<!-- fin card-content -->