<div class="card-content white">
    <div class="card-body">
        <ngb-tabset #fRegistroSitio="ngbTabset">
            <!-- página 1 -->
            <ngb-tab id="tab-selectbyid1">
                <ng-template ngbTabTitle>
                    <b>1</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header color-green">
                                <h5 class="modal-title">Identificadores</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CODSITIO:</label>
                                </div>
                                <div class="md-form col-md-4 mt-5 ">
                                    <input mdbInputDirective type="text" id="formNomcomungs" class="form-control" data-error="" data-success="correcto" required>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">SIN.SITIO:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formCita" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcto"></textarea>
                                    <label for="formCita">Anote.</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row  mx-auto ">

                                <ng2-smart-table [settings]="settings_Identificadores_Sitio" [source]="source_Identificadores_Sitio">
                                </ng2-smart-table>

                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Localizadores</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NACION:</label>
                                </div>
                                <div class="md-form col-md-2 mt-0 ">
                                    <input mdbInputDirective type="text" id="formNacion" class="form-control" data-error="" data-success="correcto" required>
                                </div>
                                <div class="md-form col-md-2 mt-0 ">
                                    <input mdbInputDirective type="text" id="formSubnacion" class="form-control" data-error="" data-success="correcto" required>
                                    <label for="formSubnacion">&nbsp;&nbsp;&nbsp;&nbsp;SUBNACION:</label>
                                </div>
                                <div class="md-form col-md-2 mt-0 ">
                                    <input mdbInputDirective type="text" id="formSiteresp" class="form-control" data-error="" data-success="correcto" required>
                                    <label for="formSiteresp">&nbsp;&nbsp;&nbsp;&nbsp;SITERESP:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row  mx-auto ">
                                <ng2-smart-table [settings]="settings_Localizadores_Sitio" [source]="source_Localizadores_Sitio">
                                </ng2-smart-table>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">LAT:</label>
                                </div>
                                <div class="md-form col-md-2 mt-0 ">
                                    <input mdbInputDirective type="text" id="formLat" class="form-control" data-error="" data-success="correcto" required>
                                    <label for="formLat"></label>
                                </div>
                                <div class="md-form col-md-2 mt-0 ">
                                    <input mdbInputDirective type="text" id="formLong" class="form-control" data-error="" data-success="correcto" required>
                                    <label for="formLong">&nbsp;&nbsp;&nbsp;&nbsp;LONG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">S:</label>
                                </div>

                                <div class="md-form  col-md-2 mt-0 ">
                                    <input mdbInputDirective type="text" id="formS" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                    <label for="formS"></label>
                                </div>
                                <div class="md-form col-md-2 mt-0 ">
                                    <input mdbInputDirective type="text" id="formN" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                    <label for="formN">&nbsp;&nbsp;&nbsp;&nbsp;N:</label>
                                </div>
                                <div class="md-form col-md-2 mt-0 ">
                                    <input mdbInputDirective type="text" id="formE" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                    <label for="formE">&nbsp;&nbsp;&nbsp;&nbsp;E:</label>
                                </div>
                                <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formO" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                    <label for="formO">&nbsp;&nbsp;&nbsp;&nbsp;O:</label>
                                </div>

                            </div>
                            <!--fin row  -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">DIRECCION:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formDireccion" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta" required></textarea>
                                    <label for="formDireccion">Anote .</label>
                                </div>
                            </div>
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Descriptores del Sitio/Diseño</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">DESCRITO:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formDescrito" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta" required></textarea>
                                    <label for="formDescrito">Anote.</label>
                                </div>

                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">MAPASITIO:</label>
                                </div>
                                <div class="md-form col-md-4 mt-5">
                                    <input mdbInputDirective type="text" id="formMapasitio" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>
                                <div class="md-form form-sm  input-group-append mt-5">
                                    <i class="fa fa-calendar prefix "></i>
                                    <input mdbInputDirective type="text" id="formFechamapa" class="form-control" ngbDatepicker #dFechamapa="ngbDatepicker">
                                    <label for="formFechamapa">FECHAMAPA:</label>
                                    <div class="input-group-append ">
                                        <button class="btn btn-info mb-2 waves-light" (click)="dFechamapa.toggle()" mdbWavesEffect>Date
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">DIBUJANTE:</label>
                                </div>
                                <div class="md-form col-md-4 mt-5 ">
                                    <input mdbInputDirective type="text" id="formDibujantes" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">JUSTLIMITE:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formJustlimite" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta" required></textarea>
                                    <label for="formJustlimite">Anote .</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">AREAPRISEC:</label>
                                </div>
                                <div class="md-form col-md-2 mt-15">
                                    <input mdbInputDirective type="text" id="formAreaPrisecU" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>
                                <h5>
                                    <label for="">.</label>
                                </h5>

                                <div class="md-form col-md-1 mt-15">
                                    <input mdbInputDirective type="text" id="formAreaPrisecD" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>
                                <div class="col-md-1">
                                    <label for="">AREAPRI:</label>
                                </div>
                                <div class="md-form col-md-2 mt-15">
                                    <input mdbInputDirective type="text" id="formAreaPricU" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>
                                <h5>
                                    <label for="">.</label>
                                </h5>

                                <div class="md-form col-md-1 mt-15">
                                    <input mdbInputDirective type="text" id="formAreaPrisD" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>

                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">AREATOTAL:</label>
                                </div>
                                <div class="md-form col-md-2 mt-15 ">
                                    <input mdbInputDirective type="text" id="formAreaTotalU" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>
                                <h5>
                                    <label for="">.</label>
                                </h5>

                                <div class="md-form col-md-1 mt-15">
                                    <input mdbInputDirective type="text" id="formAreaTotalD" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMSITIO:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComsitio" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta" required></textarea>
                                    <label for="formCita"></label>
                                </div>
                            </div>
                        </div>
                        <!-- fin modal-content -->
                    </form>
                    <!-- fin form -->
                    <p>
                        <button class="btn btn-outline-primary" (click)="fRegistroSitio.select('tab-selectbyid2')">Siguiente</button>
                        <button class="btn btn-outline-primary" type="reset">Cancelar</button>
                    </p>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 2 -->
            <ngb-tab id="tab-selectbyid2">
                <ng-template ngbTabTitle>
                    <b>2</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Importancia del Sitio</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RANGOANT:</label>
                                </div>
                                <div class="col-md-2 ">
                                        <select class="form-control"  required>
                                          <option *ngFor="let sRangoant of lident" [value]="sRangoant">{{sRangoant}}</option>
                                        </select>
                                      </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMRANGO:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComrango" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formComrango"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">IMPDIVBIOL:</label>
                                </div>
                                <div class="col-md-2 ">
                                    <select class="form-control"  required>
                                      <option *ngFor="let sImpdivbiol of lident" [value]="sImpdivbiol">{{sImpdivbiol}}</option>
                                    </select>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMDIVBIOL:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComdivbiol" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formComdivbiol"></label>
                                  </div>

                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">IMPNODIVBIOL:</label>
                                </div>
                                <div class="col-md-2 ">
                                    <select class="form-control"  required>
                                      <option *ngFor="let sImpnodivbiol of lident" [value]="sImpnodivbiol">{{sImpnodivbiol}}</option>
                                    </select>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMNODIVBIOL:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComnodivbiol" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formComnodivbiol"></label>
                                  </div>                               
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">URGENCIA:</label>
                                </div>
                                <div class="col-md-2 ">
                                    <select class="form-control"  required>
                                      <option *ngFor="let sUrgencia of lident" [value]="sUrgencia">{{sUrgencia}}</option>
                                    </select>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMURGENCIA:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComurgencia" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta" required></textarea>
                                    <label for="formComurgencia"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Bienes Raíces y Protección</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">INTENCCONS:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formIntenccons" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta" required></textarea>
                                    <label for="formIntenccons"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NUMLOTES:</label>
                                </div>
                                <div class="md-form col-md-3 mt-5 ">
                                    <input mdbInputDirective type="text" id="formNomlotes" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                  </div>
                                  <div class="md-form col-md-3 mt-5 ">
                                    <input mdbInputDirective type="text" id="formCostestprot" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formCostestprot">&nbsp;&nbsp;&nbsp;&nbsp;COSTESTPROT</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CODDESIG:</label>
                                </div>
                                <div class="md-form col-md-3 mt-5 ">
                                    <input mdbInputDirective type="text" id="formCoddesig" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                  </div>
                                  <div class="md-form col-md-3 mt-5 ">
                                    <input mdbInputDirective type="text" id="formDesignacion" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formDesignacion">&nbsp;&nbsp;&nbsp;&nbsp;DESIGNACION</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMPROT:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComprot" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formCita"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Administracción</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMUSOTIERRA:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComusotierra" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formComusotierra"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMPELIGRNAT:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formCompeligrnat" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formCompeligrnat"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMEXOTICAS:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComexoticas" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formComexoticas"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">USOTIERRAF</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formUsotierraf" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formUsotierraf"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NECINFORM:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formNecinform" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formNecinform"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NECMANEJO:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formNecmanejo" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formNecmanejo"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMAM:</label>
                                </div>
                                <div class="md-form  col-md-7">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComam" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"  required></textarea>
                                    <label for="formComam"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- final modal-content -->
                    </form>
                    <!-- fin form -->
                    <p>
                        <button class="btn btn-outline-primary" (click)="fRegistroSitio.select('tab-selectbyid1')">Atras</button>
                        <button class="btn btn-outline-primary" (click)="fRegistroSitio.select('tab-selectbyid3')">Siguiente</button>                      
                        <button class="btn btn-outline-primary" type="reset">Cancelar</button>
                    </p>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <ngb-tab id="tab-selectbyid3">
                <ng-template ngbTabTitle>
                    <b>3</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-headear">
                                <h5 class="modal-title">Campos Opcionales</h5>
                            </div>
                            <div class="row  mx-auto ">
                                <ng2-smart-table [settings]="settings_CamposOpcionales_Sitio" 
                                [source]="source_CamposOpcionales_Sitio">
                                </ng2-smart-table>          
                              </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RESPDATOS:</label>
                                </div>
                                <div class="md-form col-md-3 mt-5">
                                    <input mdbInputDirective type="text" id="formRespdatos" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                  </div>
                                  <div class="md-form form-sm  input-group-append mt-5">
                                    <i class="fa fa-calendar prefix "></i>
                                    <input mdbInputDirective type="text" id="formActualizar" class="form-control" ngbDatepicker
                                     #dActualizar="ngbDatepicker">
                                    <label for="formActualizar">Actualizar:</label>
                                    <div class="input-group-append ">
                                        <button class="btn btn-info mb-2 waves-light" (click)="dActualizar.toggle()" mdbWavesEffect>Date
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                    </form>
                    <!-- fin form -->
                    <p>
                        <button class="btn btn-outline-primary" (click)="fRegistroSitio.select('tab-selectbyid2')">Atras</button>
                        <button class="btn btn-outline-primary" >Guardar</button>                      
                        <button class="btn btn-outline-primary" type="reset">Cancelar</button>
                    </p>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
        </ngb-tabset>
        <!-- fin ngb-tabset -->
    </div>
    <!-- fin card-body -->
</div>
<!-- fin card-content -->