<div class="card-content white">
    <div class="card-body">
        <ngb-tabset #JerarquizacionSubNacional="ngbTabset">
            <ngb-tab id="tab-formulario">
                <ng-template ngbTabTitle>
                    <b>Formulario</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form [formGroup]="jerarquizacion_SubnacionalForm">
                        <mat-tab-group dynamicHeight [selectedIndex]="selected.value"
                            (selectedIndexChange)="selected.setValue($event)">
                            <mat-tab label="1">
                                <div class="text-center">
                                    <div *ngIf="loading">
                                        <img src="assets/imagenes/load.gif">
                                    </div>
                                </div>
                                <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">
                                    {{ successMessage }}</ngb-alert>
                                <div class="modal-content mat-elevation-z4">
                                    <div class="modal-header color-green">
                                        <h5 class="modal-title">
                                            <font size=4 color="white">JERARQUIZACIÓN DEL ELEMENTO (SUBNACIONAL)
                                            </font>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">CODIGOE:</label>
                                        </div>
                                        <div class="md-form col-md-4 mt10" *ngIf="editar">
                                            <input mdbInputDirective mdbValidate type="text" id="formCodigoe"
                                                class="form-control" formControlName="codigoe" required>
                                            <mdb-error
                                                *ngIf="input_codigoe.invalid && (input_codigoe.dirty || input_codigoe.touched)">
                                                <font size=2 color="red">Error, máximo 10 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                        <div class="md-form col-md-4 mt10" *ngIf="guardar">
                                            <input mdbInputDirective mdbValidate type="text" id="formCodigoe"
                                                class="form-control" formControlName="codigoe" disabled>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mat-elevation-z8" class="base-form">
                                                <button mat-raised-button class="color-green"
                                                    (click)="validarCodigoe()">
                                                    <font size=2 color="white">Validar</font>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">NACIÓN:</label>
                                        </div>
                                        <div class="col-md-3 mt-15">
                                            <mat-form-field>
                                                <mat-select placeholder=" " panelClass="color-panel-green"
                                                    formControlName="nacion">
                                                    <mat-option *ngFor="let sNacion of criterio_Nacion"
                                                        [value]="sNacion.value">
                                                        {{sNacion.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">SUBNACION:</label>
                                        </div>
                                        <div class="col-md-3 mt-15" *ngIf="editar">
                                            <mat-form-field>
                                                <mat-select placeholder="Departamento" panelClass="color-panel-green"
                                                    formControlName="subnacion">
                                                    <mat-option *ngFor="let sSubnacion of criterio_Subnacion"
                                                        [value]="sSubnacion.value">
                                                        {{sSubnacion.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mt-15" *ngIf="guardar">
                                            <mat-form-field>
                                                <mat-select placeholder="Departamento" panelClass="color-panel-green"
                                                    formControlName="subnacion" disabled>
                                                    <mat-option *ngFor="let sSubnacion of criterio_Subnacion"
                                                        [value]="sSubnacion.value">
                                                        {{sSubnacion.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">NOMBRE SUBNACIONAL:</label>
                                        </div>
                                        <div class="md-form col-md-9 mt10">
                                            <input mdbInputDirective mdbValidate type="text" id="formNombres"
                                                class="form-control" formControlName="nombres">
                                            <mdb-error
                                                *ngIf="input_nombres.invalid && (input_nombres.dirty || input_nombres.touched)">
                                                <font size=2 color="red">Error, máximo 60 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">LOCTIPS:</label>
                                        </div>
                                        <div class="md-form col-md-9 mt-5 ">
                                            <input mdbInputDirective mdbValidate type="text" id="formSLoctips"
                                                class="form-control" formControlName="loctips">
                                            <label for="formSLoctips">&nbsp;&nbsp;&nbsp;&nbsp;Identificar el mejor
                                                sitio
                                                conocido en
                                                el país.</label>
                                            <mdb-error
                                                *ngIf="input_loctips.invalid && (input_loctips.dirty || input_loctips.touched)">
                                                <font size=2 color="red">Error, máximo 50 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">LESTIMS:</label>
                                        </div>
                                        <div class="col-md-3 mt-15">
                                            <mat-form-field>
                                                <mat-select placeholder=" " panelClass="color-panel-green"
                                                    formControlName="lestims">
                                                    <mat-option>-- Ninguna --</mat-option>
                                                    <mat-option *ngFor="let sLestims of criterio_lestims"
                                                        [value]="sLestims.value">
                                                        {{sLestims.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">COMLESTIMS:</label>
                                        </div>
                                        <div class="md-form  col-md-7 mt10">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formComlesims"
                                                class="md-textarea form-control" formControlName="comlestims"
                                                rows="2"></textarea>
                                            <label for="formComlesims">De ser posible anote el número exacto de
                                                localizaciones
                                                existentes conocidas</label>
                                            <mdb-error
                                                *ngIf="input_comlestims.invalid && (input_comlestims.dirty || input_comlestims.touched)">
                                                <font size=2 color="red">Error, máximo 120 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">ABUNDS:</label>
                                        </div>
                                        <div class="col-md-7 mt-15">
                                            <mat-form-field>
                                                <mat-select placeholder=" " panelClass="color-panel-green"
                                                    formControlName="abunds">
                                                    <mat-option>-- Ninguna --</mat-option>
                                                    <mat-option *ngFor="let sAbunds of criterio_abunds"
                                                        [value]="sAbunds.value">
                                                        {{sAbunds.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">COMABUNDS:</label>
                                        </div>
                                        <div class="md-form  col-md-9 mt10">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formComaabunds"
                                                class="md-textarea form-control" formControlName="comabunds"
                                                rows="3"></textarea>
                                            <label for="formComaabunds">A menudo resulta complicado estimar la
                                                abundancia de un
                                                elemento. Comente sobre esto.</label>
                                            <mdb-error
                                                *ngIf="input_comabunds.invalid && (input_comabunds.dirty || input_comabunds.touched)">
                                                <font size=2 color="red">Error, máximo 120 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">DISTS:</label>
                                        </div>
                                        <div class="col-md-6 mt-15">
                                            <mat-form-field>
                                                <mat-select placeholder=" " panelClass="color-panel-green"
                                                    formControlName="dists">
                                                    <mat-option>-- Ninguna --</mat-option>
                                                    <mat-option *ngFor="let sDists of criterio_dists"
                                                        [value]="sDists.value">
                                                        {{sDists.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">COMDISTS:</label>
                                        </div>
                                        <div class="md-form  col-md-9 mt10">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formComdists"
                                                class="md-textarea form-control" formControlName="comdists"
                                                rows="4"></textarea>
                                            <label for="formComdists">
                                                Se especifica los países o regiones ecológicas donde se encuentra el
                                                elemento
                                                actualmente</label>
                                            <mdb-error
                                                *ngIf="input_comdists.invalid && (input_comdists.dirty || input_comdists.touched)">
                                                <font size=2 color="red">Error, máximo 240 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">LEPROTS:</label>
                                        </div>
                                        <div class="col-md-4 mt-15">
                                            <mat-form-field>
                                                <mat-select placeholder=" " panelClass="color-panel-green"
                                                    formControlName="leprots">
                                                    <mat-option>-- Ninguna --</mat-option>
                                                    <mat-option *ngFor="let sLeprots of criterio_leprots"
                                                        [value]="sLeprots.value">
                                                        {{sLeprots.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">COMLEPROTS:</label>
                                        </div>
                                        <div class="md-form  col-md-7 mt10">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formComleprots"
                                                class="md-textarea form-control" formControlName="comleprots"
                                                rows="2"></textarea>
                                            <label for="formComleprots">En qué país o países están protegidas y qué
                                                tipo
                                                de
                                                protección tienen.</label>
                                            <mdb-error
                                                *ngIf="input_comleprots.invalid && (input_comleprots.dirty || input_comleprots.touched)">
                                                <font size=2 color="red">Error, máximo 120 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">AMENAZS:</label>
                                        </div>
                                        <div class="col-md-9 mt-15">
                                            <mat-form-field>
                                                <mat-select placeholder=" " panelClass="color-panel-green"
                                                    formControlName="amenazs">
                                                    <mat-option>-- Ninguna --</mat-option>
                                                    <mat-option *ngFor="let sAmenazs of criterio_amenazs"
                                                        [value]="sAmenazs.value">
                                                        {{sAmenazs.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">COMAMENAZS:</label>
                                        </div>
                                        <div class="md-form  col-md-9 mt10">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formComamenazs"
                                                class="md-textarea form-control" formControlName="comamenazs"
                                                rows="2"></textarea>
                                            <label for="formComamenazs">
                                                Indique la amenaza, por ejemplo: "tierras primarias para
                                                cultivos"</label>
                                            <mdb-error
                                                *ngIf="input_comamenazs.invalid && (input_comamenazs.dirty || input_comamenazs.touched)">
                                                <font size=2 color="red">Error, máximo 120 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                </div>
                                <div class="text-center">
                                    <button class="btn color-green waves-light" (click)="tabPagina2()"
                                        mdbWavesEffect>Siguiente</button>
                                    <button class="btn color-green waves-light" (click)="nuevo()"
                                        mdbWavesEffect>Nuevo</button>
                                </div>
                            </mat-tab>
                            <mat-tab label="2">
                                <div class="modal-content mat-elevation-z4">
                                    <div class="modal-header color-green">
                                        <h5 class="modal-title">
                                            <font size=4 color="white">JERARQUIZACIÓN DEL ELEMENTO (SUBNACIONAL)
                                            </font>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">OTRACONSIDS:</label>
                                        </div>
                                        <div class="md-form  col-md-9 mt10">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formOtraconsids"
                                                class="md-textarea form-control" formControlName="otraconsids"
                                                rows="2"></textarea>
                                            <label for="formOtraconsids">Otro criterios. Anote cualiesquiera otros
                                                factores que
                                                considere importantes</label>
                                            <mdb-error
                                                *ngIf="input_otraconsids.invalid && (input_otraconsids.dirty || input_otraconsids.touched)">
                                                <font size=2 color="red">Error, máximo 120 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">RANGOS:</label>
                                        </div>
                                        <div class="col-md-2 mt-15">
                                            <mat-form-field>
                                                <mat-select placeholder=" " panelClass="color-panel-green"
                                                    formControlName="rangos">
                                                    <mat-option>-- Ningún valor --</mat-option>
                                                    <mat-option *ngFor="let sRangos of criterio_rangos"
                                                        [value]="sRangos.value">
                                                        {{sRangos.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col mt-12">
                                            <div class="col-md-2"></div>
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker_Fecharevrs"
                                                    placeholder="FECHAREVRS" formControlName="fecharevrs">
                                                <mat-datepicker-toggle matSuffix [for]="picker_Fecharevrs">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker touchUi #picker_Fecharevrs></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">RAZON.RS:</label>
                                        </div>
                                        <div class="md-form  col-md-9 mt-10">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formRazonRs"
                                                class="md-textarea form-control" formControlName="razonrs"
                                                rows="4"></textarea>
                                            <label for="formRazonRs">Dar las razones para este rango, mencionando los
                                                mejores
                                                factores de jerarquización y otras
                                                consideraciones.
                                            </label>
                                            <mdb-error
                                                *ngIf="input_razonrs.invalid && (input_razonrs.dirty || input_razonrs.touched)">
                                                <font size=2 color="red">Error, máximo 240 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">NEC.PROTECS:</label>
                                        </div>
                                        <div class="md-form  col-md-9 mt-20">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formNecProtecs"
                                                class="md-textarea form-control" formControlName="necprotecs"
                                                rows="2"></textarea>
                                            <label for="formNecProtecs">Dar el número estimado de LE adecuados para
                                                sostener el
                                                elemento a través de su distribución.</label>
                                            <mdb-error
                                                *ngIf="input_necprotecs.invalid && (input_necprotecs.dirty || input_necprotecs.touched)">
                                                <font size=2 color="red">Error, máximo 120 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">NEC.INVENTS:</label>
                                        </div>
                                        <div class="md-form  col-md-9 mt-20">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formNecInvents"
                                                class="md-textarea form-control" formControlName="necinvents"
                                                rows="1"></textarea>
                                            <label for="formNecInvents">
                                                Escriba las necesidades de investigacion de la biología del
                                                elemento.</label>
                                        </div>
                                        <mdb-error
                                            *ngIf="input_necinvents.invalid && (input_necinvents.dirty || input_necinvents.touched)">
                                            <font size=2 color="red">Error, máximo 120 caracteres.</font>
                                        </mdb-error>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">NEC.MANEJOS:</label>
                                        </div>
                                        <div class="md-form  col-md-9 mt-20">
                                            <i class="fa fa-pencil prefix"></i>
                                            <textarea mdbInputDirective mdbValidate type="text" id="formNecManejos"
                                                class="md-textarea form-control" formControlName="necmanejos"
                                                rows="1"></textarea>
                                            <label for="formNecManejos">Discutir las estrategias que deberían utilizarse
                                                para
                                                proteger el elemento.</label>
                                            <mdb-error
                                                *ngIf="input_necmanejos.invalid && (input_necmanejos.dirty || input_necmanejos.touched)">
                                                <font size=2 color="red">Error, máximo 120 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="">AUTOR.ED:</label>
                                        </div>
                                        <div class="md-form col-md-9 mt-20">
                                            <input mdbInputDirective mdbValidate type="text" id="formAutorEd"
                                                class="form-control" formControlName="autored">
                                            <label for="formAutorEd">&nbsp;&nbsp;&nbsp;&nbsp;Escriba su nombre.</label>
                                            <mdb-error
                                                *ngIf="input_autored.invalid && (input_autored.dirty || input_autored.touched)">
                                                <font size=2 color="red">Error, máximo 30 caracteres.</font>
                                            </mdb-error>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="md-form col-md-3 mt-5">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker_Edicion"
                                                    placeholder="EDICION FECHA" formControlName="edicion">
                                                <mat-datepicker-toggle matSuffix [for]="picker_Edicion">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker touchUi #picker_Edicion></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- fin row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="md-form col-md-3 mt-5">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker_Actualizar"
                                                    placeholder="ACTUALIZAR FECHA" formControlName="actualizar">
                                                <mat-datepicker-toggle matSuffix [for]="picker_Actualizar">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker touchUi #picker_Actualizar></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- Fin row -->
                                </div>
                                <!-- Fin modal-content -->
                                <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">
                                    {{ successMessage }}</ngb-alert>
                                <div class="text-center ">
                                    <div *ngIf="loading">
                                        <img src="assets/imagenes/load.gif">
                                    </div>
                                    <button class="btn color-green waves-light" (click)="tabPagina1()"
                                        mdbWavesEffect>Atras</button>
                                    <button class="btn color-green waves-light" (click)="nuevo()"
                                        mdbWavesEffect>Nuevo</button>
                                    <button class="btn color-green waves-light" [disabled]="guardar"
                                        (click)="openDialogo()" mdbWavesEffect>Guardar</button>
                                    <button class="btn color-green waves-light" [disabled]="editar"
                                        (click)="openDialogoEditar()" mdbWavesEffect>Editar</button>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </form>
                    <!-- Fin formGroup -->
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-buscar">
                <ng-template ngbTabTitle>
                    <b>Buscar</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="modal-content mat-elevation-z4">
                        <div class="modal-header color-green"></div>
                        <!-- Inicio Form -->
                        <form [formGroup]="buscar_Form ">
                            <!-- Inicio row -->
                            <div class="row">
                                <div class="md-form col-md-5 mt10">
                                    <input mdbInputDirective type="text" id="formCodigoe" class="form-control"
                                        formControlName="codigoe" data-error=" " data-success=" ">
                                    <label for="formCodigoe">&nbsp;&nbsp;&nbsp;&nbsp;CÓDIGO ELEMENTO</label>
                                </div>
                                <div class="col-md-3 mt10">
                                    <mat-form-field>
                                        <mat-select placeholder="NACIÓN" panelClass="color-panel-green"
                                            formControlName="nacion">
                                            <!-- <mat-option>-- Ningún valor --</mat-option> -->
                                            <mat-option *ngFor="let sNacion of criterio_Nacion" [value]="sNacion.value">
                                                {{sNacion.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 mt10">
                                    <mat-form-field>
                                        <mat-select placeholder="DEPARTAMENTO" panelClass="color-panel-green"
                                            formControlName="subnacion">
                                            <mat-option>-- Ningún valor --</mat-option>
                                            <mat-option *ngFor="let sSubnacion of criterio_Subnacion"
                                                [value]="sSubnacion.value">
                                                {{sSubnacion.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Fin row -->
                            <!-- Inicio row -->
                            <div class="row">
                                <div class="md-form col-md-5 mt-10">
                                    <input mdbInputDirective type="text" id="formNombres" class="form-control"
                                        formControlName="nombres" data-error=" " data-success=" ">
                                    <label for="formNombres">&nbsp;&nbsp;&nbsp;&nbsp;NOMBRE SUBNACIONAL</label>
                                </div>
                                <div class="md-form col-md-5 mt-10">
                                    <input mdbInputDirective type="text" id="formNombreNacional" class="form-control"
                                        formControlName="nombren" data-error=" " data-success=" ">
                                    <label for="formNombreNacional">&nbsp;&nbsp;&nbsp;&nbsp;NOMBRE NACIONAL</label>
                                </div>
                            </div>
                            <!-- Fin row -->
                            <!-- Inicio row -->
                            <div class="row">
                                <div class="md-form col-md-5 mt-10">
                                    <input mdbInputDirective type="text" id="formNombrecomunn" class="form-control"
                                        formControlName="nombrecomunn" data-error=" " data-success=" ">
                                    <label for="formNombrecomunn">&nbsp;&nbsp;&nbsp;&nbsp;NOMBRE COMÚN NACIONAL</label>
                                </div>
                                <div class="col-md-3 mt-15">
                                    <mat-form-field>
                                        <mat-select placeholder="CLASE" panelClass="color-panel-green"
                                            formControlName="clase">
                                            <mat-option>--- Ningún valor ---</mat-option>
                                            <mat-option *ngFor="let sClase of criterio_clase" [value]="sClase.value">
                                                {{sClase.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Fin row -->
                            <div class="row">
                                <div class="col-md-5">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-4 mt-15" *ngIf="clasificacion_comunidad_Buscador">
                                    <mat-form-field>
                                        <mat-select placeholder="COMUNIDAD" panelClass="color-panel-green"
                                            formControlName="comunidad">
                                            <mat-option>--- Ningún valor ---</mat-option>
                                            <mat-option *ngFor="let sTipo of criterio_tipo_comunidad"
                                                [value]="sTipo.value">
                                                {{sTipo.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Fin row -->
                            <div>
                                <button class="btn color-green waves-light" mdbWavesEffect
                                    (click)="buscarJerarquizacionSubnacional()">Buscar</button>
                                <button class="btn color-green waves-light" mdbWavesEffect
                                    (click)="buscarTodos()">Buscar
                                    Todos</button>
                            </div>
                        </form>
                        <!-- Fin form -->
                        <div class="text-center">
                            <div *ngIf="loading">
                                <img src="assets/imagenes/load.gif">
                            </div>
                        </div>
                        <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">
                            {{ successMessage }}</ngb-alert>

                    </div>
                    <!-- Fin modal-content -->
                    <!-- Tabla busqueda-->
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
                    <div class="mat-elevation-z8" *ngIf="dataSource">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <!-- No. Column -->
                            <div class="col-md-1">
                                <ng-container matColumnDef="numero">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                                    <td mat-cell *matCellDef="let row"> {{row.numero}} </td>
                                </ng-container>
                            </div>
                            <ng-container matColumnDef="codigoe">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO ELEMENTO</th>
                                <td mat-cell *matCellDef="let row"> {{row.codigoe}} </td>
                            </ng-container>
                            <ng-container matColumnDef="subnacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>DEPTO</th>
                                <td mat-cell *matCellDef="let row"> {{row.subnacion}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nombres">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE SUBNACIONAL</th>
                                <td mat-cell *matCellDef="let row"> {{row.nombres}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nombren">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE NACIONAL</th>
                                <td mat-cell *matCellDef="let row"> {{row.nombren}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nombrecomunn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE COMÚN</th>
                                <td mat-cell *matCellDef="let row"> {{row.nombrecomunn}} </td>
                            </ng-container>
                            <ng-container matColumnDef="clase">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CLASE</th>
                                <td mat-cell *matCellDef="let row"> {{row.clase}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-green"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="base-element-row"
                                (click)="mostrar_JerarquizacionSubnacional_Busqueda(row); JerarquizacionSubNacional.select('tab-formulario');">
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                    <!-- Fin tabla busquedas -->
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
<!-- </div> -->