<app-navbar></app-navbar>
<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card tab-black mt-alinear">
          <div class="card-tabs">
            <ngb-tabset #t="ngbTabset">
              <ngb-tab id="tab-selectbyid1" title="Caracterización Plantas Nacional">
                <ng-template ngbTabContent>
                  <app-caracterizacion-plantas-nacional></app-caracterizacion-plantas-nacional>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-selectbyid2" title="Buscar Plantas">
                  <ng-template ngbTabContent>
                   <app-buscar-caracterizacion-plantas-nacional></app-buscar-caracterizacion-plantas-nacional>
                  </ng-template>
                </ngb-tab>
              <ngb-tab id="tab-selectbyid3" title="Caracterización Vertebrado Nacional">
                <ng-template ngbTabContent>
                  <app-caracterizacion-vertebrados-nacional></app-caracterizacion-vertebrados-nacional>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-selectbyid4" title="Buscar Vertebrados">
                <ng-template ngbTabContent>
                  <app-buscar-caracterizacion-vertebrados-nacional></app-buscar-caracterizacion-vertebrados-nacional>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin fondo -->