<div class="fondo">
  <div class="icon-bar" role="navigation">
    <a class="active">
      <img src="iconos/logo.ico"> CDC
    </a>
    <a [routerLink]="['/home']">
      <img src="iconos/home.ico"> Home
    </a>
    <a [routerLink]="['/fuente']">
      <img src="iconos/fuente.ico"> Fuentes
    </a>
    <a [matMenuTriggerFor]="elemento">
      <img src="iconos/elemento.ico"> Elemento
    </a>
    <a [routerLink]="['/caracterizacion']">
      <img src="iconos/resumen.ico"> Resúmenes caracterizar
    </a>
    <a [matMenuTriggerFor]="depto">
      <img src="iconos/ruta.ico"> Sitios y áreas
    </a>
    <a [matMenuTriggerFor]="info">
      <img src="iconos/ayuda.ico"> Ayuda
    </a>
    <a (click)="Logout()">
      <img src="iconos/lock.ico"> Cerar sesión
    </a>
  </div>
</div>

<mat-menu #elemento="matMenu">
  <button mat-menu-item [routerLink]="['/jerarquizacion']">
    <img src="iconos/jerarquizacion.ico">Jerarquización</button>
  <button mat-menu-item [routerLink]="['/rastreoElemento']">
    <img src="iconos/rastreo.ico">Rastreo</button>
  <button mat-menu-item [routerLink]="['/localizacionElemento']">
    <img src="iconos/localizacion.ico">Localización</button>
</mat-menu>
<mat-menu #depto="matMenu">
  <button mat-menu-item [routerLink]="['/sitios']">
    <img src="iconos/sitios.ico">Sitios</button>
  <button mat-menu-item [routerLink]="['/areasManejadas']">
    <img src="iconos/area.ico">Áreas</button>
  <button mat-menu-item [routerLink]="['/contactos']">
    <img src="iconos/contacto.ico">Contactos</button>
</mat-menu>
<mat-menu #info="matMenu">
  <button mat-menu-item [routerLink]="['/perfil']">
    <img src="iconos/perfil.ico"> Perfil</button>

  <button mat-menu-item [routerLink]="['/acerca']">
    <img src="iconos/informacion.ico"> Acerca del sistema de datos</button>
</mat-menu>

<mat-menu #elementoReporte="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="jerarquizacion">Jerarquización</button>
  <button mat-menu-item>Rastreo</button>
  <button mat-menu-item>Localización</button>
</mat-menu>
<mat-menu #jerarquizacion="matMenu">
  <button mat-menu-item>Elemento</button>
  <button mat-menu-item>Global</button>
  <button mat-menu-item>Nacional</button>
  <button mat-menu-item>Subnacional</button>
</mat-menu>
<mat-menu #deptoReporte="matMenu">
  <button mat-menu-item>Sitios</button>
  <button mat-menu-item>Áreas</button>
  <button mat-menu-item>Contactos</button>
</mat-menu>