<div class="fondo">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <div class="icon-bar" role="navigation">
    <a class="active">
      <img src="/iconos/logo32.ico"> CDC
    </a>
    <a [routerLink]="['/home']">
      <img src="/iconos/home32.ico"> Home
    </a>
    <a [routerLink]="['/fuente']">
      <img src="/iconos/fuente32.ico"> Fuentes
    </a>
    <a [routerLink]="['/jerarquizacion']">
      <img src="/iconos/jerarquizacion32.ico"> Jerarquía
    </a>
    <a [routerLink]="['/rastreoElemento']">
      <img src="/iconos/rastreo32.ico"> Rastreo
    </a>
    <a [routerLink]="['/resumen']">
      <img src="/iconos/resumen32.ico"> Resumen
    </a>
    <a [routerLink]="['/localizacionElemento']">
      <img src="/iconos/localizacion32.ico"> Localización
    </a>
    <a [routerLink]="['/estadistica']">
      <img src="/iconos/estadisticas32.ico"> Estadística
    </a>
    <a [routerLink]="['/sitios']">
      <img src="/iconos/sitios32.ico"> Sitios
    </a>
    <a (click)="Logout()"> 
      <img src="/iconos/lock32.ico"> Cerar sesión
    </a>
    <a [routerLink]="['/areasManejadas']">
      <img src="/iconos/area32.ico"> Área
    </a>
    <a [routerLink]="['/contactos']">
      <img src="/iconos/contacto32.ico"> Contactos
    </a>
    <a [routerLink]="['/perfil']">
      <img src="/iconos/perfil32.ico"> Perfil
    </a>
    <a [routerLink]="['/ayuda']">
      <img src="/iconos/ayuda32.ico"> Ayuda
    </a>
   
  </div>
</div>