<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-white text-center bg-success ml-alinear  mb-3" style="max-width: 100rem;">
          <div class="card-header">Acerca del sistema de datos:</div>
          <div class="card-body">
            <p class="card-text text-white">
              Este sistema es sin fines de lucro. Se tomó como base los formularios del Centro de Datos para la
              Conservación,
              la página web y los servicios fueron creados desde cero utilizando el marco de trabajo SCRUM y tambien
              aprovechando
              eficientemente los beneficios de Angular CLI version 7.3.9 y su comunidad.
            </p>
            <p class="card-text text-white">
              El proyecto fue planificado y desarrollado como Ejercicio Profesional Supervisado (EPS) de la Universidad
              de San Carlos de
              Guatemala.
            </p>
            <p class="card-text text-white">
              Epesista: Héctor David Vix de León.
            </p>
            <p class="card-text text-white">
              Correo: vix.hector@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>