<!-- Todos los campos de Fenología desde Enero hasta Diciembre  4 estaciones x 2 -->
<div class="container text-center">
  <div class="row col-md-12">
    <fenologia *ngFor="let fenologiaModelo_Valor of modelo_Fenologia">
      <enero *ngIf="fenologiaModelo_Valor.posicion==0">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaEnero" class="form-control"
            [(ngModel)]="modelo_Fenologia[0].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaEnero">&nbsp;&nbsp;&nbsp;&nbsp;ENERO:</label>
        </div>
      </enero>
      <febrero *ngIf="fenologiaModelo_Valor.posicion==8">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaFebrero" class="form-control"
            [(ngModel)]="modelo_Fenologia[8].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for=" fenologiaFebrero">&nbsp;&nbsp;&nbsp;&nbsp;FEBRERO:</label>
        </div>
      </febrero>
      <marzo *ngIf="fenologiaModelo_Valor.posicion==16">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaMarzo" class="form-control"
            [(ngModel)]="modelo_Fenologia[16].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaMarzo">&nbsp;&nbsp;&nbsp;&nbsp;MARZO:</label>
        </div>
      </marzo>
      <abril *ngIf="fenologiaModelo_Valor.posicion==24">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaAbril" class="form-control"
            [(ngModel)]="modelo_Fenologia[24].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for=" fenologiaAbril">&nbsp;&nbsp;&nbsp;&nbsp;ABRIL:</label>
        </div>
      </abril>
      <mayo *ngIf="fenologiaModelo_Valor.posicion==32">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaMayo" class="form-control"
            [(ngModel)]="modelo_Fenologia[32].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for=" fenologiaMayo">&nbsp;&nbsp;&nbsp;&nbsp;MAYO:</label>
        </div>
      </mayo>
      <junio *ngIf="fenologiaModelo_Valor.posicion==40">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaJunio" class="form-control"
            [(ngModel)]="modelo_Fenologia[40].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaJunio">&nbsp;&nbsp;&nbsp;&nbsp;JUNIO:</label>
        </div>
      </junio>
      <julio *ngIf="fenologiaModelo_Valor.posicion==48">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaJulio" class="form-control"
            [(ngModel)]="modelo_Fenologia[48].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaJulio">&nbsp;&nbsp;&nbsp;&nbsp;JULIO:</label>
        </div>
      </julio>
      <agosto *ngIf="fenologiaModelo_Valor.posicion==56">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaAgosto" class="form-control"
            [(ngModel)]="modelo_Fenologia[56].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaAgosto">&nbsp;&nbsp;&nbsp;&nbsp;AGOSTO:</label>
        </div>
      </agosto>
      <septiembre *ngIf="fenologiaModelo_Valor.posicion==64">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaSeptiembre" class="form-control"
            [(ngModel)]="modelo_Fenologia[64].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaSeptiembre">&nbsp;&nbsp;&nbsp;&nbsp;SEPTIEMBRE:</label>
        </div>
      </septiembre>
      <octubre *ngIf="fenologiaModelo_Valor.posicion==72">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaOctubre" class="form-control"
            [(ngModel)]="modelo_Fenologia[72].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaOctubre">&nbsp;&nbsp;&nbsp;&nbsp;OCTUBRE:</label>
        </div>
      </octubre>
      <noviembre *ngIf="fenologiaModelo_Valor.posicion==80">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaNoviembre" class="form-control"
            [(ngModel)]="modelo_Fenologia[80].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaNoviembre">&nbsp;&nbsp;&nbsp;&nbsp;NOVIEMBRE:</label>
        </div>
      </noviembre>
      <diciembre *ngIf="fenologiaModelo_Valor.posicion==88">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" id="fenologiaDiciembre" class="form-control"
            [(ngModel)]="modelo_Fenologia[88].valores" (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
          <label for="fenologiaDiciembre">&nbsp;&nbsp;&nbsp;&nbsp;DICIEMBRE:</label>
        </div>
      </diciembre>
      <cola *ngIf="fenologiaModelo_Valor.posicion!=0 
                && fenologiaModelo_Valor.posicion!=8
                && fenologiaModelo_Valor.posicion!=16
                && fenologiaModelo_Valor.posicion!=24
                && fenologiaModelo_Valor.posicion!=32
                && fenologiaModelo_Valor.posicion!=40
                && fenologiaModelo_Valor.posicion!=48
                && fenologiaModelo_Valor.posicion!=56
                && fenologiaModelo_Valor.posicion!=64
                && fenologiaModelo_Valor.posicion!=72
                && fenologiaModelo_Valor.posicion!=80
                && fenologiaModelo_Valor.posicion!=88">
        <div class="md-form col-md-12">
          <input mdbInputDirective type="text" class="form-control"
            [(ngModel)]="modelo_Fenologia[fenologiaModelo_Valor.posicion].valores"
            (click)="cambios_ActividadesEstacion(fenologiaModelo_Valor.posicion)">
        </div>
      </cola>
    </fenologia>
  </div>
  <!-- Fin row -->
</div>
<!-- Fin container -->