<app-navbar></app-navbar>
<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card tab-black mt-alinear">
          <div class="card-tabs">
            <ngb-tabset #t="ngbTabset">
              <ngb-tab id="tab-selectbyid1" title="Formulario Contactos">
                <ng-template ngbTabContent>
                  <app-formulario-contactos></app-formulario-contactos>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-selectbyid2" title="Buscar Contactos">
                <ng-template ngbTabContent>
                  <app-buscar-contactos></app-buscar-contactos>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>