<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card tab-black mt-alinear ml-alinear">
          <div class="card-tabs">
            <ngb-tabset #t="ngbTabset">
              <ngb-tab id="tab-selectbyid1" title="Formulario Contactos">
                <ng-template ngbTabContent>
                  <app-formulario-contactos></app-formulario-contactos>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>