<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand"><img src="iconos/logo.ico">
            <font size=4 color="white">CECON</font>
        </a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" href="https://www.facebook.com/" mdbWavesEffect>
                    <img src="iconos/facebook.ico">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="https://www.twitter.com/" mdbWavesEffect>
                    <img src="iconos/twitter.ico">
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!--/.Navbar-->
<div class="col-md-6 mx-auto my-5">
    <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">{{ successMessage }}
    </ngb-alert>
    <div class="modal-content">
        <div class="modal-header color-green">
            <h5 class="modal-tittle">
                <font size=4 color="white">Login</font>
            </h5>
        </div>
        <div class="card-body mx-4">
            <!--Header-->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input mdbInputDirective type="text" id="LFemail" formControlName="LFemail" class="form-control">
                    <label for="LFemail">Tu correo</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix "></i>
                    <input mdbInputDirective type="password" id="LFcontrasena" formControlName="LFcontrasena"
                        class="form-control">
                    <label for="LFcontrasena">Tu Contraseña</label>
                </div>
                <div class="text-center">
                    <div *ngIf="loading">
                        <img src="assets/imagenes/load.gif">
                    </div>
                    <input type="submit" class="btn color-green waves-light" [disabled]="!loginForm.valid"
                        mdbWavesEffect value="Iniciar sesión">
                </div>
            </form>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
                <p class="font-small grey-text d-flex justify-content-end">¿Aún no tienes cuenta?
                    <a (click)="formRegistro.show(); successMessage = null" class="blue-text ml-1">
                        Regístrate</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--Modal: Registro form-->
<div mdbModal #formRegistro="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header color-green darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-pencil"></i> Registro</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
                    (click)="formRegistro.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
                <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">
                    {{ successMessage }}</ngb-alert>

                <form [formGroup]="registroForm">
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <i class="fa fa-user-circle prefix"></i>
                                <input type="text" id="materialRegisterFormFirstName" class="form-control"
                                    formControlName="nombre" mdbInputDirective>
                                <label for="materialRegisterFormFirstName">Nombre</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input type="email" id="materialRegisterFormLastName" class="form-control"
                                    formControlName="apellido" mdbInputDirective>
                                <label for="materialRegisterFormLastName">Apellido</label>
                            </div>
                        </div>
                    </div>
                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input mdbInputDirective type="email" id="email" formControlName="email" class="form-control">
                        <label for="email">Correo</label>
                    </div>
                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix "></i>
                        <input mdbInputDirective type="password" id="contrasena" formControlName="contrasena"
                            class="form-control">
                        <label for="contrasena">Contraseña</label>
                    </div>
                    <div class="text-center mt-1-half">
                        <div *ngIf="loading">
                            <img src="assets/imagenes/load.gif">
                        </div>
                        <button class="btn color-green mb-2 waves-light" mdbWavesEffect [disabled]="!registroForm.valid"
                            (click)="onSubmitRegistro()">Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Registro form-->
<!--Modal: Recuperar Contraseña form-->
<div mdbModal #formRecuperarContrasena="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header color-green darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-pencil"></i> Recuperar Contraseña</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
                    (click)="formRecuperarContrasena.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
                <form [formGroup]="recuperarContrasenaForm">
                    <!--Nombre-->
                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input mdbInputDirective type="email" id="emailRecuperarContrasena"
                            formControlName="emailRecuperarContrasena" class="form-control">
                        <label for="emailRecuperarContrasena">Tu correo</label>
                    </div>
                    <div class="text-center mt-1-half">
                        <button class="btn color-green mb-2 waves-light" [disabled]="!recuperarContrasenaForm.valid"
                            mdbWavesEffect>Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Registro form-->