<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card grey lighten-2">
        <div class="card-tabs">
          <ngb-tabset #t="ngbTabset">
            <ngb-tab id="tab-selectbyid1" title="Formulario Fuente">
              <ng-template ngbTabContent>
                <app-formulario-resumen-fuente></app-formulario-resumen-fuente> 

              </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-selectbyid2" title="Editar">
              <ng-template ngbTabContent>
              </ng-template>
            </ngb-tab>
           
          </ngb-tabset>
        </div>
        <div class="card-content white">
          <div class="row col-md-7 text-center">
           <h5>
              <p> Oh inefable Creador nuestro,
              altísimo principio y fuente verdadera de luz y sabiduría,
              dígnate infundir el rayo de tu claridad
              sobre las tinieblas de mi inteligencia,
              removiendo la doble oscuridad con la que nací:
              la del pecado y la ignorancia.           
              </p>
              <p>
              ¡Tú, que haces elocuentes las lenguas de los pequeños,
              instruye la mía, e infunde en mis labios la gracia de tu bendición!
              Dame agudeza para entender, capacidad para retener,
              método y facilidad para atender, sutileza para interpretar
              y gracia abundante para hablar.
            </p>
            <p>
              Dame acierto al empezar, dirección al progresar y perfección al acabar
              ¡Oh Señor! Dios y hombre verdadero, que vives y reinas por los siglos de los siglos.
              Amen.
            </p>

           </h5>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>