<div class="card-content white">
  <div class="card-body">
    <ngb-tabset #fR="ngbTabset">
      <ngb-tab id="tab-pag1">
        <ng-template ngbTabTitle>
          <b>1</b>
        </ng-template>
        <ng-template ngbTabContent>

          <form [formGroup]="reForm">
            <!-- Identificadores -->
            <div class="modal-content ">
              <div class="modal-header color-green">
                <h5 class="modal-title">Identificadores</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">CODIGOE:</label>
                </div>
                <div class="md-form col-md-4">
                  <input mdbInputDirective type="text" id="formCodigoe" class="form-control" formControlName="codigoe" data-error="incorrecto,ingresa el codigo del elemento correcto"
                    data-success="correcto" required>
                </div>
                <div class="md-form col-md-4">
                  <input mdbInputDirective type="text" id="formTropicos" class="form-control" formControlName="tropicos" data-error="incorrecto"
                    data-success="correcto" required>
                  <label for="formTropicos">&nbsp;&nbsp;&nbsp;&nbsp;TROPICOS</label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">NACION:</label>
                </div>
                <div class="md-form col-md-4 mt-1">
                  <input mdbInputDirective type="text" id="formNacion" class="form-control" formControlName="nacion" data-error="incorrecto"
                    data-success="correcto" required>
                </div>
                <div class="md-form col-md-4 mt-1">
                  <input mdbInputDirective type="text" id="formSubnacion" class="form-control" formControlName="subnacion" data-error="incorrecto"
                    data-success="correcto" required>
                  <label for="formSubnacion">&nbsp;&nbsp;&nbsp;&nbsp;SUBNACION</label>
                </div>
              </div>
              <!-- fin row -->
            </div>
            <!-- fin modal-content -->
            <!-- Taxonomia (Global) -->
            <div class="modal-content ">
              <div class="modal-header color-green">
                <h5 class="modal-title">Taxonomia (Global)</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">CLASETAX:</label>
                </div>
                <div class="md-form col-md-4">
                  <input mdbInputDirective type="text" id="formClasetax" class="form-control" formControlName="clasetax" data-error=" " data-success=" ">
                </div>
                <div class="md-form col-md-4">
                  <input mdbInputDirective type="text" id="formOrden" class="form-control" formControlName="orden" data-error=" " data-success=" ">
                  <label for="formOrden">&nbsp;&nbsp;&nbsp;&nbsp;ORDEN</label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">FAMILIA:</label>
                </div>
                <div class="md-form col-md-4 mt-20">
                  <input mdbInputDirective type="text" id="formFamilia" class="form-control" formControlName="familia" data-error=" " data-success=" ">
                </div>
                <div class="md-form col-md-4 mt-20">
                  <input mdbInputDirective type="text" id="formGenero" class="form-control" formControlName="genero" data-error=" " data-success=" ">
                  <label for="formGenero">&nbsp;&nbsp;&nbsp;&nbsp;GENERO</label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">NOMBREG:</label>
                </div>
                <div class="md-form col-md-9 mt-20">
                  <input mdbInputDirective type="text" id="formNombreg" class="form-control" formControlName="nombreg" data-error=" " data-success=" ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">AUTOR:</label>
                </div>
                <div class="md-form col-md-9 mt-20">
                  <input mdbInputDirective type="text" id="formAutor" class="form-control" formControlName="autor" data-error=" " data-success=" ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">FUENTENOM:</label>
                </div>
                <div class="md-form col-md-2 mt-20">
                  <input mdbInputDirective type="number" id="formAutor" class="form-control" formControlName="autor" data-error=" " data-success=" ">
                </div>
                <div class="md-form col-md-3 mt-20">
                  <input mdbInputDirective type="text" id="formRefnombre" class="form-control" formControlName="refnombre" data-error=" " data-success=" ">
                  <label for="formRefnombre">&nbsp;&nbsp;&nbsp;&nbsp;REFNOMBRE</label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">DISTRAX:</label>
                </div>
                <div class="col-md-5 mt-10">
                  <select class="form-control color-green" formControlName="distrax">
                    <option *ngFor="let sDistrax of ldistrax" [value]="sDistrax">{{sDistrax}}</option>
                  </select>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">DUDATAX:</label>
                </div>
                <div class="col-md-5">
                  <select class="form-control color-green" formControlName="dudatax">
                    <option *ngFor="let sDudatax of ldudatax" [value]="sDudatax">{{sDudatax}}</option>
                  </select>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">NOMCOMUNG:</label>
                </div>
                <div class="md-form col-md-9 mt-3">
                  <input mdbInputDirective type="text" id="formNomcomung" class="form-control" formControlName="nomcomung" data-error=" " data-success=" ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">COMTAXG:</label>
                </div>
                <div class="md-form col-md-9 mt-20">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbInputDirective type="text" id="formComtaxg" class="md-textarea form-control" formControlName="comtaxg" rows="3"
                    data-error=" " data-success=" "></textarea>
                  <label for="formComtaxg"></label>
                </div>
              </div>
            </div>
            <!-- fin modal-content -->
            <!-- Taxonomia (Nacional) -->
            <div class="modal-content ">
              <div class="modal-header color-green">
                <h5 class="modal-title">Taxonomia (Nacional)</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">NOMBREN:</label>
                </div>
                <div class="md-form col-md-7">
                  <input mdbInputDirective type="text" id="formCodigoe" class="form-control" formControlName="nombren" data-error=" " data-success=" ">
                </div>
                <div class="md-form col-md-2">
                  <input mdbInputDirective type="number" id="formNumsinn" class="form-control" formControlName="numsinn" data-error=" " data-success=" ">
                  <label for="formNumsinn">&nbsp;&nbsp;&nbsp;&nbsp;NUMSINN</label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">NOMCOMUNN:</label>
                </div>
                <div class="md-form col-md-9 mt-20">
                  <input mdbInputDirective type="text" id="formNomcomunn" class="form-control" formControlName="nomcomunn" data-error=" " data-success=" ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">COMTAXN:</label>
                </div>
                <div class="md-form col-md-9 mt-20">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbInputDirective type="text" id="formComtaxn" class="md-textarea form-control" rows="3" data-error=" " data-success=" "
                    formControlName="comtaxn"></textarea>
                  <label for="formComtaxn"></label>
                </div>
              </div>

            </div>
            <!-- fin modal-content -->


          </form>
          <!-- fin form -->
          <div class="text-center ">
            <p>
              <button class="btn color-green waves-light" (click)="fR.select('tab-pag2')" mdbWavesEffect>Siguiente</button>
              <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>
            </p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-pag2">
        <ng-template ngbTabTitle>
          <b>2</b>
        </ng-template>
        <ng-template ngbTabContent>
          <form [formGroup]="reForm">
            <!-- Status (Global) -->
            <div class="modal-content ">
              <div class="modal-header color-green">
                <h5 class="modal-title">Status (Global)</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">RANGOG:</label>
                </div>
                <div class="col-md-2 mt10">
                  <select class="form-control color-green" formControlName="rangog">
                    <option *ngFor="let sRangog of lrangog" [value]="sRangog">{{sRangog}}</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <label for="">FORMULAR:</label>
                </div>
                <div class="col-md-2 mt10">
                  <select class="form-control color-green" formControlName="formularg">
                    <option *ngFor="let sFormularg of lformularg" [value]="sFormularg">{{sFormularg}}</option>
                  </select>
                </div>
                <div class="md-form col-md-2 mt10">
                  <input mdbInputDirective type="text" id="formResprg" class="form-control" formControlName="resprg" data-error=" " data-success=" ">
                  <label for="formResprg">RESPRG</label>
                </div>
                <div class="md-form col-md-2 input-group-append mt10">
                  <input mdbInputDirective type="text" id="formFechaRevrg" class="form-control" formControlName="fecha_revrg" data-error=" "
                    data-success=" " ngbDatepicker #dFechaRevrg="ngbDatepicker">
                  <label for="formFechaRevrg">&nbsp;&nbsp;&nbsp;&nbsp;FECHA.REVRG</label>
                  <div (click)="dFechaRevrg.toggle()">
                    <i class="fa fa-calendar prefix"></i>
                  </div>
                </div>
              </div>
              <!-- fin row -->
              <!-- 2 linea -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">AEPEU:</label>
                </div>
                <div class="md-form col-md-2 mt-20">
                  <input mdbInputDirective type="text" id="formAepeu" class="form-control" formControlName="aepeu" data-error=" " data-success=" ">
                  <label for="formAepeu"></label>
                </div>
                <div class="md-form col-md-2 input-group-append mt-20">
                  <input mdbInputDirective type="text" id="formFechaAepeu" class="form-control" formControlName="fecha_aepeu" data-error=" "
                    data-success=" " ngbDatepicker #dFechaAepeu="ngbDatepicker">
                  <label for="formFechaAepeu">&nbsp;&nbsp;&nbsp;&nbsp;FECHA.AEPEU</label>
                  <div (click)="dFechaAepeu.toggle()">
                    <i class="fa fa-calendar prefix"></i>
                  </div>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">CITES:</label>
                </div>
                <div class="col-md-2">
                  <select class="form-control color-green" formControlName="cites">
                    <option *ngFor="let sCites of lcites" [value]="sCites">{{sCites}}</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <label for="">UICN:</label>
                </div>
                <div class="col-md-4">
                  <select class="form-control color-green" formControlName="uicn">
                    <option *ngFor="let sUicn of luicn" [value]="sUicn">{{sUicn}}</option>
                  </select>
                </div>
              </div>
              <!-- fin row -->
              <!-- 3 linea -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">PLANSCONS:</label>
                </div>
                <div class="col-md-2 mt10">
                  <select class="form-control color-green" formControlName="planscons">
                    <option *ngFor="let sPlanscons of lformularg" [value]="sPlanscons">{{sPlanscons}}</option>
                  </select>
                </div>

                <div class="md-form col-md-2">
                  <input mdbInputDirective type="text" id="formResplan" class="form-control" formControlName="resplan" data-error=" " data-success=" ">
                  <label for="formResplan">&nbsp;&nbsp;&nbsp;RESPLAN:</label>
                </div>
                <div class="col-md-1">
                  <label for="">RESUMENM</label>
                </div>
                <div class="col-md-2 mt10">
                  <select class="form-control color-green" formControlName="resumenman">
                    <option *ngFor="let sResumenman of lformularg" [value]="sResumenman">{{sResumenman}}</option>
                  </select>
                </div>

                <div class="md-form col-md-2">
                  <input mdbInputDirective type="text" id="formRes_resumen" class="form-control" formControlName="resresumen" data-error=" "
                    data-success=" ">
                  <label for="formRes_resumen">&nbsp;&nbsp;&nbsp;RESRESUMEN</label>
                </div>


              </div>

              <!-- 4 linea -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">EXSITU:</label>
                </div>
                <div class="col-md-2 mt-10">
                  <select class="form-control color-green" formControlName="exsitu">
                    <option *ngFor="let sExsitu of lexsitu" [value]="sExsitu">{{sExsitu}}</option>
                  </select>
                </div>

                <div class="md-form col-md-3 mt-10">
                  <input mdbInputDirective type="text" id="formInstExsitu" class="form-control" formControlName="inst_exsitu" data-error=" "
                    data-success=" ">
                  <label for="formInstExsitu">&nbsp;&nbsp;&nbsp;INST.EXSITU:</label>
                </div>

                <div class="col-md-1 ">
                  <label for="">ENDEMISMO:</label>
                </div>
                <div class="col-md-4 mt-10">
                  <select class="form-control color-green" formControlName="endemismo">
                    <option *ngFor="let sEndemismo of lendemismo" [value]="sEndemismo">{{sEndemismo}}</option>
                  </select>
                </div>
              </div>
              <!-- fin row -->
            </div>
            <!-- fin modal-content -->
            <!-- Status (Nacional) -->
            <div class="modal-content ">
              <div class="modal-header color-green">
                <h5 class="modal-title">Status (Nacional)</h5>
              </div>
              <!-- 1 linea -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">RANGON:</label>
                </div>
                <div class="col-md-2 mt10">
                  <select class="form-control color-green" formControlName="rangon">
                    <option *ngFor="let sRangon of lrangon" [value]="sRangon">{{sRangon}}</option>
                  </select>
                </div>
                <div class="col-md-1">
                    <label for="">FORMLARN:</label>
                  </div>
                  <div class="col-md-2 mt10">
                    <select class="form-control color-green" formControlName="formularn">
                      <option *ngFor="let sFormularn of lformularg" [value]="sFormularn">{{sFormularn}}</option>
                    </select>
                  </div>
                  <div class="md-form col-md-2 mt10">
                      <input mdbInputDirective type="text" id="formRastreolen" class="form-control" formControlName="rastreolen" data-error=" "
                        data-success=" ">
                      <label for="formRastreolen">&nbsp;&nbsp;&nbsp;RASTREOLEN</label>
                    </div>
                <div class="md-form col-md-2  input-group-append mt10">        
                  <input mdbInputDirective type="text" id="formFechaRevrn" class="form-control" formControlName="fecha_revrn" data-error=" "
                    data-success=" " ngbDatepicker #dFechaRvrn="ngbDatepicker">
                  <label for="formFechaRevrn">FECHA.REVRN:</label>
                  <div (click)="dFechaRvrn.toggle()" >
                      <i class="fa fa-calendar prefix"></i>
                  </div>
                </div>
                
                
              </div>
              <!--  2 linea -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">LESTIMN:</label>
                </div>
                <div class="col-md-2">
                  <select class="form-control color-green" formControlName="lestimn" required>
                    <option *ngFor="let sFuentenom of llestimn" [value]="sFuentenom">{{sFuentenom}}</option>
                  </select>
                </div>
                <div class="col-xs-6 col-sm-1 ">
                  <label for="">LEPROTN:</label>
                </div>
                <div class="col-xs-6 col-sm-2 mt-35 td40">
                  <select class="form-control" formControlName="refnomber" required>
                    <option *ngFor="let sRefnomber of lrefnomber" [value]="sRefnomber">{{sRefnomber}}</option>
                  </select>
                </div>
                <div class="col-xs-6 col-sm-1 ">
                  <label for="">ABUNDN:</label>
                </div>
                <div class="col-xs-6 col-sm-1 ">
                  <select class="form-control" formControlName="distrax" required>
                    <option *ngFor="let sDistrax of ldistrax" [value]="sDistrax">{{sDistrax}}</option>
                  </select>
                </div>
                <div class="col-xs-6 col-sm-1 ">
                  <label for="">PROTNACION:</label>
                </div>
                <div class="col-xs-6 col-sm-2 td mt-35 ">
                  <select class="form-control" formControlName="dudatax" required>
                    <option *ngFor="let sDudatax of ldudatax" [value]="sDudatax">{{sDudatax}}</option>
                  </select>
                </div>
              </div>
              <!-- 3 linea -->

              <div class="row">
                <div class="col-xs-6 col-sm-2 ">
                  <label for="">REFNOMBRE:</label>
                </div>

                <div class="md-form col-sm-4 mt-0 ">
                  <input mdbInputDirective type="text" id="formInstExsitu" class="form-control" formControlName="nomcomunn" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>

                </div>
                <div class="col-xs-6 col-sm-2">
                  <label for="">TRANSPARENCIAN:</label>
                </div>
                <div class="col-xs-6 col-sm-2 td mt-35 ">
                  <select class="form-control" formControlName="clasetax" required>
                    <option *ngFor="let sClasetax of lclasetax" [value]="sClasetax">{{sClasetax}}</option>
                  </select>
                </div>
              </div>

            </div>
            <!-- fin modal-content -->
            <!-- Status (Subnacional) -->
            <div class="modal-content ">
              <div class="modal-header">
                <h5 class="modal-title">Status (Subnacional)</h5>
              </div>
              <!-- 1 linea -->
              <div class="row">
                <div class="col-xs-6 col-sm-2 ">
                  <label for="">RANGOS:</label>
                </div>
                <div class="col-xs-6 col-sm-1 mt5 ">
                  <select class="form-control" formControlName="clasetax" required>
                    <option *ngFor="let sClasetax of lclasetax" [value]="sClasetax">{{sClasetax}}</option>
                  </select>
                </div>
                <div class="md-form form-sm  input-group-append mt-0">
                  <i class="fa fa-calendar prefix "></i>
                  <input mdbInputDirective type="text" id="formFecha_revrg" class="form-control" formControlName="rangos" ngbDatepicker #dFECHA_REVRG="ngbDatepicker">
                  <label for="formFecha_revrg">FECHA.REVRS:</label>
                  <div class="input-group-append ">
                    <button class="btn btn-info mb-2 waves-light" (click)="dFECHA_REVRG.toggle()" mdbWavesEffect>Date
                    </button>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-1 mt-0">
                  <label for="">FORMLARS:</label>
                </div>
                <div class="col-xs-6 col-sm-1  ">
                  <select class="form-control" formControlName="formularg" required>
                    <option *ngFor="let sFormularg of lformularg" [value]="sFormularg">{{sFormularg}}</option>
                  </select>
                </div>
                <div class="col-xs-6 col-sm-1 mt-0 ">
                  <label for="">RASTREOLES:</label>
                </div>
                <div class="col-xs-6 col-sm-2 td mt-35">
                  <select class="form-control" formControlName="formularg" required>
                    <option *ngFor="let sFormularg of lformularg" [value]="sFormularg">{{sFormularg}}</option>
                  </select>
                </div>
              </div>
              <!--  2 linea -->
              <div class="row">
                <div class="col-xs-6 col-sm-2 ">
                  <label for="">LESTIMS:</label>
                </div>
                <div class="col-xs-6 col-sm-1  mt5 ">
                  <select class="form-control" formControlName="fuentenom" required>
                    <option *ngFor="let sFuentenom of lfuentenom" [value]="sFuentenom">{{sFuentenom}}</option>
                  </select>
                </div>
                <div class="col-xs-6 col-sm-1 ">
                  <label for="">LEPROTS:</label>
                </div>
                <div class="col-xs-6 col-sm-2 mt-35 td40">
                  <select class="form-control" formControlName="refnomber" required>
                    <option *ngFor="let sRefnomber of lrefnomber" [value]="sRefnomber">{{sRefnomber}}</option>
                  </select>
                </div>
                <div class="col-xs-6 col-sm-1 ">
                  <label for="">ABUNDS:</label>
                </div>
                <div class="col-xs-6 col-sm-1 ">
                  <select class="form-control" formControlName="distrax" required>
                    <option *ngFor="let sDistrax of ldistrax" [value]="sDistrax">{{sDistrax}}</option>
                  </select>
                </div>
                <div class="col-xs-6 col-sm-1 ">
                  <label for="">PROTNACIOS:</label>
                </div>
                <div class="col-xs-6 col-sm-2 td mt-35 ">
                  <select class="form-control" formControlName="dudatax" required>
                    <option *ngFor="let sDudatax of ldudatax" [value]="sDudatax">{{sDudatax}}</option>
                  </select>
                </div>
              </div>
              <!-- 3 linea -->

              <div class="row">
                <div class="col-xs-6 col-sm-2 ">
                  <label for="">REFNOMBRE:</label>
                </div>

                <div class="md-form col-sm-4 mt-0 ">
                  <input mdbInputDirective type="text" id="formInstExsitu" class="form-control" formControlName="nomcomunn" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                </div>

                <div class="col-xs-6 col-sm-2">
                  <label for="">TRANSPARENCIAS:</label>
                </div>
                <div class="col-xs-6 col-sm-2 td mt-35 ">
                  <select class="form-control" formControlName="clasetax" required>
                    <option *ngFor="let sClasetax of lclasetax" [value]="sClasetax">{{sClasetax}}</option>
                  </select>
                </div>
              </div>

            </div>
            <!-- fin modal-content -->
            <div class="row">
              <div class="col-xs-6 col-sm-2 ">
                <label for="">ACTUALIZAN:</label>
              </div>
              <div class="md-form form-sm  input-group-append mt-0">
                <i class="fa fa-calendar prefix "></i>
                <input mdbInputDirective type="text" id="formActualizan" class="form-control" formControlName="actualizan" ngbDatepicker
                  #dActualizan="ngbDatepicker">
                <label for="formActualizan">Fecha para actualizar:</label>
                <div class="input-group-append ">
                  <button class="btn btn-info mb-2 waves-light" (click)="dActualizan.toggle()" mdbWavesEffect>Date
                  </button>
                </div>
              </div>


              <div class="md-form col-sm-4 mt-0 ">
                <input mdbInputDirective type="text" id="formIniciales" class="form-control" formControlName="nomcomunn" data-error="incorrecto, minimo 3 caracteres"
                  data-success="correcto" required>
                <label for="formIniciales">Iniciales de la persona que actualiza:</label>
              </div>
            </div>
            <!--  -->
          </form>
          <!-- fin form -->
          <p>
            <button class="btn btn-outline-primary" (click)="fR.select('tab-pag1')">Atras</button>
            <button class="btn btn-outline-primary" type="submit">Guardar</button>
            <button class="btn btn-outline-primary" type="reset">Cancelar</button>

          </p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>