<h1 mat-dialog-title>Estación</h1>
<div mat-dialog-content>
  <p>Marca la actividad</p>
  <div class="row">
    <div class="col-md-5">
      <mat-checkbox [(ngModel)]="valor_Campo[0].valor">Apertura de la Yema</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[1].valor">Aparecimiento de Pétalos</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[2].valor">Aparecimeinto de Sépalos</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[3].valor">Brote Frorales</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[4].valor">Brote Foliares</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[5].valor">Brote Frutales</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[6].valor">Brotes Laterales</mat-checkbox>
      <mat-checkbox [(ngModel)]=valor_Campo[7].valor>Caducifolias</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[8].valor">Crecimiento del Fruto</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[9].valor">Caída de Pétalos</mat-checkbox>
    </div>
    <div class="col-md-5">
      <mat-checkbox [(ngModel)]="valor_Campo[10].valor">Coloración Semillas</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[11].valor">Fruto(s)</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[12].valor">Flor Abierta</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[13].valor">Floración</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[14].valor">Fructificación</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[15].valor">Germinación</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[16].valor">Maduración del Fruto</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[17].valor">Retoños</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[18].valor">Senecencia</mat-checkbox>
      <mat-checkbox [(ngModel)]="valor_Campo[19].valor">Yemas Floriales</mat-checkbox>
    </div>
  </div>
  <!-- Fin row -->
</div>
<div mat-dialog-actions>
  <div class="text-center">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
  </div>
</div>