<div class="card-content white">
    <div class="card-body">
        <ngb-tabset #fCaracterizacionPlatasNacional="ngbTabset">
            <!-- página 1 -->
            <ngb-tab id="tab-selectbyid1">
                <ng-template ngbTabTitle>
                    <b>1</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Identificadores:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CODIGOE:</label>
                                </div>
                                <div class="md-form col-md-4 mt-5 ">
                                    <input mdbInputDirective type="text" id="formCodigoe" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                    <label for="formCodigoe"></label>
                                </div>
                                <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formnacion" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                    <label for="formnacion">&nbsp;&nbsp;&nbsp;&nbsp; NACION</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NOMBREN:</label>
                                </div>
                                <div class="md-form col-md-9 mt-20 ">
                                    <input mdbInputDirective type="text" id="formNombren" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                    <label for="formNombren"></label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NOMCOMUNN:</label>
                                </div>
                                <div class="md-form col-md-9 mt-20 ">
                                    <input mdbInputDirective type="text" id="formNomcomunn" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                    <label for="formNomcomunn"></label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Taxonomía:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMSUBESPN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComsubespn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta"></textarea>
                                    <label for="formComsubespn">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">TAXASIMILN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formTaxasimiln" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta"></textarea>
                                    <label for="formTaxasimiln">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMIDENTN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComidentn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta"></textarea>
                                    <label for="formComidentn">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMTAXN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComtaxn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta"></textarea>
                                    <label for="formComtaxn">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Status:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RANGOG:</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" required>
                                        <option *ngFor="let sRangog of lrangog" [value]="sRangog">{{sRangog}}</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label for="">RANGON:</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" required>
                                        <option *ngFor="let sRangon of lrangon" [value]="sRangon">{{sRangon}}</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label for="">AEPEU:</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" required>
                                        <option *ngFor="let sAepeu of laepeu" [value]="sAepeu">{{sAepeu}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CITES:</label>
                                </div>
                                <div class="md-form col-md-2 mt-3">
                                    <input mdbInputDirective type="text" id="formCites" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                </div>
                                <div class="md-form col-md-2 mt-3">
                                    <input mdbInputDirective type="text" id="formUicn" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                    <label for="formUicn">&nbsp;&nbsp;&nbsp;&nbsp;UICN</label>
                                </div>
                                <div class="md-form col-md-2 mt-3">
                                    <input mdbInputDirective type="text" id="formRastreolen" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                    <label for="formRastreolen">&nbsp;&nbsp;&nbsp;&nbsp;RASTREOLEN</label>
                                </div>
                                <div class="md-form col-md-2 mt-3">
                                    <input mdbInputDirective type="text" id="formProtnacion" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                    <label for="formProtnacion">&nbsp;&nbsp;&nbsp;&nbsp;PROTNACION</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">MALEZAN:</label>
                                </div>
                                <div class="md-form col-md-9 mt-20 ">
                                    <input mdbInputDirective type="text" id="formMalezan" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                                        required>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CLASIFINSTN:</label>
                                </div>
                                <div class="md-form col-md-9 mt-20 ">
                                    <input mdbInputDirective type="text" id="formClasifinstn" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                    <label for="formClasifinstn"></label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMSTANTN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComstantn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta"></textarea>
                                    <label for="formComstantn">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Inventario:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">PRI.INVENTN:</label>
                                </div>
                                <div class="md-form col-md-2 mt-3 ">
                                    <input mdbInputDirective type="text" id="formPriInventn" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto" required>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NEC.INVENTN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formNecInventn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta" required></textarea>
                                    <label for="formCita">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COM.INVENTN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComInventn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta" required></textarea>
                                    <label for="formComInventn">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RES.PROPN:</label>
                                </div>
                                <div class="md-form col-md-4 mt-3 ">
                                    <input mdbInputDirective type="text" id="formResPropn" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto">
                                    <label for="formResPropn"></label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid2')" mdbWavesEffect>Siguiente</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 2 -->
            <ngb-tab id="tab-selectbyid2">
                <ng-template ngbTabTitle>
                    <b>2</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Distribución:</h5>
                            </div>
                            <div class="row  mx-auto ">
                                <ng2-smart-table [settings]="settings_distribucion1" [source]="source_Distribucion1">
                                </ng2-smart-table>
                            </div>
                            <!-- fin row -->
                            <div class="row  mx-auto ">
                                <ng2-smart-table [settings]="settings_distribucion2" [source]="source_Distribucion2">
                                </ng2-smart-table>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">ELEVMINN:</label>
                                </div>
                                <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formElevminn" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto">
                                </div>
                                <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formElevmaxn" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto">
                                    <label for="formElevmaxn">&nbsp;&nbsp;&nbsp;&nbsp;ELEVMAXN</label>
                                </div>
                                <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formDisyuntn" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto">
                                    <label for="formDisyuntn">&nbsp;&nbsp;&nbsp;&nbsp;DISYUNTN</label>
                                </div>
                                <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formPeriferican" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                                        data-success="correcto">
                                    <label for="formPeriferican">&nbsp;&nbsp;&nbsp;&nbsp;PERFERICAN</label>
                                </div>
                            </div>
                            <!-- fin row -->

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMDISTN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComdistn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta"></textarea>
                                    <label for="formComdistn">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Habitat:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMHABN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComhabn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta"></textarea>
                                    <label for="formComhabn">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Ecología:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMECOLN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComecoln" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                        data-success="correcta"></textarea>
                                    <label for="formComecoln">Anote</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid1')" mdbWavesEffect>Atras</button>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid3')" mdbWavesEffect>Siguiente</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 3 -->
            <ngb-tab id="tab-selectbyid3">
                <ng-template ngbTabTitle>
                    <b>3</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Fenología:</h5>
                            </div>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>                                       
                                        <th scope="col">NENEA</th>
                                        <th scope="col">NMARA</th>
                                        <th scope="col">NMAYA</th>
                                        <th scope="col">NJULA</th>
                                        <th scope="col">NSETA</th>
                                        <th scope="col">NNOVA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>                                      
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNenea1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNenea2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNenea3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNenea4" class="form-control" data-success="correcto">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmara1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmara2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmara3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmara4" class="form-control" data-success="correcto">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmaya1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmaya2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmaya3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmaya4" class="form-control" data-success="correcto">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNjula1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNjula2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNjula3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNjula4" class="form-control" data-success="correcto">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formSeta1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formSeta2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formSeta3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formSeta4" class="form-control" data-success="correcto">
                                            </div>
                                       </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNnova1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNnova2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNnova3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNnova4" class="form-control" data-success="correcto">
                                            </div>
                                       </td>
                                    </tr>
                                                                     
                                </tbody>
                            </table>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>                                       
                                        <th scope="col">NENEB</th>
                                        <th scope="col">NMARB</th>
                                        <th scope="col">NMAYB</th>
                                        <th scope="col">NJULB</th>
                                        <th scope="col">NSETB</th>
                                        <th scope="col">NNOVB</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>                                      
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNeneb1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNeneb2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNeneb3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNeneb4" class="form-control" data-success="correcto">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmarb1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmarb2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmarb3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmarb4" class="form-control" data-success="correcto">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmayb1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmayb2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmayb3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNmayb4" class="form-control" data-success="correcto">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNjulb1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNjulb2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNjulb3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNjulb4" class="form-control" data-success="correcto">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formSetb1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formSetb2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formSetb3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formSetb4" class="form-control" data-success="correcto">
                                            </div>
                                       </td>
                                        <td>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNnovb1" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNnovb2" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNnovb3" class="form-control" data-success="correcto">
                                            </div>
                                            <div class="md-form col-md-4 mt-20">
                                                <input mdbInputDirective type="text" id="formNnovb4" class="form-control" data-success="correcto">
                                            </div>
                                       </td>
                                    </tr>
                                                                     
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMFENOLN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Reproducción:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMREPN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Manejo:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMMANEJON:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Campos opcionales:</h5>
                            </div>
                        </div>
                        <!--fin modal-content-->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid2')" mdbWavesEffect>Atras</button>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid4')" mdbWavesEffect>Siguiente</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 4 -->
            <ngb-tab id="tab-selectbyid4">
                <ng-template ngbTabTitle>
                    <b>4</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Manteniento del registro:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">TRANSPAREN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">REFG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid3')" mdbWavesEffect>Atras</button>
                            <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Guardar</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
        </ngb-tabset>
        <!-- fin ngb-tabset -->
    </div>
    <!-- fin card-body -->
</div>
<!-- fin card-content -->