<div class="card-content white">
    <div class="card-body">
        <ngb-tabset #fCaracterizacionPlatasNacional="ngbTabset">
            <!-- página 1 -->
            <ngb-tab id="tab-selectbyid1">
                <ng-template ngbTabTitle>
                    <b>1</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Identificadores:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CODIGOE:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NOMBREN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NOMCOMUNN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Taxonomía:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMSUBESPN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">TAXASIMILN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMIDENTN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMTAXN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Status:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RANGOG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CITES:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">MALEZAN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CLASIFINSTN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMSTANTN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Inventario:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">PRI.INVENTN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NEC.INVENTN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COM.INVENTN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RES.PROPN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid2')" mdbWavesEffect>Siguiente</button>                     
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 2 -->
            <ngb-tab id="tab-selectbyid2">
                    <ng-template ngbTabTitle>
                        <b>2</b>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <form action="">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Distribución:</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">ELEVMINN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">ELEVMAXN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">DISYUNTN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">PERIFERICAN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">COMDISTN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                            </div>
                            <!-- fin modal-content -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Habitat:</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">COMHABN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                            </div>
                            <!--fin modal-content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Ecología:</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">COMECOLN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                            </div>
                            <!--fin modal-content-->
                        </form>
                        <!-- fin form -->
                        <div class="text-center ">
                            <p>
                                <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid1')" mdbWavesEffect>Atras</button>    
                                <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid3')" mdbWavesEffect>Siguiente</button>                 
                                <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                            </p>
                        </div>
                    </ng-template>
                    <!-- fin ng-template -->
                </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 3 -->
            <ngb-tab id="tab-selectbyid3">
                    <ng-template ngbTabTitle>
                        <b>3</b>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <form action="">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Fenología:</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">NENEA:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">NENEB:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">NFEBA:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">NFEBB:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">COMFENOLN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                            </div>
                            <!--fin modal-content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Reproducción:</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">COMREPN:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                            </div>
                            <!--fin modal-content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Manejo:</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="">COMMANEJON:</label>
                                    </div>
                                </div>
                                <!-- fin row -->
                            </div>
                            <!--fin modal-content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Campos opcionales:</h5>
                                </div>
                            </div>
                            <!--fin modal-content-->
                        </form>
                        <!-- fin form -->
                        <div class="text-center ">
                            <p>
                                <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid2')" mdbWavesEffect>Atras</button>
                                <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid4')" mdbWavesEffect>Siguiente</button>                                                                                                
                                <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                            </p>
                        </div>
                    </ng-template>
                    <!-- fin ng-template -->
                </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 4 -->
            <ngb-tab id="tab-selectbyid4">
                <ng-template ngbTabTitle>
                    <b>4</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action=""> 
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Manteniento del registro:</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">TRANSPAREN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">REFG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!--fin modal-content-->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid3')" mdbWavesEffect>Atras</button>
                            <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Guardar</button>                                           
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
        <!-- fin ngb-tab -->      
        </ngb-tabset>
        <!-- fin ngb-tabset -->
    </div>
    <!-- fin card-body -->
</div>
<!-- fin card-content -->
