.tema-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.tema-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.tema-margin {
  margin: 0 10px;
}
.cb-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-flow: row;
}

.mat-checkbox {
  margin-left:20px;
} 

.cb-vertival {
  flex-flow: column;
}