<div class="fondo-dark-gray">
  <div class="card-content white">
    <div class="card-body">
      <form [formGroup]="fuenteForm">
        <div class="modal-content">
          <div class="modal-header color-green">
            <h5 class="modal-title">Formulario de resumen fuente</h5>
          </div>
          <!------------------------CODFUENTE------------------------------ -->
          <div class="row">
            <div class="col-md-2">
              <label for="">CODFUENTE:</label>
            </div>
            <div class=" col-md-4 mt10">
              <select class="form-control color-green" formControlName="codigo">
                <option *ngFor="let sCodigoFuente of criterio_codfuente; let i1=index;" [value]="getCriterio_ResumenesFuente(i1)">{{sCodigoFuente}}</option>
              </select>
            </div>
            <div class="md-form col-md-4 mt10">
              <input mdbInputDirective type="text" id="form1" class="form-control" data-error="Error" data-success="Correcto" formControlName="codfuente"
                required>
              <label for="form1" class="font-weight-light"></label>
            </div>
          </div>
          <!-- fin row -->
          <!------------------------CITA------------------------------ -->
          <div class="row">
            <div class="col-md-2">
              <label for="">CITA:</label>
            </div>
            <div class="md-form  col-md-9 mt-20">
              <i class="fa fa-pencil prefix"></i>
              <textarea mdbInputDirective type="text" id="formCita" class="md-textarea form-control" rows="1" data-error=" " data-success=" "
                formControlName="cita"></textarea>
              <label for="formCita">Cita Bibliográfica</label>
            </div>
          </div>
          <!-- fin row -->

          <!--------------------------ARCHIVADO---------------------------- -->
          <div class="row">
            <div class=" col-md-2">
              <label for="">ARCHIVADO:</label>
            </div>
            <div class="md-form col-md-4 mt-20">
              <input mdbInputDirective type="text" id="formArchivado" class="form-control" data-error=" " data-success=" " formControlName="cobgeo">
              <label for="formArchivado">&nbsp;&nbsp;&nbsp;&nbsp;Indica el lugar donde está el documento.</label>
            </div>
            <div class="form-group mt-15">
              <div class="form-control-file">
                <input type="file" id="exampleFormControlFile1">
              </div>

            </div>
          </div>
          <!-- fin row -->
          <div class="row">
            <div class="col-md-2">
              <label for="">COBGEO:</label>
            </div>
            <!------------------------COBGEO------------------------------ -->
            <div class="md-form col-md-9 mt-20">
              <input mdbInputDirective type="text" id="formCOBGEO" class="form-control" data-error=" " data-success=" " formControlName="cobgeo">
              <label for="formCOBGEO">&nbsp;&nbsp;&nbsp;&nbsp;Cobertura Geográfica de la Información del Documento.</label>
            </div>
          </div>
          <!-- fin row -->
          <!-- ----------------------------- Coordenadas ------------------------ -->
          <div class="row">
            <div class="col-md-2">
              <label for="">S:</label>
            </div>

            <div class="md-form  col-md-2 mt-20">
              <input mdbInputDirective type="text" id="formRangoG" class="form-control" formControlName="coords" data-error=" " data-success=" ">
              <label for="formRangoG"></label>
            </div>
            <div class="md-form col-md-2 mt-20">
              <input mdbInputDirective type="text" id="formRangoN" class="form-control" formControlName="coordn" data-error=" " data-success=" ">
              <label for="formRangoN">&nbsp;&nbsp;&nbsp;&nbsp;N</label>
            </div>
            <div class="md-form col-md-2 mt-20">
              <input mdbInputDirective type="text" id="formRangos" class="form-control" formControlName="coorde" data-error=" " data-success=" ">
              <label for="formRangos">&nbsp;&nbsp;&nbsp;&nbsp;E</label>
            </div>
            <div class="md-form col-md-2 mt-20">
              <input mdbInputDirective type="text" id="formRangos" class="form-control" formControlName="coordo" data-error=" " data-success=" ">
              <label for="formRangos">&nbsp;&nbsp;&nbsp;&nbsp;O</label>
            </div>

          </div>
          <!--fin row  -->
          <!------------------------RESUMEN------------------------------ -->
          <div class="row">
            <div class="col-md-2">
              <label for="">RESUMEN:</label>
            </div>
            <div class="md-form  col-md-9 mt-20">
              <i class="fa fa-pencil prefix"></i>
              <textarea mdbInputDirective type="text" id="formResumen" class="md-textarea form-control" rows="1" data-error=" " data-success=" "
                formControlName="resumen"></textarea>
              <label for="formResumen">Escriba un texto corto pero representativo del contenido general del documento.</label>
            </div>
          </div>
          <!-- fin row -->
          <!------------------------TEMA------------------------------ -->
          <div class="row">
            <div class="col-md-2">
              <label for="">TEMA:</label>
            </div>
            <div class="col-md-2 ">
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT1" formControlName="comunat">
                <label class="custom-control-label" for="customControlValidationT1">COMUNAT</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT2" formControlName="comunterr">
                <label class="custom-control-label" for="customControlValidationT2">COMMUNTERR</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT3" formControlName="bosque">
                <label class="custom-control-label" for="customControlValidationT3">BOSQUE</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT4" formControlName="sabana">
                <label class="custom-control-label" for="customControlValidationT4">SABANA</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT5" formControlName="prado">
                <label class="custom-control-label" for="customControlValidationT5">PRADO</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT6" formControlName="chaparral">
                <label class="custom-control-label" for="customControlValidationT6">CHAPARRAL</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT7" formControlName="desierto">
                <label class="custom-control-label" for="customControlValidationT7">DESIERTO</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT8" formControlName="alpino">
                <label class="custom-control-label" for="customControlValidationT8">ALPINO</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT9" formControlName="otroterr">
                <label class="custom-control-label" for="customControlValidationT9">OTROTERR</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT10" formControlName="comunac">
                <label class="custom-control-label" for="customControlValidationT10">COMUNAC</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT11" formControlName="palustre">
                <label class="custom-control-label" for="customControlValidationT11">PALUSTRE</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT12" formControlName="lacustre">
                <label class="custom-control-label" for="customControlValidationT12">LACUSTRE</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT13" formControlName="fluvial">
                <label class="custom-control-label" for="customControlValidationT13">FLUVIAL</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT14" formControlName="estuarino">
                <label class="custom-control-label" for="customControlValidationT14">ESTUARINO</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT15" formControlName="maritimo">
                <label class="custom-control-label" for="customControlValidationT15">MARITIMO</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationT16" formControlName="subterp">
                <label class="custom-control-label" for="customControlValidationT16">SUBTERP</label>
              </div>
            </div>
            <!--Flora-->
            <div class="col-md-2 ">
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationFF1" formControlName="flora">
                <label class="custom-control-label" for="customControlValidationFF1">FLORA</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationFF2" formControlName="floraac">
                <label class="custom-control-label" for="customControlValidationFF2">FLORAAC</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationFF3" formControlName="floraterp">
                <label class="custom-control-label" for="customControlValidationFF3">FLORATERP</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationFF4" formControlName="plnovasc">
                <label class="custom-control-label" for="customControlValidationFF4">PLNOVASC</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationFF5" formControlName="microorg">
                <label class="custom-control-label" for="customControlValidationFF5">MICROORG</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationFF6" formControlName="infositio">
                <label class="custom-control-label" for="customControlValidationFF6">INFOSITIO</label>
              </div>
            </div>
            <!--Fauna-->
            <div class="col-md-2 ">
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF1" formControlName="fauna">
                <label class="custom-control-label" for="customControlValidationF1">FAUNA</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF2" formControlName="faunaac">
                <label class="custom-control-label" for="customControlValidationF2">FAUNAAC</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF3" formControlName="faunaterr">
                <label class="custom-control-label" for="customControlValidationF3">FAUNATERR</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF4" formControlName="moluscos">
                <label class="custom-control-label" for="customControlValidationF4">MOLUSCOS</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF5" formControlName="insectos">
                <label class="custom-control-label" for="customControlValidationF5">INSECTOS</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF6" formControlName="crustaceos">
                <label class="custom-control-label" for="customControlValidationF6">CRUSTACEOS</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF7" formControlName="otroartrop">
                <label class="custom-control-label" for="customControlValidationF7">OTROARTROP</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF8" formControlName="otroinvert">
                <label class="custom-control-label" for="customControlValidationF8">OTROINVERT</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF9" formControlName="peces">
                <label class="custom-control-label" for="customControlValidationF9">PECES</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF10" formControlName="anfibios">
                <label class="custom-control-label" for="customControlValidationF10">ANFIBIOS</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF11" formControlName="reptiles">
                <label class="custom-control-label" for="customControlValidationF11">REPTILES</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF12" formControlName="aves">
                <label class="custom-control-label" for="customControlValidationF12">AVES</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF13" formControlName="mamiferos">
                <label class="custom-control-label" for="customControlValidationF13">MAMIFEROS</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF14" formControlName="cienfisic">
                <label class="custom-control-label" for="customControlValidationF14">CIENFISIC</label>
              </div>
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationF15" formControlName="fisiotopo">
                <label class="custom-control-label" for="customControlValidationF15">FISIOTOPO</label>
              </div>
            </div>
            <!--Otros-->
            <div class="col-md-2 ">
              <div class="custom-control custom-checkbox   mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO1" formControlName="hidrol">
                <label class="custom-control-label" for="customControlValidationO1">HIDROL</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO2" formControlName="geologia">
                <label class="custom-control-label" for="customControlValidationO2">GEOLOGIA</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO3" formControlName="suelos">
                <label class="custom-control-label" for="customControlValidationO3">SUELOS</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO4" formControlName="clima">
                <label class="custom-control-label" for="customControlValidationO4">CLIMA</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO5" formControlName="biologia">
                <label class="custom-control-label" for="customControlValidationO5">BIOLOGIA</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO6" formControlName="ecologia">
                <label class="custom-control-label" for="customControlValidationO6">ECOLOGIA</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO7" formControlName="funecol">
                <label class="custom-control-label" for="customControlValidationO7">FUNECOL</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO8" formControlName="diversnat">
                <label class="custom-control-label" for="customControlValidationO8">DIVERSNAT</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO9" formControlName="inventario">
                <label class="custom-control-label" for="customControlValidationO9">INVENTARIO</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO10" formControlName="tecinvest">
                <label class="custom-control-label" for="customControlValidationO10">TECINVEST</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO11" formControlName="am">
                <label class="custom-control-label" for="customControlValidationO11">AM</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO12" formControlName="planmanejo">
                <label class="custom-control-label" for="customControlValidationO12">PLANMANEJO</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO13" formControlName="tecmanejo">
                <label class="custom-control-label" for="customControlValidationO13">TECMANEJO</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO14" formControlName="estimpamb">
                <label class="custom-control-label" for="customControlValidationO14">ESTIMPAMB</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO15" formControlName="organprot">
                <label class="custom-control-label" for="customControlValidationO15">ORGANPROT</label>
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customControlValidationO16" formControlName="herrprot">
                <label class="custom-control-label" for="customControlValidationO16">HERRPROT</label>
              </div>

            </div>
          </div>
          <!-- fin row -->
          <div class="row">
            <div class="col-md-2">
              <label for="">PUBLICACION.CDC:</label>
            </div>
            <div class=" col-md-2">
              <select class="form-control color-green" formControlName="publicacioncdc">
                <option *ngFor="let sPublicacion of criterio_publicacion_cdc; let i2=index;" [value]="getCriterio_Publicacion_cdc(i2)">{{sPublicacion}}</option>
              </select>
            </div>
            <div class="col-md-1">
              <label for="">VALOR:</label>
            </div>
            <div class=" col-md-4">
              <select class="form-control color-green" formControlName="valor">
                <option *ngFor="let sValor of criterio_valor; let i3=index;" [value]="getCriterio_Valor(i3)">{{sValor}}</option>
              </select>
            </div>
          </div>
          <!-- fin row -->
          <div class="row">
            <div class="col-md-2">
              <label for="">CLAVE:</label>
            </div>
            <div class="md-form  col-md-9 mt10">
              <i class="fa fa-pencil prefix"></i>
              <textarea mdbInputDirective type="text" id="formClave" class="md-textarea form-control" formControlName="clave" rows="1"
                data-error=" " data-success=" "></textarea>
              <label for="formClave">Complemento del campo TEMA.</label>
            </div>
          </div>
          <!-- fin row -->
          <div class="row">
            <div class="col-md-2">
              <label for="">COMENTARIO:</label>
            </div>
            <div class="md-form  col-md-9 mt-20">
              <i class="fa fa-pencil prefix"></i>
              <textarea mdbInputDirective type="text" id="formComentario" class="md-textarea form-control" formControlName="comentario"
                rows="1" data-error=" " data-success=" "></textarea>
              <label for="formComentario"> Describe de acuerdo al Valor, el tipo de información contenida.</label>
            </div>
          </div>
          <!-- fin row -->
          <div class="row">
            <div class="col-md-2">
              <label for="">NOTADIGEST:</label>
            </div>
            <div class="md-form  col-md-9 mt-20">
              <i class="fa fa-pencil prefix"></i>
              <textarea mdbInputDirective type="text" id="formNotadigest" class="md-textarea form-control" formControlName="notadigest"
                rows="1" data-error=" " data-success=" "></textarea>
              <label for="formNotadigest">Anotar en este campo hasta qué punto se ha extraído la fuente toda la información .</label>
            </div>
          </div>
          <!-- fin row -->
          <div class="row">
            <div class="col-md-8">
            </div>
            <div class="md-form col-md-2 input-group-append mt-20">
              <input mdbInputDirective type="text" id="formActualizar" class="form-control" formControlName="actualizar" data-error=" "
                data-success=" " ngbDatepicker #dActualizar="ngbDatepicker">
              <label for="formActualizar">&nbsp;&nbsp;&nbsp;&nbsp;ACTUALIZAG</label>
              <div (click)="dActualizar.toggle()">
                <i class="fa fa-calendar prefix"></i>
              </div>
            </div>
          </div>
          <!-- fin row -->
          <div class="row">
            <div class="col-md-8">
            </div>
            <div class="md-form col-md-2 input-group-append mt-20">
              <input mdbInputDirective type="text" id="formControl" class="form-control" formControlName="control" data-error=" " data-success=" "
                ngbDatepicker #dControl="ngbDatepicker">
              <label for="formControl">&nbsp;&nbsp;&nbsp;&nbsp;ACTUALIZAG</label>
              <div (click)="dControl.toggle()">
                <i class="fa fa-calendar prefix"></i>
              </div>
            </div>
          </div>
          <!-- fin row -->
          <div class="row">
            <div class="col-md-8"></div>
            <div class="md-form col-md-2  mt-20">
              <input mdbInputDirective type="text" id="formbcd" class="form-control" formControlName="bcd" data-error=" " data-success=" ">
              <label for="formbcd">&nbsp;&nbsp;&nbsp;BCD</label>
            </div>
          </div>
        </div>
        <!-- fin modal-content -->
        <div class="text-center">
          <button class="btn color-green waves-light" type="submit" [disabled]="!fuenteForm.valid" mdbWavesEffect>Guardar</button>
          <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <p>Valores: {{ fuenteForm.value | json }}</p>
</div>
<form class="was-validated">
  <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
    <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
    <div class="invalid-feedback">Example invalid feedback text</div>
  </div>
</form>