<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" mode="side" opened role="navigation" fixedInViewport="true">
    <mat-toolbar class="color-green"><img src="iconos/logo.ico">
      <font size=4 color="white">CDC</font>
    </mat-toolbar>
    <mat-nav-list class="color-gris">
      <a mat-list-item [routerLink]="['/home']"><img src="iconos/home.ico">
        <font size=4 color="white">Home</font>
      </a>
      <a mat-list-item [routerLink]="['/fuente']"><img src="iconos/fuente.ico">
        <font size=4 color="white">Fuentes</font>
      </a>
      <a mat-list-item [routerLink]="['/jerarquizacion']"><img src="iconos/jerarquizacion.ico">
        <font size=4 color="white">Jerarquización</font>
      </a>
      <a mat-list-item [routerLink]="['/rastreoElemento']"><img src="iconos/rastreo.ico">
        <font size=4 color="white">Rastreo</font>
      </a>
      <a mat-list-item [routerLink]="['/localizacionElemento']"><img src="iconos/localizacion.ico">
        <font size=4 color="white">Localización</font>
      </a>
      <a mat-list-item [routerLink]="['/sitios']"><img src="iconos/sitios.ico">
        <font size=4 color="white">Sitios</font>
      </a>
      <a mat-list-item [routerLink]="['/areasManejadas']"><img src="iconos/area.ico">
        <font size=4 color="white">Áreas</font>
      </a>
      <a mat-list-item [routerLink]="['/contactos']"><img src="iconos/contacto.ico">
        <font size=4 color="white">Contactos</font>
      </a>
      <a mat-list-item [routerLink]="['/perfil']"><img src="iconos/perfil.ico">
        <font size=4 color="white">Perfil</font>
      </a>
      <a mat-list-item [routerLink]="['/acerca']"><img src="iconos/info.ico">
        <font size=4 color="white">Acerca del CDC</font>
      </a>
      <a mat-list-item (click)="Logout()"><img src="iconos/lock.ico">
        <font size=4 color="white">Cerrar sesión</font>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #elementoReporte="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="jerarquizacion">Jerarquización</button>
  <button mat-menu-item>Rastreo</button>
  <button mat-menu-item>Localización</button>
</mat-menu>
<mat-menu #jerarquizacion="matMenu">
  <button mat-menu-item>Elemento</button>
  <button mat-menu-item>Global</button>
  <button mat-menu-item>Nacional</button>
  <button mat-menu-item>Subnacional</button>
</mat-menu>
<mat-menu #deptoReporte="matMenu">
  <button mat-menu-item>Sitios</button>
  <button mat-menu-item>Áreas</button>
  <button mat-menu-item>Contactos</button>
</mat-menu>