<div class="card-content white">
  <div class="card-body">
    <ngb-tabset #JerarquizacionNacional="ngbTabset">
      <ngb-tab id="tab-formulario">
        <ng-template ngbTabTitle>
          <b>Formulario</b>
        </ng-template>
        <ng-template ngbTabContent>
          <form [formGroup]="jerarquizacion_Nacional_Form">
            <mat-tab-group dynamicHeight [selectedIndex]="selected.value"
              (selectedIndexChange)="selected.setValue($event)">
              <mat-tab label="1">
                <div class="text-center">
                  <div *ngIf="loading">
                    <img src="assets/imagenes/load.gif">
                  </div>
                </div>
                <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">
                  {{ successMessage }}</ngb-alert>
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-tittle">
                      <font size=4 color="white">JERARQUIZACIÓN DEL ELEMENTO (NACIONAL)</font>
                    </h5>
                  </div>
                  <!-- Codigo del elemento -->
                  <div class="row">
                    <div class="col-md-2 ">
                      <label for="">CODIGOE:</label>
                    </div>
                    <div class="md-form col-md-4 mt5" *ngIf="editar">
                      <input mdbInputDirective mdbValidate type="text" id="formCodigoe" class="form-control"
                        formControlName="codigoe">
                      <mdb-error *ngIf="input_codigoe.invalid && (input_codigoe.dirty || input_codigoe.touched)">
                        <font size=2 color="red">Error, máximo 10 caracteres.</font>
                      </mdb-error>
                    </div>
                    <div class="md-form col-md-4 mt5" *ngIf="guardar">
                      <input mdbInputDirective type="text" id="form1" class="form-control" formControlName="codigoe"
                        disabled>
                    </div>
                    <div class="col-md-2">
                      <div class="mat-elevation-z8" class="base-form">
                        <button mat-raised-button class="color-green" (click)="validarCodigoe()">
                          <font size=2 color="white">Validar</font>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--Nombre nacional  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NOMBRE COMÚN NACIONAL:</label>
                    </div>
                    <div class="md-form col-md-9 mt-5">
                      <input mdbInputDirective mdbValidate type="text" id="formNombren" class="form-control"
                        formControlName="nombren">
                      <mdb-error *ngIf="input_nombren.invalid && (input_nombren.dirty || input_nombren.touched)">
                        <font size=2 color="red">Error, máximo 60 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--codigo del pais -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NACION:</label>
                    </div>
                    <div class="col-md-3 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="nacion">
                          <mat-option *ngFor="let sNacion of criterio_Nacion" [value]="sNacion.value">
                            {{sNacion.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label>NLOCTIP:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-5">
                      <input mdbInputDirective mdbValidate type="text" id="formNloctip" class="form-control"
                        formControlName="nloctip">
                      <label for="formNloctip">&nbsp;&nbsp;&nbsp;&nbsp;Identificar el mejor sitio conocido en el
                        país.</label>
                      <mdb-error *ngIf="input_nloctip.invalid && (input_nloctip.dirty || input_nloctip.touched)">
                        <font size=2 color="red">Error, máximo 50 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>

                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NLESTIM:</label>
                    </div>
                    <div class="col-md-3 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="nlestim">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sNestim of criterio_nlestim" [value]="sNestim.value">
                            {{sNestim.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NLESTIMCOM:</label>
                    </div>
                    <div class="md-form col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNlestimcom"
                        class="md-textarea form-control" rows="2" formControlName="nlestimcom"></textarea>
                      <label for="formNlestimcom">Anote el número exacto de localizaciones existentes conocidas.</label>
                      <mdb-error
                        *ngIf="input_nlestimcom.invalid && (input_nlestimcom.dirty || input_nlestimcom.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <!-- *** -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NABUND:</label>
                    </div>
                    <div class="col-md-7 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="nabund">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sNabund of criterio_nabund" [value]="sNabund.value">
                            {{sNabund.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NABUNDCOM:</label>
                    </div>
                    <div class="md-form  col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNabundcom"
                        class="md-textarea form-control" rows="2" formControlName="nabundcom"></textarea>
                      <label for="formNabundcom">A menudo resulta complicado estimar la abundancia de un
                        elemento.</label>
                      <mdb-error *ngIf="input_nabundcom.invalid && (input_nabundcom.dirty || input_nabundcom.touched)">
                        <font size=2 color="red">Error, máximo caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NDIST:</label>
                    </div>
                    <div class="col-md-5 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="ndist">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sNdist of criterio_ndist" [value]="sNdist.value">
                            {{sNdist.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NDISTCOM:</label>
                    </div>
                    <div class="md-form  col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNdistcom"
                        class="md-textarea form-control" rows="4" formControlName="ndistcom"></textarea>
                      <label for="formNdistcom">Describa en forma general la distribución, presente e hihistórica dentro
                        de su región.</label>
                      <mdb-error *ngIf="input_ndistcom.invalid && (input_ndistcom.dirty || input_ndistcom.touched)">
                        <font size=2 color="red">Error, máximo 240 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NLEPROT:</label>
                    </div>
                    <div class="col-md-4 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="nleprot">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sNleprot of criterio_nleprot" [value]="sNleprot.value">
                            {{sNleprot.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NLEPROTCOM:</label>
                    </div>
                    <div class="md-form col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNleprotcom"
                        class="md-textarea form-control" rows="2" formControlName="nleprotcom"></textarea>
                      <label for="formNleprotcom">En qué país o países están protegidas y que tipo de protección
                        tienen.</label>
                      <mdb-error
                        *ngIf="input_nleprotcom.invalid && (input_nleprotcomdirty || input_nleprotcom.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>

                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NAMENAZ:</label>
                    </div>
                    <div class="col-md-9 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="namenaz">
                          <mat-option>-- Ninguna --</mat-option>
                          <mat-option *ngFor="let sNamenaz of criterio_namenaz" [value]="sNamenaz.value">
                            {{sNamenaz.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NAMENAZCOM:</label>
                    </div>
                    <div class="md-form col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNamenazcom"
                        class="md-textarea form-control" rows="2" formControlName="namenazcom"></textarea>
                      <label for="formNamenazcom">Indique la amenaza, por ejemplo: "tierras primarias para
                        cultivos".</label>
                      <mdb-error
                        *ngIf="input_namenazcom.invalid && (input_namenazcom.dirty || input_namenazcom.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                </div>
                <!-- fin modal-content -->
                <div class="text-center">
                  <button class="btn color-green waves-light" (click)="tabPagina2()" mdbWavesEffect>Siguiente</button>
                  <button class="btn color-green waves-light" (click)="nuevo()" mdbWavesEffect>Nuevo</button>
                </div>
              </mat-tab>
              <mat-tab label="2">
                <div class="modal-content mat-elevation-z4">
                  <div class="modal-header color-green">
                    <h5 class="modal-title">
                      <font size=4 color="white">JERARQUIZACIÓN DEL ELEMENTO (NACIONAL)</font>
                    </h5>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NOTROCONSI:</label>
                    </div>
                    <div class="md-form col-md-9 mt10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNotroconsi"
                        class="md-textarea form-control" rows="2" formControlName="notroconsi"></textarea>
                      <label for="formNotroconsi">Anote cualiesquiera otros factores que considere importantes para
                        jerarquizar el elemento.</label>
                      <mdb-error
                        *ngIf="input_notroconsi.invalid && (input_notroconsi.dirty || input_notroconsi.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">RANGON:</label>
                    </div>
                    <div class="col-md-2 mt-15">
                      <mat-form-field>
                        <mat-select placeholder=" " panelClass="color-panel-green" formControlName="rangon">
                          <mat-option>-- Ningún valor --</mat-option>
                          <mat-option *ngFor="let sRangon of criterio_rangon" [value]="sRangon.value">
                            {{sRangon.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="md-form col-md-3 mt-5">
                      <input mdbInputDirective mdbValidate type="text" id="formFecharn" class="form-control"
                        formControlName="fecharn" ngbDatepicker #dFecharn="ngbDatepicker">
                      <label for="formFecharn">&nbsp;&nbsp;&nbsp;&nbsp;FECHARN</label>
                      <mdb-error *ngIf="input_fecharn.invalid && (input_fecharn.dirty || input_fecharn.touched)">
                        <font size=2 color="red">Error, el formato debe ser
                          aaaa-mm-dd (2019-12-31). Presiona el icono del calendario como ejemplo.</font>
                      </mdb-error>
                    </div>
                    <div class="md-form mt-5" (click)="dFecharn.toggle()">
                      <i class="fa fa-calendar prefix"></i>
                    </div>
                  </div>
                  <!-- **** -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NRANRZON:</label>
                    </div>
                    <div class="md-form col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNranrzon"
                        class="md-textarea form-control" rows="3" formControlName="nranrzon"></textarea>
                      <label for="formNranrzon">Dar las razones para este rango, mencionando los mejores factores de
                        jerarquización y otras consideraciones.</label>
                      <mdb-error *ngIf="input_nranrzon.invalid && (input_nranrzon.dirty || input_nranrzon.touched)">
                        <font size=2 color="red">Error, máximo 240 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NNECPROTEC:</label>
                    </div>
                    <div class="md-form col-md-9 mt-10 ">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNnecprotec"
                        class="md-textarea form-control" rows="2" formControlName="nnecprotec"></textarea>
                      <label for="formNnecprotec">Dar el número estimado de LE adecuados.</label>
                      <mdb-error
                        *ngIf="input_nnecprotec.invalid && (input_nnecprotec.dirty || input_nnecprotec.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NNECINVENT:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNnecinvent"
                        class="md-textarea form-control" rows="2" formControlName="nnecinvent"></textarea>
                      <label for="formNnecinvent">Necesidades de inventario.</label>
                      <mdb-error
                        *ngIf="input_nnecinvent.invalid && (input_nnecinvent.dirty || input_nnecinvent.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NNECESTUDI:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNnecestudi"
                        class="md-textarea form-control" rows="2" formControlName="nnecestudi"></textarea>
                      <label for="formNnecestudi">Escriba las necesidades de investigación de la biologia del
                        elemento.</label>
                      <mdb-error
                        *ngIf="input_nnecestudi.invalid && (input_nnecestudi.dirty || input_nnecestudi.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">NNECMAEJO:</label>
                    </div>
                    <div class="md-form  col-md-9 mt-10">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbInputDirective mdbValidate type="text" id="formNnecmaejo"
                        class="md-textarea form-control" rows="2" formControlName="nnecmaejo"></textarea>
                      <label for="formNnecmaejo">Discutir las estrategias que deberían utilizarse para proteger el
                        elemento.</label>
                      <mdb-error
                        *ngIf="input_nnecmaejo.invalid && (input_nnecmaejo.dirty || input_input_nnecmaejo.touched)">
                        <font size=2 color="red">Error, máximo 120 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">RESRN:</label>
                    </div>
                    <div class="md-form col-md-9 mt-10">
                      <input mdbInputDirective mdbValidate type="text" id="formResrn" class="form-control"
                        formControlName="resrn">
                      <label for="formResrn">&nbsp;&nbsp;&nbsp;&nbsp;Indica la oficina responsable de preparar y
                        mantener el formulário de jerarquización
                        globa o local.</label>
                      <mdb-error *ngIf="input_resrn.invalid && (input_resrn.dirty || input_resrn.touched)">
                        <font size=2 color="red">Error, máximo 10 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                      <label for="">EDAUTOR:</label>
                    </div>
                    <div class="md-form col-md-9 mt-10">
                      <input mdbInputDirective mdbValidate type="text" id="formEdautor" class="form-control"
                        formControlName="edautor">
                      <label for="">&nbsp;&nbsp;&nbsp;&nbsp;Escriba su nombre.</label>
                      <mdb-error *ngIf="input_edautor.invalid && (input_edautor.dirty || input_edautor.touched)">
                        <font size=2 color="red">Error, máximo 30 caracteres.</font>
                      </mdb-error>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="md-form col-md-3 mt-5">
                      <input mdbInputDirective mdbValidate type="text" id="formEdicion" class="form-control"
                        formControlName="edicion" ngbDatepicker #dEdicion="ngbDatepicker">
                      <label for="formEdicion">&nbsp;&nbsp;&nbsp;&nbsp;EDICIÓN</label>
                      <mdb-error *ngIf="input_edicion.invalid && (input_edicion.dirty || input_edicion.touched)">
                        <font size=2 color="red">Error, el formato debe ser
                          aaaa-mm-dd (2019-12-31). Presiona el icono del calendario como ejemplo.</font>
                      </mdb-error>
                    </div>
                    <div class="md-form mt-5" (click)="dEdicion.toggle()">
                      <i class="fa fa-calendar prefix"></i>
                    </div>
                  </div>
                  <!-- fin row -->
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="md-form  col-md-3 mt-5">
                      <input mdbInputDirective mdbValidate type="text" id="formActualizar" class="form-control"
                        formControlName="actualizar" ngbDatepicker #dActualizar="ngbDatepicker">
                      <label for="formActualizar">&nbsp;&nbsp;&nbsp;&nbsp;ACTUALIZAR</label>
                      <mdb-error
                        *ngIf="input_actualizar.invalid && (input_actualizar.dirty || input_actualizar.touched)">
                        <font size=2 color="red">Error, el formato debe ser
                          aaaa-mm-dd (2019-12-31). Presiona el icono del calendario como ejemplo.</font>
                      </mdb-error>
                    </div>
                    <div class="md-form mt-5" (click)="dActualizar.toggle()">
                      <i class="fa fa-calendar prefix"></i>
                    </div>
                  </div>
                  <!-- fin row -->
                </div>
                <!-- fin modal-content -->
                <div class="text-center">
                  <div *ngIf="loading">
                    <img src="assets/imagenes/load.gif">
                  </div>
                  <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">
                    {{ successMessage }}</ngb-alert>
                  <button class="btn color-green waves-light" (click)="tabPagina1()" mdbWavesEffect>Atras</button>
                  <button class="btn color-green waves-light" (click)="nuevo()" mdbWavesEffect>Nuevo</button>
                  <button class="btn color-green waves-light" [disabled]="guardar" (click)="openDialogo()"
                    mdbWavesEffect>Guardar</button>
                  <button class="btn color-green waves-light" [disabled]="editar" (click)="openDialogoEditar()"
                    mdbWavesEffect>Editar</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </form>
        </ng-template>
      </ngb-tab>
      <!-- fin ngb-tab -->
      <ngb-tab id="tab-buscar">
        <ng-template ngbTabTitle>
          <b>Buscar Jerarquización Nacional</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="modal-content mat-elevation-z4">
            <div class="modal-header color-green"></div>
            <!-- Inicio form -->
            <form [formGroup]="buscar_Form ">
              <!-- Inicio row -->
              <div class="row">
                <div class="md-form col-md-5 mt10">
                  <input mdbInputDirective type="text" id="formCodigoe" class="form-control" formControlName="codigoe"
                    data-error=" " data-success=" ">
                  <label for="formCodigoe">&nbsp;&nbsp;&nbsp;&nbsp;CÓDIGO DEL ELEMENTO</label>
                </div>
                <div class="md-form col-md-5 mt10">
                  <input mdbInputDirective type="text" id="formNombren" class="form-control" formControlName="nombren"
                    data-error=" " data-success=" ">
                  <label for="formNombren">&nbsp;&nbsp;&nbsp;&nbsp;NOMBRE NACIONAL</label>
                </div>
              </div>
              <!-- Fin row -->
              <!-- Inicio row -->
              <div class="row">
                <div class="col-md-3 mt-15">
                  <mat-form-field>
                    <mat-select placeholder="NACIÓN" panelClass="color-panel-green" formControlName="nacion">
                      <!-- <mat-option>-- Ningún valor --</mat-option> -->
                      <mat-option *ngFor="let sNacion of criterio_Nacion" [value]="sNacion.value">
                        {{sNacion.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- Fin row -->
              <div>
                <button class="btn color-green waves-light" mdbWavesEffect (click)="buscarJerarquizacionNacional()">Buscar</button>
                <button class="btn color-green waves-light" mdbWavesEffect (click)="buscarTodos()">Buscar Todos</button>
              </div>
            </form>
            <!-- Fin form -->
            <div class="text-center">
              <div *ngIf="loading">
                <img src="assets/imagenes/load.gif">
              </div>
            </div>
            <ngb-alert *ngIf="successMessage" [type]="tipoAlert" (close)="successMessage = null">{{ successMessage }}
            </ngb-alert>
          </div>
          <!-- Fin modal-content -->
          <!-- Tabla busqueda-->
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
          </mat-form-field>
          <div class="mat-elevation-z8" *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- No. Column -->
              <div class="col-md-1">
                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                  <td mat-cell *matCellDef="let row"> {{row.numero}} </td>
                </ng-container>
              </div>
              <ng-container matColumnDef="codigoe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO ELEMENTO</th>
                <td mat-cell *matCellDef="let row"> {{row.codigoe}} </td>
              </ng-container>
              <ng-container matColumnDef="nombren">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE NACIONAL</th>
                <td mat-cell *matCellDef="let row"> {{row.nombren}} </td>
              </ng-container>
              <ng-container matColumnDef="nacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NACIÓN</th>
                <td mat-cell *matCellDef="let row"> {{row.nacion}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-green"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="base-element-row"
                (click)="mostrar_JerarquizacionNacional_Busqueda(row); JerarquizacionNacional.select('tab-formulario');">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <!-- Fin tabla busquedas -->
        </ng-template>
        <!-- Fin template -->
      </ngb-tab>
      <!-- Fin ngb-tab -->
    </ngb-tabset>
    <!-- Fin ngb-tabset -->
  </div>
  <!-- Fin-card-body -->
</div>
<!-- Fin card-content -->