<div class="card-content white">
  <div class="card-body">
    <ngb-tabset #fContactos="ngbTabset">
      <!-- página 1 -->
      <ngb-tab id="tab-selectbyid1">
        <ng-template ngbTabTitle>
          <b>1</b>
        </ng-template>
        <ng-template ngbTabContent>
          <form action="">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Identificadores:</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">NUMIDENT:</label>
                </div>
                <div class="md-form col-md-4 mt-5 ">
                  <i class="fa fa-id-card prefix"></i>
                  <input mdbInputDirective type="text" id="formNumident" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                  <label for="formNumident"></label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">NOMBREIDENT:</label>
                </div>
                <div class="md-form col-md-9 mt-5 ">
                  <i class="fa fa-id-badge prefix"></i>
                  <input mdbInputDirective type="text" id="formNumident" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                  <label for="formNumident"></label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">TITULO:</label>
                </div>
                <div class="md-form col-md-2 mt-5 ">
                  <input mdbInputDirective type="text" id="formNumident" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">NOMBRE:</label>
                </div>
                <div class="md-form col-md-4 mt-5 ">
                  <i class="fa fa-user prefix"></i>
                  <input mdbInputDirective type="text" id="formNumident" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                  <label for="formNumident"></label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">APELLIDO.1:</label>
                </div>
                <div class="md-form col-md-5 mt-5 ">
                  <input mdbInputDirective type="text" id="formNumident" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">APELLIDO.2:</label>
                </div>
                <div class="md-form col-md-5 mt-5 ">
                  <input mdbInputDirective type="text" id="formNumident" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">SUFIJO:</label>
                </div>
                <div class="md-form col-md-2 mt-5 ">
                  <input mdbInputDirective type="text" id="formNumident" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">POSICION:</label>
                </div>
                <div class="md-form col-md-9 mt-5 ">
                  <i class="fa fa-map-pin prefix"></i>
                  <input mdbInputDirective type="text" id="formPosicion" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                  <label for="formPosicion"></label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">INSTITUCION:</label>
                </div>
                <div class="md-form col-md-9 mt-5 ">
                  <input mdbInputDirective type="text" id="formInstitucion" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                </div>
              </div>
              <!-- fin row -->
            </div>
            <!-- fin modal-content -->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Localizadores:</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">DIR1:</label>
                </div>
                <div class="md-form col-md-4 mt-5 ">
                  <input mdbInputDirective type="text" id="formDir1" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                    required>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">DIR2:</label>
                </div>
                <div class="md-form col-md-4 mt-5 ">
                  <input mdbInputDirective type="text" id="formDir2" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                    required>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">DIR3:</label>
                </div>
                <div class="md-form col-md-4 mt-5 ">
                  <input mdbInputDirective type="text" id="formDir3" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                    required>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">PAIS:</label>
                </div>
                <div class="md-form col-md-4 mt-5 ">
                  <input mdbInputDirective type="text" id="formPais" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                    required>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">CIUDAD:</label>
                </div>
                <div class="md-form col-md-2 mt-5 ">
                  <input mdbInputDirective type="text" id="formCiudad" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto"
                    required>
                </div>
                <div class="md-form col-md-2 mt-5 ">
                  <input mdbInputDirective type="text" id="formSubnacion" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                  <label for="formSubnacion">&nbsp;&nbsp;&nbsp;&nbsp;SUBNACIÓN</label>
                </div>
                <div class="md-form col-md-2 mt-5 ">
                  <input mdbInputDirective type="text" id="formCodpostal" class="form-control" data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                  <label for="formCodpostal">&nbsp;&nbsp;&nbsp;&nbsp;CODPOSTAL</label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                  <label for="">MASIDENT:</label>
                </div>
                <div class="md-form  col-md-7">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbInputDirective type="text" id="formMasident" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                    data-success="correcta"></textarea>
                  <label for="formMasident"></label>
                </div>
              </div>
              <!-- fin row -->
              <div class="row">
                <div class="col-md-2">
                <label for="">SMSA:</label>
                </div>
                <div class="md-form col-md-9 mt-5 ">
                  <input mdbInputDirective type="text" id="formCodmapa" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" >                   
                </div>
              </div>
              <!--fin row-->
              <div class="row">
                <div class="col-md-2">
                  <label for="">TELEF.TRABAJO:</label>
                </div>
                <div class="md-form col-md-4 mt-5 ">
                  <input mdbInputDirective type="text" id="formTelefTrabajo" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" >                   
                </div>
                <div class="md-form col-md-4 mt-5 ">
                  <input mdbInputDirective type="text" id="formTelefHogar" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" >    
                    <label for="">&nbsp;&nbsp;&nbsp;&nbsp;TELEF.HOGAR</label>               
                </div>
              </div>
              <!-- fin row -->
            </div>
            <!-- fin modal-content -->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tipos de Contactos:</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">TIPOCONT:</label>
                </div>
                <div class="md-form  col-md-7">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbInputDirective type="text" id="formTipocont" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                    data-success="correcta"></textarea>
                  <label for="formTipocont"></label>
                </div>
              </div>
              <!-- fin row-->
            </div>
            <!-- fin modal-content -->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Actividades con el Contacto:</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">ACTIVCONT:</label>
                </div>
                <div class="md-form  col-md-7">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbInputDirective type="text" id="formActivcont" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                    data-success="correcta"></textarea>
                  <label for="formActivcont"></label>
                </div>
              </div>
              <!-- fin row -->
            </div>
            <!-- fin modal-content -->           
          </form>
          <!-- fin form -->
          <div class="text-center ">
            <p>
                <button class="btn btn-cyan waves-light" (click)="fContactos.select('tab-selectbyid2')" mdbWavesEffect>Siguiente</button>                     
                <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
            </p>
        </div>
        </ng-template>
        <!-- fin ng-template -->
      </ngb-tab>
      <!-- fin ngb-tab -->
      <!-- página 2 -->
      <ngb-tab id="tab-selectbyid2">
        <ng-template ngbTabTitle>
          <b>2</b>
        </ng-template>
        <ng-template ngbTabContent>
          <form action="">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Descripción:</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">RESUMEN:</label>
                </div>
                <div class="md-form  col-md-7">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbInputDirective type="text" id="formResumen" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                    data-success="correcta"  required></textarea>
                  <label for="formResumen">Anote</label>
                </div>
              </div>
              <!-- fin row -->
            </div>
            <!-- fin modal-content -->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Documentación y Mantenimiento:</h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label for="">CODDIRP:</label>
                </div>
                <div class="md-form col-md-2 mt-5 ">
                  <input mdbInputDirective type="text" id="formCoddirp" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                    data-success="correcto" required>
                </div>
                <div class="md-form form-sm  input-group-append mt-0">
                  <i class="fa fa-calendar prefix "></i>
                  <input mdbInputDirective type="text" id="formActualizar" class="form-control" ngbDatepicker
                    #dActualizar="ngbDatepicker">
                  <label for="formActualizar">Fecha para actualizar:</label>
                  <div class="input-group-append ">
                    <button class="btn btn-info mb-2 waves-light" (click)="dActualizar.toggle()" mdbWavesEffect>Date
                    </button>
                  </div>
                 </div>
              </div>              
              <!-- fin row -->
            </div>
            <!-- fin modal-content -->
            <div class="text-center ">
              <p>
                  <button class="btn btn-cyan waves-light" (click)="fContactos.select('tab-selectbyid1')" mdbWavesEffect>Atras</button>    
                  <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Guardar</button>                 
                  <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
              </p>
          </div>
          </form>
          <!-- fin form -->
        </ng-template>
        <!-- fin ng-template -->
      </ngb-tab>
      <!-- fin ngb-tab -->
    </ngb-tabset>
    <!-- fin ngb-tabset -->
  </div>
  <!-- fin card-body -->
</div>
<!-- fin card-content -->