<div class="fondo">
  <div class="card-content white">
    <div class="card-body">
      <form [formGroup]="contactosForm">
        <ngb-tabset #fContactos="ngbTabset">
          <!-- página 1 -->
          <ngb-tab id="tab-selectbyid1">
            <ng-template ngbTabTitle>
              <b>1</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="modal-content">
                <div class="modal-header color-green">
                  <h5 class="modal-title">Identificadores:</h5>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for="">NUMIDENT:</label>
                  </div>
                  <div class="md-form col-md-5 mt10">
                    <i class="fa fa-id-card prefix"></i>
                    <input mdbInputDirective type="text" id="formNumident" class="form-control" formControlName="numident" data-error=" " data-success=" ">
                    <label for="formNumident"></label>
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">NOMBREIDENT:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <i class="fa fa-id-badge prefix"></i>
                    <input mdbInputDirective type="text" id="formNumident" class="form-control" formControlName="nombreident" data-error=" "
                      data-success=" ">
                    <label for="formNumident"></label>
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">TITULO:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <input mdbInputDirective type="text" id="formNumident" class="form-control" formControlName="titulo" data-error=" " data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">NOMBRE:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <i class="fa fa-user prefix"></i>
                    <input mdbInputDirective type="text" id="formNumident" class="form-control" formControlName="nombre" data-error=" " data-success=" ">
                    <label for="formNumident"></label>
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">APELLIDO.1:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <input mdbInputDirective type="text" id="formNumident" class="form-control" formControlName="apellido1" data-error=" " data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">APELLIDO.2:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <input mdbInputDirective type="text" id="formNumident" class="form-control" formControlName="apellido2" data-error=" " data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">SUFIJO:</label>
                  </div>
                  <div class="md-form col-md-2 mt-20">
                    <input mdbInputDirective type="text" id="formNumident" class="form-control" formControlName="sufijo" data-error=" " data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">POSICION:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <i class="fa fa-map-pin prefix"></i>
                    <input mdbInputDirective type="text" id="formPosicion" class="form-control" formControlName="posicion" data-error=" " data-success=" ">
                    <label for="formPosicion"></label>
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">INSTITUCION:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <input mdbInputDirective type="text" id="formInstitucion" class="form-control" formControlName="institucion" data-error=" "
                      data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
              </div>
              <!-- fin modal-content -->
              <div class="modal-content">
                <div class="modal-header color-green">
                  <h5 class="modal-title">Localizadores:</h5>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for="">EMAIL:</label>
                  </div>
                  <div class="md-form col-md-5 mt10">
                    <i class="fa fa-envelope prefix"></i>
                    <input mdbInputDirective type="text" id="formEmail" class="form-control" formControlName="email" data-error=" " data-success=" ">
                    <label for="formEmail"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for="">DIR1:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <input mdbInputDirective type="text" id="formDir1" class="form-control" formControlName="dir1" data-error=" " data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">DIR2:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <input mdbInputDirective type="text" id="formDir2" class="form-control" formControlName="dir2" data-error=" " data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">DIR3:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <input mdbInputDirective type="text" id="formDir3" class="form-control" formControlName="dir3" data-error=" " data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">PAIS:</label>
                  </div>
                  <div class="md-form col-md-4 mt-20">
                    <input mdbInputDirective type="text" id="formPais" class="form-control" formControlName="pais" data-error=" " data-success=" ">
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">CIUDAD:</label>
                  </div>
                  <div class="md-form col-md-2 mt-20">
                    <input mdbInputDirective type="text" id="formCiudad" class="form-control" formControlName="ciudad" data-error=" " data-success=" ">
                  </div>
                  <div class="md-form col-md-2 mt-20">
                    <input mdbInputDirective type="text" id="formSubnacion" class="form-control" formControlName="subnacion" data-error=" " data-success=" ">
                    <label for="formSubnacion">&nbsp;&nbsp;&nbsp;&nbsp;SUBNACIÓN</label>
                  </div>
                  <div class="md-form col-md-2 mt-20">
                    <input mdbInputDirective type="text" id="formCodpostal" class="form-control" formControlName="codpostal" data-error=" " data-success=" ">
                    <label for="formCodpostal">&nbsp;&nbsp;&nbsp;&nbsp;CODPOSTAL</label>
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">MASIDENT:</label>
                  </div>
                  <div class="md-form  col-md-9 mt-20">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea mdbInputDirective type="text" id="formMasident" class="md-textarea form-control" formControlName="masident" rows="1"
                      data-error=" " data-success=" "></textarea>
                    <label for="formMasident">Anote</label>
                  </div>
                </div>
                <!-- fin row -->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">SMSA:</label>
                  </div>
                  <div class="md-form col-md-9 mt-20">
                    <input mdbInputDirective type="text" id="formCodmapa" class="form-control" formControlName="smsa" data-error=" " data-success=" ">
                  </div>
                </div>
                <!--fin row-->
                <div class="row">
                  <div class="col-md-2">
                    <label for="">TELEF.TRABAJO:</label>
                  </div>
                  <div class="md-form col-md-4 mt-20">
                    <input mdbInputDirective type="number" id="formTelefTrabajo" class="form-control" formControlName="teleftrabajo" data-error=" "
                      data-success=" ">
                  </div>
                  <div class="md-form col-md-4 mt-20">
                    <input mdbInputDirective type="number" id="formTelefHogar" class="form-control" formControlName="telefhogar" data-error=" "
                      data-success=" ">
                    <label for="formTelefHogar">&nbsp;&nbsp;&nbsp;&nbsp;TELEF.HOGAR</label>
                  </div>
                </div>
                <!-- fin row -->
              </div>
              <!-- fin modal-content -->
              <div class="modal-content">
                <div class="modal-header color-green">
                  <h5 class="modal-title">Tipos de Contactos:</h5>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for="">TIPOCONT:</label>
                  </div>
                  <div class="md-form  col-md-9 mt10">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea mdbInputDirective type="text" id="formTipocont" class="md-textarea form-control" formControlName="tipocont" rows="1"
                      data-error=" " data-success=" "></textarea>
                    <label for="formTipocont"></label>
                  </div>
                </div>
                <!-- fin row-->
              </div>
              <!-- fin modal-content -->
              <div class="modal-content">
                <div class="modal-header color-green">
                  <h5 class="modal-title">Actividades con el Contacto:</h5>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for="">ACTIVCONT:</label>
                  </div>
                  <div class="md-form  col-md-9 mt10">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea mdbInputDirective type="text" id="formActivcont" class="md-textarea form-control" formControlName="activcont" rows="1"
                      data-error=" " data-success=" "></textarea>
                    <label for="formActivcont"></label>
                  </div>
                </div>
                <!-- fin row -->
              </div>
              <!-- fin modal-content -->
              <div class="text-center ">
                <p>
                  <button class="btn color-green waves-light" (click)="fContactos.select('tab-selectbyid2')" mdbWavesEffect>Siguiente</button>
                  <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                </p>
              </div>
            </ng-template>
            <!-- fin ng-template -->
          </ngb-tab>
          <!-- fin ngb-tab -->
          <!-- página 2 -->
          <ngb-tab id="tab-selectbyid2">
            <ng-template ngbTabTitle>
              <b>2</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="modal-content">
                <div class="modal-header color-green">
                  <h5 class="modal-title">Descripción:</h5>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for="">RESUMEN:</label>
                  </div>
                  <div class="md-form  col-md-9 mt10">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea mdbInputDirective type="text" id="formResumen" class="md-textarea form-control" formControlName="resumen" rows="1"
                      data-error=" " data-success=" "></textarea>
                    <label for="formResumen">Anote</label>
                  </div>
                </div>
                <!-- fin row -->
              </div>
              <!-- fin modal-content -->
              <div class="modal-content">
                <div class="modal-header color-green">
                  <h5 class="modal-title">Documentación y Mantenimiento:</h5>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for="">CODDIRP:</label>
                  </div>
                  <div class="md-form col-md-2 mt10">
                    <input mdbInputDirective type="text" id="formCoddirp" class="form-control" formControlName="coddirp" data-error=" " data-success=" ">
                  </div>
                  <div class="md-form form-md-2 input-group-append mt10">
                    <input mdbInputDirective type="text" id="formActualizar" class="form-control" formControlName="actualizar" data-error=" "
                      data-success=" " ngbDatepicker #dActualizar="ngbDatepicker">
                    <label for="formActualizar">ACTUALIZAR</label>
                    <div (click)="dActualizar.toggle()">
                      <i class="fa fa-calendar prefix"></i>
                    </div>
                  </div>
                </div>
                <!-- fin row -->
              </div>
              <!-- fin modal-content -->
              <div class="text-center ">
                <p>
                  <button class="btn color-green waves-light" (click)="fContactos.select('tab-selectbyid1')" mdbWavesEffect>Atras</button>
                  <button class="btn color-green waves-light" type="submit" mdbWavesEffect>Guardar</button>
                  <button class="btn color-green waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                </p>
              </div>
            </ng-template>
            <!-- fin ng-template -->
          </ngb-tab>
          <!-- fin ngb-tab -->
        </ngb-tabset>
        <!-- fin ngb-tabset -->
      </form>
      <!-- fin form -->
    </div>
    <!-- fin card-body -->
  </div>
  <!-- fin card-content -->
</div>
<!-- fin fondo -->