<div class="modal-content">
  <div class="modal-header color-green">
    <h5 class="modal-tittle">Fotos</h5>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Galeria">
      <div class="row">
        <div class="col-md-2">
          <div class="mat-elevation-z8" class="base-form">
            <input type="file" #file style="display: none" accept="image/*" (change)="onFilesAdded()" multiple />
            <button mat-raised-button class="add-files-btn  color-green" (click)="agregarArchivos()">Agregar</button>
          </div>
        </div>
      </div>
      <section>
        <br>
        <ks-modal-gallery [id]="1" [modalImages]="imagenes" [plainGalleryConfig]="plainGalleryGrid" [buttonsConfig]="customButtonsFontAwesomeConfig"
          (show)="onVisibleIndex($event)" [currentImageConfig]="{downloadable: true}" (customButtonBeforeHook)="onCustomButtonBeforeHook($event)"
          (buttonBeforeHook)="onButtonBeforeHook($event)" (buttonAfterHook)="onButtonAfterHook($event)" (buttonBeforeHook)="onCustomButtonBeforeHook($event, 1)"
          (buttonAfterHook)="onCustomButtonAfterHook($event, 1)">
        </ks-modal-gallery>
      </section>
    </mat-tab>
    <mat-tab label="Descripción">
    </mat-tab>
  </mat-tab-group>
</div>
<!-- fin modal-content  -->