<div class="modal-content">
  <div class="modal-header color-green">
    <h5 class="modal-tittle">Fotos</h5>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Galeria">
      <div class="row">
        <div class="col-md-2">
          <div class="mat-elevation-z8" class="base-form">
            <input type="file" #file style="display: none" accept="image/gif, image/jpg, image/jpeg, image/png" (change)="onFilesAdded()"
              multiple />
            <button mat-raised-button class="add-files-btn  color-green" (click)="agregarArchivos()">Agregar</button>
          </div>
        </div>
      </div>
      <section>
        <br>
        <ks-modal-gallery [id]="1" [modalImages]="imagenes" [plainGalleryConfig]="plainGalleryGrid" [buttonsConfig]="personalizadoButtons"
          (show)="onVisibleIndex($event)" [currentImageConfig]="{downloadable: true}" (buttonBeforeHook)="onButtonBeforeHook($event,descripcionIndex)"
          (buttonAfterHook)="onButtonAfterHook($event)">
        </ks-modal-gallery>
      </section>
    </mat-tab>
    <mat-tab label="Descripción">
      <div class="row">
        <button mat-button (click)="anterior()">
          <i class="fa fa-chevron-left prefix"></i>
        </button>
        <button mat-button (click)="siguiente()">
          <i class="fa fa-chevron-right prefix"></i>
        </button>
      </div>
      <div class="scrolling-wrapper base-tam-y ">
        <ng-tempplate *ngIf="imagenes.length>=1 ">
          <img *ngIf="imagenes[descripcionIndex].plain && imagenes[descripcionIndex].plain.img; else noThumb" [src]="imagenes[descripcionIndex].plain.img"
          />
          <ng-template #noThumb>
            <img [src]="imagenes[descripcionIndex].modal.img" />
          </ng-template>
        </ng-tempplate>
      </div>
      <div class="row">
        <button mat-button (click)="anterior()">
          <i class="fa fa-chevron-left prefix"></i>
        </button>
        <button mat-button (click)="siguiente()">
          <i class="fa fa-chevron-right prefix"></i>
        </button>
      </div>
      <form class="base-form mt5">
        <mat-form-field class="base-full-width">
          <input matInput placeholder="Descripción">
        </mat-form-field>
        <mat-form-field class="base-full-width">
          <input matInput placeholder="Comentario">
        </mat-form-field>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
<!-- fin modal-content  -->