<div class="card-content white">
  <div class="card-body">
      <ngb-tabset #fCaracterizacionPlatasNacional="ngbTabset">
          <!-- página 1 -->
          <ngb-tab id="tab-selectbyid1">
              <ng-template ngbTabTitle>
                  <b>1</b>
              </ng-template>
              <ng-template ngbTabContent>
                  <form action="">

                  </form>
                  <!-- fin form -->
                  <div class="text-center ">
                      <p>
                          <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid2')" mdbWavesEffect>Siguiente</button>                     
                          <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                      </p>
                  </div>
              </ng-template>
              <!-- fin ng-template -->
          </ngb-tab>
          <!-- fin ngb-tab -->
          <!-- página 2 -->
          <ngb-tab id="tab-selectbyid2">
                  <ng-template ngbTabTitle>
                      <b>2</b>
                  </ng-template>
                  <ng-template ngbTabContent>
                      <form action="">
  
                      </form>
                      <!-- fin form -->
                      <div class="text-center ">
                          <p>
                              <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid1')" mdbWavesEffect>Atras</button>    
                              <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid3')" mdbWavesEffect>Siguiente</button>                 
                              <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                          </p>
                      </div>
                  </ng-template>
                  <!-- fin ng-template -->
              </ngb-tab>
          <!-- fin ngb-tab -->
          <!-- página 3 -->
          <ngb-tab id="tab-selectbyid3">
                  <ng-template ngbTabTitle>
                      <b>3</b>
                  </ng-template>
                  <ng-template ngbTabContent>
                      <form action="">
  
                      </form>
                      <!-- fin form -->
                      <div class="text-center ">
                          <p>
                              <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid2')" mdbWavesEffect>Atras</button>
                              <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid4')" mdbWavesEffect>Siguiente</button>                                                                                                
                              <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                          </p>
                      </div>
                  </ng-template>
                  <!-- fin ng-template -->
              </ngb-tab>
          <!-- fin ngb-tab -->
          <!-- página 4 -->
          <ngb-tab id="tab-selectbyid4">
              <ng-template ngbTabTitle>
                  <b>4</b>
              </ng-template>
              <ng-template ngbTabContent>
                  <form action=""> 

                  </form>
                  <!-- fin form -->
                  <div class="text-center ">
                      <p>
                          <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid3')" mdbWavesEffect>Atras</button>
                          <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid5')" mdbWavesEffect>Siguiente</button>                                           
                          <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                      </p>
                  </div>
              </ng-template>
              <!-- fin ng-template -->
          </ngb-tab>
      <!-- fin ngb-tab -->
      <!-- página 5 -->
      <ngb-tab id="tab-selectbyid5">
          <ng-template ngbTabTitle>
              <b>5</b>
          </ng-template>
          <ng-template ngbTabContent>
              <form action="">

              </form>
              <!-- fin form -->
              <div class="text-center ">
                  <p>
                      <button class="btn btn-cyan waves-light" (click)="fCaracterizacionPlatasNacional.select('tab-selectbyid4')" mdbWavesEffect>Atras</button>
                      <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Guardar</button>                                            
                      <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                  </p>
              </div>
          </ng-template>
          <!-- fin ng-template -->
      </ngb-tab>
  <!-- fin ngb-tab -->
      </ngb-tabset>
      <!-- fin ngb-tabset -->
  </div>
  <!-- fin card-body -->
</div>
<!-- fin card-content -->

