<div class="card-content white">
    <div class="card-body">
        <ngb-tabset #fCaracterizacionVertebradosNacional="ngbTabset">
            <!-- página 1 -->
            <ngb-tab id="tab-selectbyid1">
                <ng-template ngbTabTitle>
                    <b>1</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Identificadores:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CODIGOE:</label>
                                </div>
                                <div class="md-form col-md-4 mt-5 ">
                                    <input mdbInputDirective type="text" id="formCodigoe" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" >
                                      <label for="formCodigoe"></label>
                                  </div>
                                  <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formNacion" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" >
                                      <label for="formNacion">&nbsp;&nbsp;&nbsp;&nbsp;NACIÓN</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NOMBREG:</label>
                                </div>
                                <div class="md-form col-md-9 mt-20 ">
                                    <input mdbInputDirective type="text" id="formNombreg" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formNombreg"></label>
                                  </div>                                
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">AUTOR:</label>
                                </div>
                                <div class="md-form col-md-9 mt-20 ">
                                    <input mdbInputDirective type="text" id="formAutor" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formAutor"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NOMBREN:</label>
                                </div>
                                <div class="md-form col-md-9 mt-20 ">
                                    <input mdbInputDirective type="text" id="formNombren" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formNombren"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">NOMCOMUNN:</label>
                                </div>
                                <div class="md-form col-md-9 mt-20 ">
                                    <input mdbInputDirective type="text" id="formNomcomunn" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formNomcomunn"></label>
                                  </div>
                            </div>
                            <!-- fin row -->

                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Taxonomía:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">CLASETAX:</label>
                                </div>
                                <div class="md-form col-md-4 mt-5 ">
                                    <input mdbInputDirective type="text" id="formClasetax" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formClasetax"></label>
                                  </div>
                                  <div class="md-form col-md-4 mt-5 ">
                                    <input mdbInputDirective type="text" id="formOrden" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formOrden">&nbsp;&nbsp;&nbsp;&nbsp;ORDEN</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">FAMILIA:</label>
                                </div>
                                <div class="md-form col-md-4 mt-20 mt-5">
                                    <input mdbInputDirective type="text" id="formFamilia" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formFamilia"></label>
                                  </div>
                                  <div class="md-form col-md-4 mt-20 ">
                                    <input mdbInputDirective type="text" id="formGenero" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formGenero"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMTAXG:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComtaxg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"></textarea>
                                    <label for="formComtaxg">Anote</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMSUBESPN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComsubespn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"></textarea>
                                    <label for="formComsubespn">Anote</label>
                                  </div>
                            </div>
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Status:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RANGOG:</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" required>
                                      <option *ngFor="let sRangog of lrangog" [value]="sRangog">{{sRangog}}</option>
                                    </select>
                                  </div>
                                  <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formCites" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formCites">&nbsp;&nbsp;&nbsp;&nbsp;CITES</label>
                                  </div>
                                  <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formUicn" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formUicn">&nbsp;&nbsp;&nbsp;&nbsp;UICN</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">AEPEU:</label>
                                </div>
                                <div class="md-form col-md-2 mt-7 ">
                                    <input mdbInputDirective type="text" id="formAepeu" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formAepeu"></label>
                                  </div>
                                  <div class="md-form form-sm  input-group-append mt-20">
                                    <i class="fa fa-calendar prefix "></i>
                                    <input mdbInputDirective type="text" id="formFechaAepeu" class="form-control" ngbDatepicker
                                      #dfechaAepeu="ngbDatepicker">
                                    <label for="formFechaAepeu">FECHA.AEPEU:</label>
                                    <div class="input-group-append ">
                                      <button class="btn btn-info mb-2 waves-light" (click)="dfechaAepeu.toggle()" mdbWavesEffect>Date
                                      </button>
                                    </div>
                                   </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">ENDEMISMO:</label>
                                </div>
                                <div class="md-form col-md-2 mt-20 ">
                                    <input mdbInputDirective type="text" id="formEndemismo" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" >
                                      <label for="formEndemismo"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2 mt-5">
                                    <label for="">COMSTATG:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComstatg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"></textarea>
                                    <label for="formComstatg">Anote</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RANGON:</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" required>
                                      <option *ngFor="let sRangon of lrangon" [value]="sRangon">{{sRangon}}</option>
                                    </select>
                                  </div>
                                  <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formProtnacion" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formProtnacion">&nbsp;&nbsp;&nbsp;&nbsp;PROTNACION</label>
                                  </div>
                                  <div class="md-form col-md-2 mt-5">
                                    <input mdbInputDirective type="text" id="formRastreolen" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formRastreolen">&nbsp;&nbsp;&nbsp;&nbsp;RASTREOLEN</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">ESPDEPORTN:</label>
                                </div>
                                <div class="md-form col-md-2 mt-5">
                                    <input mdbInputDirective type="text" id="formEspdeportn" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formEspdeportn"></label>
                                  </div>
                                  <div class="md-form col-md-2 mt-5">
                                    <input mdbInputDirective type="text" id="formEspcomern" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formEspcomern">&nbsp;&nbsp;&nbsp;&nbsp;ESPCOMERN</label>
                                  </div>
                                  <div class="md-form col-md-2 mt-5">
                                    <input mdbInputDirective type="text" id="formPezdeport" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formPezdeport">&nbsp;&nbsp;&nbsp;&nbsp;PEZDEPORT</label>
                                  </div>
                                  <div class="md-form col-md-2 mt-5">
                                    <input mdbInputDirective type="text" id="formNdeportpro" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formNdeportpro">&nbsp;&nbsp;&nbsp;&nbsp;NDEPORTPRO</label>
                                  </div>
                                  <div class="md-form col-md-2 mt-5">
                                    <input mdbInputDirective type="text" id="formCazaPieln" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formCazaPieln">&nbsp;&nbsp;&nbsp;&nbsp;CAZA.PIELN</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">PESTEN:</label>
                                </div>
                                <div class="md-form col-md-2 mt-20">
                                    <input mdbInputDirective type="text" id="formPesten" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formPesten"></label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMSTATN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComstatn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"></textarea>
                                    <label for="formComstatn">Anote</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Distribución:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row  mx-auto ">
                                <ng2-smart-table [settings]="settings_Distribucion1" [source]="characters_Distribucion1">
                                </ng2-smart-table>
                            </div>
                            <div class="row  mx-auto ">
                                <ng2-smart-table [settings]="settings_Distribucion2" [source]="characters_Distribucion2">
                                </ng2-smart-table>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">ELEVMIN:</label>
                                </div>
                                <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formElevmin" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto">
                                      <label for="formElevmin"></label>
                                  </div>
                                  <div class="md-form col-md-2 mt-5 ">
                                    <input mdbInputDirective type="text" id="formElevmax" class="form-control"  data-error="incorrecto, minimo 3 caracteres"
                                      data-success="correcto" required>
                                      <label for="formElevmax">&nbsp;&nbsp;&nbsp;&nbsp;ELEVMAX:</label>
                                  </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMDISTG:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComdistg" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"></textarea>
                                    <label for="formComdistg">Anote</label>
                                  </div>                            
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMDISTN:</label>
                                </div>
                                <div class="md-form  col-md-7 mt-5">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea mdbInputDirective type="text" id="formComdistn" class="md-textarea form-control" rows="3" data-error="incorrecto, minimo de 5 caracteres"
                                      data-success="correcta"></textarea>
                                    <label for="formComdistn">Anote</label>
                                  </div>                            
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->

                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionVertebradosNacional.select('tab-selectbyid2')" mdbWavesEffect>Siguiente</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 2 -->
            <ngb-tab id="tab-selectbyid2">
                <ng-template ngbTabTitle>
                    <b>2</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Migración:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">RESIDENTE:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">REPN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMMIGG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMMIGN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Habitat:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">MARINO:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">FLUVIAL:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">LACUSTRE:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">PALUSTRE:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">TERRESTRE:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">SUBTERRAN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">FACTORESPE:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMHABG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMHABREP:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMHABN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionVertebradosNacional.select('tab-selectbyid1')" mdbWavesEffect>Atras</button>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionVertebradosNacional.select('tab-selectbyid3')" mdbWavesEffect>Siguiente</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 3 -->
            <ngb-tab id="tab-selectbyid3">
                <ng-template ngbTabTitle>
                    <b>3</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Hábitos alimenticios:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">HABITOSALIM:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMALIMG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMALIMN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionVertebradosNacional.select('tab-selectbyid2')" mdbWavesEffect>Atras</button>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionVertebradosNacional.select('tab-selectbyid4')" mdbWavesEffect>Siguiente</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 4 -->
            <ngb-tab id="tab-selectbyid4">
                <ng-template ngbTabTitle>
                    <b>4</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Ecología:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMECOLG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMECOLN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Fenología/Estacionalidad:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">FENOLOGIA:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMFENOLG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMFENOLN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Reproducción:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COLREP:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMREPG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMREPN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionVertebradosNacional.select('tab-selectbyid3')" mdbWavesEffect>Atras</button>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionVertebradosNacional.select('tab-selectbyid5')" mdbWavesEffect>Siguiente</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
            <!-- página 5 -->
            <ngb-tab id="tab-selectbyid5">
                <ng-template ngbTabTitle>
                    <b>5</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Manejo:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMMANEJOG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">COMMANEJON:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Atributos misceláneos:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">USOECONOM:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">LONGITUD:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Campos opcionales:</h5>
                            </div>
                            <!-- fin modal-header -->

                            <div class="row  mx-auto ">
                                <ng2-smart-table [settings]="settings_CamposOpcionales" 
                                                 [source]="characters_CamposOpcionales">
                                </ng2-smart-table>
                            </div>
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Referencias:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">REFG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Mantenimiento del registro:</h5>
                            </div>
                            <!-- fin modal-header -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">EDICIONG:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="">EDICIONN:</label>
                                </div>
                            </div>
                            <!-- fin row -->
                        </div>
                        <!-- fin modal-content -->
                    </form>
                    <!-- fin form -->
                    <div class="text-center ">
                        <p>
                            <button class="btn btn-cyan waves-light" (click)="fCaracterizacionVertebradosNacional.select('tab-selectbyid4')" mdbWavesEffect>Atras</button>
                            <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Guardar</button>
                            <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
                        </p>
                    </div>
                </ng-template>
                <!-- fin ng-template -->
            </ngb-tab>
            <!-- fin ngb-tab -->
        </ngb-tabset>
        <!-- fin ngb-tabset -->
    </div>
    <!-- fin card-body -->
</div>
<!-- fin card-content -->