<div class="card">
  <div class="card-body">
    <form [formGroup]="fuenteForm">

      <!------------------------CODFUENTE------------------------------ -->
      <div class="row">
        <div class="md-form col-sm-4">
          <input mdbInputDirective type="text" id="form1" class="form-control" data-error="incorrecto, minimo 3 caracteres" data-success="correcto" formControlName="codfuente"
            required>
          <label for="form1" class="font-weight-light">CODFUENTE</label>
        </div>
      </div>
<!------------------------CITA------------------------------ -->
<div class="row">
         
    <div class="md-form  col-xs-6 col-sm-7">
      <i class="fa fa-pencil prefix"></i>
      <textarea mdbInputDirective type="text" 
       id="form2" class="md-textarea form-control" rows="3"
        data-error="incorrecto, minimo de 5 caracteres" data-success="correcta" formControlName="cita" required></textarea>
      <label for="form2">CITA</label>
      </div>        
  </div>
  <!--------------------------ARCHIVADO---------------------------- -->
  <div class="row">
      <div class="col-xs-6 col-sm-1">
          <label for="">ARCHIVADO:</label>
      </div> 
      <div class="col-xs-6 col-sm-3">  
          <select class="form-control" formControlName="archivado" editable required>
            <option *ngFor="let archivo of archivado" [value]="archivo">{{archivo}}</option>
          </select>
        </div>
    </div>  
    <br>


      <div class="text-center py-4 mt-3">
        <button class="btn btn-cyan waves-light" type="submit" [disabled]="!fuenteForm.valid" mdbWavesEffect>Guardar</button>
        <button class="btn btn-cyan waves-light" type="reset" mdbWavesEffect>Cancelar</button>
      </div>
    </form>
  </div>
</div>
<p>Form value: {{ fuenteForm.value | json }}</p>