@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.color-panel-green .mat-select-content{
    background: rgba(0, 255, 0, 0.5);
  }

  .mt5 {
    margin-top: 5px  !important;
  }
  .mt10 {
    margin-top: 10px  !important;
  }
  .mt15 {
    margin-top: 15px  !important;
  }
  .mt-1{
    margin-top: -1px  !important;
  }
  .mt-3{
    margin-top: -3px  !important;
  }
  .mt-5{
    margin-top: -5px  !important;
  }
  .mt-7{
    margin-top: -7px  !important;
  }
  .mt-10{
    margin-top: -10px  !important;
  }
  .mt-15{
    margin-top: -15px  !important;
  }
  .mt-20{
    margin-top: -20px  !important;
  }
.base-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}  
.base-full-width {
  width: 100%;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
td, th {
  width: 25%;
}
tr.base-element-row:hover{
  background: rgba(0, 255, 0, 0.5);
} 
tr.base-element-row:active{
  background: #efefef;
}
.color-green
{
  background-color: rgba(0, 255, 0, 0.5) !important;
}

.fondo {
  background-color: #555;
}
.ml-alinear {
  margin-left: 100px  !important;;  
}
.mt-alinear {
  margin-top: -1145px  !important;
}
.tab-black {
  background-color: #000;
}
.base-stretched-tabs {
  max-width: 1250px;
}
.base-tam-y {
  max-height: 600px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}