.td {

    padding: 35px ;
   
}
.mt-0 {
    margin-top: 0px  !important;
  }
  .mt-2 {
    margin-top: -2px  !important;
  }
  .mt-1 {
    margin-top: -1px  !important;
  } 
  .mt10 {
    margin-top: 10px  !important;
  } 