<div class="card-content white">
  <mat-card>
    <form class="base-form">
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Codigo Fuente">
      </mat-form-field>
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Cita">
      </mat-form-field>
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Archivado">
      </mat-form-field>
      <div class="mat-elevation-z8" class="base-form">
        <button mat-raised-button class="color-green">Buscar</button>
        <button mat-raised-button class="color-green">Buscar Todos</button>
      </div>
    </form>
  </mat-card>
</div>