<h1 mat-dialog-title>CDC | Foto</h1>
<div mat-dialog-content>

  <mat-card>
    <form class="base-form">
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Autor">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Descripcion"></textarea>
      </mat-form-field>
      <mat-form-field class="base-full-width">
        <input matInput placeholder="Lugar">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Comentario"></textarea>
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker class="ui-datepicke"></mat-datepicker>
        </mat-form-field>
    </form>
  </mat-card>
</div>
<div mat-dialog-actions class="mat-elevation-z8" class="base-form">
  <button mat-raised-button class="color-green" [mat-dialog-close]="true" cdkFocusInitial>Editar</button>

</div>